﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>


    //Ext.onReady(function () {
    //    var a = Ext.decode('@Model');
    //
    //    App.txtCodigo.setValue(a);
    //
    //    if (App.txtCodigo.getValue()) {
    //        var selecionados = @Model
    //
    //        Globalsys.Util.request({
    //            url: '@Url.Action("ObterSelecionados", "AcessoCustomizadoLote")',
    //            params: {
    //
    //                selecionados: selecionados
    //            },
    //            success: function (response, opts) {
    //
    //                App.grdPessoa.store.loadData(response);
    //                App.grdPessoa.store.commitChanges();
    //
    //            }
    //        });
    //    }
    //
    //});

    function limparItemClassificacao() {
        App.wndClassificacao.hide();
        App.frmItemClassificacao.form.reset();
    }

    function salvarItemClassificacao() {
        if (!App.frmItemClassificacao.isValid()) {
            return;
        }

        var classificacaoJuridica = App.frmItemClassificacao.form.getFieldValues(true);

        Globalsys.Util.request({
            url: '@Url.Action("Alterar", "ClassificacaoJuridica")',
            params: {
                classJuridicaA: classificacaoJuridica
            },
            success: function (response, opts) {
                limparItemClassificacao();
                Globalsys.Util.updateModel(App.grdItensClassificacao, response);
                Ext.Msg.show({ title: 'Confirmação', icon: Ext.MessageBox.INFO, msg: 'Registro salvo com sucesso.', buttons: Ext.Msg.OK });
            }
        });
    }

    var commandClassificacao = function (command, record) {
        
        switch (command) {
            case 'Selecionar':
                limparItemClassificacao();
                App.frmItemClassificacao.form.setValues(record.data);
                App.wndClassificacao.show();
                break;

            case 'AlterarStatus':
                Globalsys.Util.request({
                    url: '@Url.Action("AtivarInativar", "ClassificacaoJuridica")',
                    params: {
                        codigo: record.data.Codigo
                    },
                    success: function (response, opts) {
                        
                        Globalsys.Util.updateModel(App.grdItensClassificacao, response);
                        Ext.Msg.show({ title: 'Confirmação', icon: Ext.MessageBox.INFO, msg: 'Status alterado com sucesso.', buttons: Ext.Msg.OK });
                    }
                });
                break;

            default:
                break;
        }
    };


    var prepareStatus = function (v, metaData) {
        if (v) {
            metaData.style = 'background-color : Green; color: White;';
            return metaData.column.trueText;
        } else {
            metaData.style = 'background-color : Red; color: White;';
            return metaData.column.falseText;
        }
    };

    var alteraIcon = function (grid, toolbar, rowIndex, record) {
        var statusButton = toolbar.items.get(1);

        if (record.data.Ativo) {
            statusButton.setIconCls("#Delete");
        }
        else {
            statusButton.setIconCls("#Accept");
        }
    };

</script>

@(
 Html.X().Viewport().Layout(LayoutType.Fit).Border(false)
    .Items(
        Html.X().Panel(new Panel()
        {
            Border = false,
            Layout = LayoutType.Fit.ToString(),
        }).Items(
            Html.X().FormPanel(new FormPanel()
            {
                Title = "CLASSIFICAÇÃO JURÍDICA",
                Icon = Icon.ApplicationForm,
                AutoScroll = true,
            }).Items(

                Html.X().Panel(new Panel()
                {
                    Border = false,
                    HideMode = HideMode.Offsets,
                    //BottomBar = {
                    //    Html.X().Toolbar().Items(
                    //    Html.X().Button().Text("Salvar").Icon(Icon.Disk).Handler("salvar();"),
                    //    Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("cancelar();"))
                    //}
                })
                .Items(

                    Html.X().FieldSet()
                    .Title("Classificação")
                    .MarginSpec("margin: 5px 5px 5px 0px;")
                    .Anchor("15%")
                    .Items(

                        Html.X().Panel()
                        .Layout(LayoutType.HBox)
                        .Padding(3)
                        .Border(false)
                        .StyleSpec("margin-bottom: 3px;")
                        .Items(
                            //RUIM
                            Html.X().Label().StyleSpec("background-color : #FF0000; height:22px;").Html("<pre style='margin-top: 5px;color: white;'>   ruim   </pre>"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("DE").ID("txtRuimMin").Width(85).FieldLabel("Min").LabelWidth(25).StyleSpec("margin-right : 4px;"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("ATÉ").ID("txtRuimMax").Width(85).FieldLabel("Max").LabelWidth(25).StyleSpec("margin-right : 4px;"),
                            Html.X().Label().Html("<pre>    </pre>"),

                            //MEDIO
                            Html.X().Label().StyleSpec("background-color : #FFFF00; height:22px;").Html("<pre style='margin-top: 5px;'>   médio   </pre>"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("DE").ID("txtMedioMin").Width(85).FieldLabel("Min").LabelWidth(25).StyleSpec("margin-right : 4px;"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("ATÉ").ID("txtMedioMax").Width(85).FieldLabel("Max").LabelWidth(25).StyleSpec("margin-right : 4px;"),
                            Html.X().Label().Html("<pre>    </pre>"),

                            //BOM
                            Html.X().Label().StyleSpec("background-color : #006400; height:22px;").Html("<pre style='margin-top: 5px;color: white;'>    bom    </pre>"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("DE").ID("txtBomMin").Width(85).FieldLabel("Min").LabelWidth(25).StyleSpec("margin-right : 4px;"),
                            Html.X().TextField().Width(70).ReadOnly(true).EmptyText("ATÉ").ID("txtBomMax").Width(85).FieldLabel("Max").LabelWidth(25)
                        )

                    )
                ),


                Html.X().Panel(new Panel()
                {
                    Border = false,
                    HideMode = HideMode.Offsets,
                    Layout = LayoutType.Fit.ToString()
                })
                .Items(
                    Html.X().GridPanel(new GridPanel()
                    {
                        ID = "grdItensClassificacao",
                        Title = "Itens",
                        ForceFit = true
                    })
                    .Store(
                        Html.X().Store()
                        .PageSize(10)
                        .RemotePaging(false)
                        .Model(
                            Html.X().Model()
                            .IDProperty("Codigo")
                            .Fields(
                                Html.X().ModelField().Name("ItemClassificacao").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Letra").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Formula").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("Peso").Type(ModelFieldType.Int),
                                Html.X().ModelField().Name("Pontua").Type(ModelFieldType.Boolean),
                                Html.X().ModelField().Name("Ativo").Type(ModelFieldType.Boolean)
                            )
                        )
                        .Proxy(
                            Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodos", "ClassificacaoJuridica") })
                            .Reader(new JsonReader { Root = "Data" })
                        )
                    )
                    .ColumnModel(
                        Html.X().CommandColumn().Width(50)
                        .PrepareToolbar("alteraIcon")
                        .Commands(
                            Html.X().GridCommand().CommandName("Selecionar").Icon(Icon.NoteEdit),
                            Html.X().GridCommand().CommandName("AlterarStatus").Icon(Icon.Accept)
                        ).Listeners(a => a.Command.Handler = "commandClassificacao(command,record);"),
                        Html.X().Column().Text("Item").DataIndex("ItemClassificacao").Flex(1),
                        Html.X().Column().Text("Letra").DataIndex("Letra"),
                        Html.X().Column().Text("Fórmula").DataIndex("Formula"),
                        Html.X().Column().Text("Peso").DataIndex("Peso"),
                        Html.X().BooleanColumn().FalseText("Não").TrueText("Sim").Text("Pontua?").DataIndex("Pontua"),
                        Html.X().BooleanColumn().FalseText("INATIVO").TrueText("ATIVO").Text("Status").DataIndex("Ativo").Renderer("prepareStatus")
                        //.HeaderItems(Html.X().TextField()
                        //    .ID("StatusFilter")
                        //    .Listeners(l => { l.Change.Handler = "applyFilter(this);"; })
                        //)
                    )
                    //.Plugins(
                    //    Html.X().FilterHeader()
                    //)
                    .BottomBar(
                        Html.X().PagingToolbar()
                        .HideRefresh(true)
                    )

                )


            )
        )
    )
)



@(
 Html.X().Window().Layout(LayoutType.Fit).Border(false)
    .ID("wndClassificacao")
    .Icon(Icon.Bookmark)
    .Title("Item de Classificação Jurídica")
    .Hidden(true)
    .Height(200)
    .Width(500)
    .Modal(true)
    .Items(
        Html.X().Panel(new Panel()
        {
            Border = false,
            Layout = LayoutType.Fit.ToString()
        })
        .Items(
            Html.X().FormPanel(new FormPanel()
            {
                ID = "frmItemClassificacao",
                BodyPadding = 5,
                BottomBar = {
                    Html.X().Toolbar().Items(
                        Html.X().Button().Text("Salvar").Icon(Icon.DiskEdit).Handler("salvarItemClassificacao();"),
                        Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("limparItemClassificacao();")
                    )
                }
            }).Items(

                Html.X().Hidden(new Hidden() { Name = "Codigo" }),
                Html.X().TextField(new TextField()
                {
                    Name = "ItemClassificacao",
                    ReadOnly = true,
                    FieldLabel = "Item Classifição",
                    Width = 450,
                }),
                Html.X().TextField(new TextField()
                {
                    ID = "txtLetra",
                    Name = "Letra",
                    FieldLabel = "Letra",
                    Width = 175,
                    //LabelWidth = 150,
                    //EmptyText = "Turno de Trabalho",
                    AllowBlank = false,
                    IndicatorText = "*",
                    StyleSpec = "color: red; font-weight: bold;",
                    IndicatorTip = "Campo requerido.",
                    MinLength = 1,
                    MaxLength = 2,
                    EnforceMaxLength = true,
                    Regex = "^[A-Z]{1,2}$"
                }),
                Html.X().TextField(new TextField()
                {
                    ID = "txtForula",
                    Name = "Formula",
                    FieldLabel = "Fórmula",
                    Width = 300,
                    AllowBlank = true,
                    //IndicatorText = "*",
                    //StyleSpec = "color: red; font-weight: bold;",
                    //IndicatorTip = "Campo requerido.",
                    EnforceMaxLength = true,
                    MaxLength = 100,
                    //Regex = "^[A-Z]{1,1}$"
                }),
                Html.X().NumberField(new NumberField()
                {
                    ID = "txtPeso",
                    Name = "Peso",
                    FieldLabel = "Peso",
                    Width = 175,
                    //LabelWidth = 150,
                    //EmptyText = "Turno de Trabalho",
                    AllowBlank = true,
                    IndicatorText = "*",
                    StyleSpec = "color: red; font-weight: bold;",
                    IndicatorTip = "Campo requerido."//,
                    //MinLength = 1,
                    //MaxLength = 2
                    //Regex = "^[0-1]{1,1}$"
                }),
                Html.X().Checkbox(new Checkbox() {
                    ID = "txtPontua",
                    Name = "Pontua",
                    FieldLabel = "Pontua?",
                    //Width = 500,
                    //LabelWidth = 150,
                    //EmptyText = "Turno de Trabalho",
                })


            )
        )
    )
)