﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href=@Url.Content("/Content/css/credencial/credencial.css") rel="stylesheet" />

<style>
    #mainRoom, #mainRoomFrente, #mainRoomVerso, #mainRoomWin, #mainRoomFrenteWin, #mainRoomVersoWin { width: 10cm; height: 10cm; }

</style>

<script>

    $(document).ready(function () {
        launchDDFrente();
        launchDDVerso();
    });

    function launchDDFrente() {
        Ext.application({
            name: 'DNDFrente',

            launch: function () {

                var mainRoomFrente = Ext.get('mainRoomFrente').select('div');
                Ext.each(mainRoomFrente.elements, function (el) {
                    if (el.id != 'backgroundFrente') {
                        var dd = Ext.create('Ext.dd.DD', el, 'mainRoomFrenteDDGroup', {
                            isTarget: false
                        });
                        Ext.apply(dd, overridesFrenteOut);

                        if (Ext.get('mainRoomFrente').select('div[id=backgroundFrente]').elements.length === 1 &&
                            Ext.get('mainRoomFrente').select('div').elements.length !== 2) {
                            var parent = Ext.get('mainRoomFrente').dom;
                            var child = Ext.get('mainRoomFrente').select('div[id=backgroundFrente]').elements[0]//Ext.get('backgroundFrente').dom;
                            parent.removeChild(child);
                        }
                    }
                });

                var tableFrente = Ext.get('tableFrente').select('div');
                Ext.each(tableFrente.elements, function (el) {
                    var dd = Ext.create('Ext.dd.DD', el, 'tableFrenteDDGroup', {
                        isTarget: false
                    });
                    Ext.apply(dd, overridesFrente);

                    if (Ext.get('mainRoomFrente').select('div[id=backgroundFrente]').elements.length === 0 &&
                        Ext.get('mainRoomFrente').select('div').elements.length === 0) {
                        $("#mainRoomFrente").append("<div id='backgroundFrente'><div class='description'>FRENTE</div></div>");
                    }
                });

                var mainTargetOutFrente = Ext.create('Ext.dd.DDTarget', 'tableFrente', 'mainRoomFrenteDDGroup', {
                    ignoreSelf: false
                });
                var mainTargetFrente = Ext.create('Ext.dd.DDTarget', 'mainRoomFrente', 'tableFrenteDDGroup', {
                    ignoreSelf: false
                });

            }
        });
    }

    function launchDDVerso() {
        Ext.application({
            name: 'DNDVerso',

            launch: function () {

                var mainRoomVerso = Ext.get('mainRoomVerso').select('div');
                Ext.each(mainRoomVerso.elements, function (el) {
                    if (el.id != 'backgroundVerso') {
                        var dd = Ext.create('Ext.dd.DD', el, 'mainRoomVersoDDGroup', {
                            isTarget: false
                        });
                        Ext.apply(dd, overridesVersoOut);

                        if (Ext.get('mainRoomVerso').select('div[id=backgroundVerso]').elements.length === 1 &&
                            Ext.get('mainRoomVerso').select('div').elements.length !== 2) {
                            var parent = Ext.get('mainRoomVerso').dom;
                            var child = Ext.get('mainRoomVerso').select('div[id=backgroundVerso]').elements[0]//Ext.get('backgroundVerso').dom;
                            parent.removeChild(child);
                        }
                    }
                });



                var tableVerso = Ext.get('tableVerso').select('div');
                Ext.each(tableVerso.elements, function (el) {
                    var dd = Ext.create('Ext.dd.DD', el, 'tableVersoDDGroup', {
                        isTarget: false
                    });
                    Ext.apply(dd, overridesVerso);

                    if (Ext.get('mainRoomVerso').select('div[id=backgroundVerso]').elements.length === 0 &&
                        Ext.get('mainRoomVerso').select('div').elements.length === 0) {
                        //var parent = document.getElementById('mainRoomVerso'); //Ext.get('mainRoomVerso');
                        //parent.innerHTML = "<div id='backgroundVerso'><div class='description'>VERSO</div></div>";
                        $("#mainRoomVerso").append("<div id='backgroundVerso'><div class='description'>VERSO</div></div>");
                    }
                });

                var mainTargetOutVerso = Ext.create('Ext.dd.DDTarget', 'tableVerso', 'mainRoomVersoDDGroup', {
                    ignoreSelf: false
                });

                var mainTargetVerso = Ext.create('Ext.dd.DDTarget', 'mainRoomVerso', 'tableVersoDDGroup', {
                    ignoreSelf: false
                });

            }
        });
    }

    var overridesFrente = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }
            launchDDFrente();

            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            $("#mainRoomFrente").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            $("#mainRoomFrente").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elMainRoom = Ext.get('mainRoomFrente');
            if (this.lastTarget.id != id) {
                elMainRoom.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDDFrente();
        }
    };

    var overridesVerso = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }
            launchDDVerso();

            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            $("#mainRoomVerso").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            $("#mainRoomVerso").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elMainRoom = Ext.get('mainRoomVerso');
            if (this.lastTarget.id != id) {
                elMainRoom.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDDVerso();
        }
    };

    var overridesFrenteOut = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }

            launchDDFrente();
            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            //$("#mainRoomFrente").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            launchDDFrente();
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            //$("#mainRoomFrente").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elTables = Ext.get('tableFrente');
            if (this.lastTarget.id != id) {
                elTables.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDDFrente();
        }
    };

    var overridesVersoOut = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }

            launchDDVerso();
            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            //$("#mainRoomVerso").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            launchDDVerso();
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            //$("#mainRoomVerso").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elTables = Ext.get('tableVerso');
            if (this.lastTarget.id != id) {
                elTables.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDDVerso();
        }
    };

    var adicionarToolTip = function (target, html) {
        Ext.create('Ext.tip.ToolTip', {
            target: target,
            html: html
        });
    }

    var chgListaCampoEditar = function () {
        var ladoCampoEditarMostrar = App.rdgLadoEditarCampo.getValue().lado;
        App.cmbCampoFrente.setVisible(false);
        App.cmbCampoVerso.setVisible(false);
        if (ladoCampoEditarMostrar == 'frente')
            App.cmbCampoFrente.setVisible(true);
        else if (ladoCampoEditarMostrar == 'verso')
            App.cmbCampoVerso.setVisible(true);
    }

    var aplicarFonte = function () {
        var cor = document.getElementById("pckCor").value;
        var campo = "";
        var ladoCampoEditar = App.rdgLadoEditarCampo.getValue().lado;
        if (ladoCampoEditar == 'frente')
            campo = App.cmbCampoFrente.getValue();
        else if (ladoCampoEditar == 'verso') {
            var isChecked = App.chkFrenteVerso.getValue();
            if (!isChecked) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível alterar fontes de um lado inativo.', buttons: Ext.Msg.OK });
                return;
            }
            campo = App.cmbCampoVerso.getValue();
        }

        if (campo == undefined || campo == "") {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe o campo a ser editado.', buttons: Ext.Msg.OK });
            return;
        }

        var fonte = App.cmbFonte.getRawValue();
        var tamanho = App.txtTamanhoFonte.getValue() == undefined ? null : App.txtTamanhoFonte.getValue() + "pt";
        //if ((fonte == undefined || fonte == "") && (tamanho == undefined || tamanho == "")) {
        //    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe o tamanho ou a fonte do campo a ser editado.', buttons: Ext.Msg.OK });
        //    return;
        //}

        if (!(fonte == undefined || fonte == ""))
            document.getElementById(campo).style.fontFamily = fonte;

        if (!(tamanho == undefined || tamanho == ""))
            document.getElementById(campo).style.fontSize = tamanho;

        document.getElementById(campo).style.color = cor;
        document.getElementById(campo).style.fontWeight = (App.chkNegrito.checked == true ? 'bold' : 'normal');
        App.frmCampo.form.reset();
    };

    var adicionarCampo = function () {
        var descricao = App.txtCampoPersonalizado.getRawValue();
        if (descricao == undefined || descricao == "") {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe a descrição para o novo campo.', buttons: Ext.Msg.OK });
            return;
        }

        var lado = App.rdgLadoNovoCampo.getValue().lado;
        var dsId = descricao.replace(/\W/g, '')
        var id = (dsId.length > 10 ? dsId.substring(0, 10) : dsId) + (new Date().getTime());
        if (lado == 'frente') {
            $("#tableFrente").append("<div class='campo edt txt campoPersonalizado' id='" + id + "'>" + descricao + "</div>");
            launchDDFrente();
            App.cmbCampoFrente.store.add({ Codigo: id, Nome: descricao });
            App.cmbCampoFrente.store.commitChanges();
        } else if (lado == 'verso') {
            if (!App.chkFrenteVerso.getValue()) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível adicionar um campo novo em um lado inativado.', buttons: Ext.Msg.OK });
                return;
            }
            $("#tableVerso").append("<div class='campo edt txt campoPersonalizado' id='" + id + "'>" + descricao + "</div>");
            launchDDVerso();
            App.cmbCampoVerso.store.add({ Codigo: id, Nome: descricao });
            App.cmbCampoVerso.store.commitChanges();
        }
        else {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe em qual lado deseja adicionar o novo campo.', buttons: Ext.Msg.OK });
            return;
        }

        App.frmCampoPersonalizado.form.reset();
    }

    var aplicarDimensao = function () {

        var altura = App.nmDmsAltura.getValue();
        var largura = App.nmDmsLargura.getValue();

        if (altura == undefined || altura == "" || largura == undefined || largura == "") {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe as dimensões da credencial.', buttons: Ext.Msg.OK });
            return;
        }

        var elFrente = document.getElementById("mainRoomFrente");
        var elVerso = document.getElementById("mainRoomVerso");
        var tbFrente = document.getElementById("tableFrente");
        var tbVerso = document.getElementById("tableVerso");

        elFrente.style.height = altura + "cm";
        elVerso.style.height = elFrente.style.height;

        elFrente.style.width = largura + "cm";
        elVerso.style.width = elFrente.style.width;

        tbFrente.style.width = elFrente.style.width;
        tbVerso.style.width = elFrente.style.width;
    }


    var addImagem = function(fileUploader, aux) {

        var file = fileUploader.fileInputEl.dom.files[0];
        if (file.size > 4194304) {
            App.btnFundoFrente.reset();
            App.btnFundoVerso.reset();
            App.btnAdionaImagem.reset();
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível anexar, o tamanho do arquivo excede 4MB.',
                buttons: Ext.Msg.OK
            });
            return;
        }

        var type = file.type.split('/')[0];
        var extensao = file.type.split('/')[1];
        if (type != 'image' || $.inArray(extensao, ['jpg', 'jpeg', 'png']) == -1) {
            App.btnFundoFrente.reset();
            App.btnFundoVerso.reset();
            App.btnAdionaImagem.reset();
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'É permitido importar apenas imagem JPG, JPEG ou PNG.',
                buttons: Ext.Msg.OK
            });
            return;
        }

        var reader = new FileReader();
        reader.onloadend = function(evt) {
            switch (aux) {
            case 'frente':
                document.getElementById("mainRoomFrenteChild").src = evt.target.result;
                break;
            case 'verso':
                document.getElementById("mainRoomVersoChild").src = evt.target.result;
                break;
            case 'imagem':
                var lado = App.rdgLadoNovaImagem.getValue().lado;
                if (lado != 'frente' && lado != 'verso') {
                    App.btnAdionaImagem.reset();
                    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Informe em qual lado deseja adicionar a nova imagem.', buttons: Ext.Msg.OK });
                    return;
                }

                if (lado == 'verso' && !App.chkFrenteVerso.getValue()) {
                    App.btnAdionaImagem.reset();
                    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível adicionar imagem em um lado inativo.', buttons: Ext.Msg.OK });
                    return;
                }

                var altura = App.nmImgAltura.getValue();
                var largura = App.nmImgLargura.getValue();
                if (altura == undefined || altura == "" || largura == undefined || largura == "") {
                    App.btnAdionaImagem.reset();
                    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Para adicionar uma imagem, informe as dimensões da mesma.', buttons: Ext.Msg.OK });
                    return;
                }

                var elFrente = document.getElementById("mainRoomFrente");
                var elVerso = document.getElementById("mainRoomVerso");
                if (altura > elFrente.clientHeight || largura > elFrente.clientWidth) {
                    App.btnAdionaImagem.reset();
                    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível adicionar uma imagem com as dimensões maior que a da credencial.', buttons: Ext.Msg.OK });
                    return;
                }

                var img = "<img src='" + evt.target.result + "' width='" + largura + "cm' height='" + altura + "cm' style='width:" + largura + "cm ;height:" + altura + "cm;' />";


                if (lado == 'frente') {
                    $("#tableFrente").append("<div class='campo edt imagem'>" + img + "</div>");
                    launchDDFrente();
                } else if (lado == 'verso') {
                    $("#tableVerso").append("<div class='campo edt imagem'>" + img + "</div>");
                    launchDDVerso();
                }
                break;
            default:
                break;
            }
            //if (aux == 'frente')
            //    document.getElementById("mainRoomFrenteChild").src = evt.target.result;
            //else if (aux == 'verso')
            //    document.getElementById("mainRoomVersoChild").src = evt.target.result;

        };
        reader.readAsDataURL(file);
    };

    var filtraTiposArquivos = function(cmp) {
        cmp.fileInputEl.set({
            accept: '.jpg,.jpeg,.png*' // or w/e type
        });
    };

    var chgFrenteVerso = function() {
        var isChecked = App.chkFrenteVerso.getValue();
        if (isChecked) {
            App.btnFundoVerso.setVisible(true);
            document.getElementById("mainRoomVerso").hidden = false;
            $("#tableVerso").css("visibility", "initial");
            return;
        }


        App.rdgLadoEditarCampo.reset();

        App.btnFundoVerso.setVisible(false);
        document.getElementById("mainRoomVerso").hidden = true;
        $("#tableVerso").css("visibility", "hidden");
    };

    var alteraIcon = function (grid, toolbar, rowIndex, record) {
        var statusButton = toolbar.items.get(1);
        if (record.data.Ativo) {
            statusButton.setIconCls("#Delete");
        } else {
            statusButton.setIconCls("#Accept");
        }
    };

    var prepareStatus = function (v, metaData) {
        if (v) {
            metaData.style = 'background-color : Green; color: White;';
            return metaData.column.trueText;
        } else {
            metaData.style = 'background-color : Red; color: White;';
            return metaData.column.falseText;
        }
    };

    //var setarDisable = function (boleano) {
    //    if (boleano) {
    //        App.cmbTipoCredencial.disable(boleano);
    //    } else
    //        App.cmbTipoCredencial.enable(!boleano);
    //};

    //var salvarClick = function () {    
    //    var bg = document.getElementById("mainRoomFrenteChild").src;
    //    if (bg.length > 0)
    //        Globalsys.Util.obterBlob(bg, salvar);
    //    else
    //        salvar();
    //};

    var salvar = function () {
        if (!App.frmModelo.isValid()) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível salvar. O formulário possui campos não preenchidos.',
                buttons: Ext.Msg.OK
            });
            return;
        }

        var semConteudoFrente = $("#mainRoomFrente").children("#backgroundFrente").length ? true : false;
        if (semConteudoFrente) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível salvar um modelo de credencial sem conteúdo.',
                buttons: Ext.Msg.OK
            });
            return;
        }

        var semConteudoVerso = $("#mainRoomVerso").children("#backgroundVerso").length ? true : false;
        if (App.chkFrenteVerso.getValue() && semConteudoVerso) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível salvar. Insira o conteúdo do verso ou inative antes de salvar.',
                buttons: Ext.Msg.OK
            });
            return;
        }
        
        var altura = App.nmDmsAltura.getValue();
        var largura = App.nmDmsLargura.getValue();
        if (!(altura > 0 && largura > 0)) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível salvar. Informe as dimensões da credencial.',
                buttons: Ext.Msg.OK
            });
            return;
        }
        

        var fundoFrente = document.getElementById("mainRoomFrenteChild").src.split(',')[1];
        var fundoVerso = document.getElementById("mainRoomVersoChild").src.split(',')[1];
        if (fundoFrente == undefined) fundoFrente = "";
        if (fundoVerso == undefined) fundoVerso = "";

        $("#mainRoomFrenteChild").remove();
        $("#mainRoomVersoChild").remove();
        var modelo = App.frmModelo.form.getFieldValues();
        var modeloCredencial = {
            Nome: App.txtNome.getValue(),
            TipoCredencial: App.cmbTipoCredencial.getValue(),
            HtmlFrente: $("#mainRoomFrente").html(),
            HtmlVerso: semConteudoVerso ? undefined : $("#mainRoomVerso").html(),
            Altura: altura,
            Largura: largura
        };

        if (!modelo.Codigo) {
            Globalsys.Util.request({
                url: '@Url.Action("Incluir", "ModeloCredencial")',
                params: {
                    modeloCredencial: modeloCredencial,
                    fundoFrente: fundoFrente,
                    fundoVerso: fundoVerso
                },
                success: function (response, opts) {
                    App.grdModelo.store.add(response);
                    App.grdModelo.store.commitChanges();
                    cancelar();
                    Ext.Msg.show({
                        title: 'Confirmação',
                        icon: Ext.MessageBox.INFO,
                        msg: 'Modelo de Credencial incluído com sucesso.',
                        buttons: Ext.Msg.OK
                    });
                },
                failure: function (response, opts) {
                    cancelar();
                    //document.getElementById("mainRoomFrenteChild").src = bg;
                }
            });

        } else {

            modeloCredencial.Codigo = modelo.Codigo;

            Globalsys.Util.request({
                url: '@Url.Action("Alterar", "ModeloCredencial")',
                params: {
                    modeloCredencial: modeloCredencial,
                    fundoFrente: fundoFrente,
                    fundoVerso: fundoVerso
                },
                success: function (response, opts) {
                    Globalsys.Util.updateModel(App.grdModelo, response);
                    //setarDisable(false);
                    cancelar();
                    Ext.Msg.show({
                        title: 'Confirmação',
                        icon: Ext.MessageBox.INFO,
                        msg: 'Modelo de Credencial alterado com sucesso.',
                        buttons: Ext.Msg.OK
                    });
                },
                failure: function (response, opts) {
                    cancelar();
                    document.getElementById("mainRoomFrenteChild").src = bg;
                }
            });
            }
    };


        var commandModelo = function (command, record) {

            var codigo = record.data.Codigo;

            if (command == "AlterarStatus") {

                Globalsys.Util.request({
                    url: '@Url.Action("AtivarInativar", "ModeloCredencial")',
                    params: {
                        codigo: codigo
                    },
                    success: function (response, opts) {
                        Globalsys.Util.updateModel(App.grdModelo, response);
                    }
                });
            }
            if (command == "Selecionar") {
                Globalsys.Util.request({
                    url: '@Url.Action("Selecionar", "ModeloCredencial")',
                    params: {
                        codigo: codigo
                    },
                    success: function (response, opts) {
                        cancelar(true);
                        App.tabPagina.setActiveTab("pnlCadastro");
                        App.frmModelo.form.setValues(response);
                        App.cmbTipoCredencial.setRawValue(response.TipoCredencialNome);
                        App.frmDimensao.form.setValues(response);
                        aplicarDimensao();

                        //cancelar(true);
                        //if (response.FundoFrente) {
                        //    var blob = Globalsys.Util.base64ToBlob(response.FundoFrente, "image/jpeg"),
                        //        urlFundoFrente = window.URL.createObjectURL(blob);
                        //} else
                        //    urlurlFundoFrente = "";
                        if (response.FundoFrente)
                            document.getElementById("mainRoomFrenteChild").src = "data:image/jpeg;base64," + response.FundoFrente;
                        else
                            document.getElementById("mainRoomFrenteChild").src = "";

                        //setarDisable(true);
                        $("#mainRoomFrente").append(response.HtmlFrente);

                        var tableFrente = Ext.get('tableFrente').select('div');
                        var mainFrente = Ext.get('mainRoomFrente').select('div');
                        Ext.each(mainFrente.elements, function (el) {
                            for (var i = 0; i < tableFrente.elements.length; i++) {
                                if ((el.id == tableFrente.elements[i].id) || (el.className == tableFrente.elements[i].className)) {
                                    $(tableFrente.elements[i]).remove();
                                    break;
                                }
                            }
                        });

                        launchDDFrente();

                        //VERSO
                        if (!response.HtmlVerso) {
                            App.chkFrenteVerso.setValue(false);
                            return;
                        }
                        else
                            App.chkFrenteVerso.setValue(true);

                        //if (response.FundoVerso) {
                        //    var blob = Globalsys.Util.base64ToBlob(response.FundoVerso, "image/jpeg"),
                        //        urlFundoVerso = window.URL.createObjectURL(blob);
                        //} else
                        //    urlurlFundoVerso = "";
                        if (response.FundoVerso)
                            document.getElementById("mainRoomVersoChild").src = "data:image/jpeg;base64," + response.FundoVerso;
                        else
                            document.getElementById("mainRoomVersoChild").src = "";

                        $("#mainRoomVerso").append(response.HtmlVerso);

                        var tableVerso = Ext.get('tableVerso').select('div');
                        var mainVerso = Ext.get('mainRoomVerso').select('div');
                        Ext.each(mainVerso.elements, function (el) {
                            for (var i = 0; i < tableVerso.elements.length; i++) {
                                if ((el.id == tableVerso.elements[i].id) || (el.className == tableVerso.elements[i].className)) {
                                    $(tableVerso.elements[i]).remove();
                                    break;
                                }
                            }
                        });

                        launchDDVerso();
                    }
                });
            }
        };

    function cancelar(semRecriar) {
        //App.frmModelo.form.reset();
        App.hdnModelo.reset();
        App.txtNome.reset();
        App.cmbTipoCredencial.reset();
        App.txtDataRegistro.reset();

        App.frmCampo.reset();
        document.getElementById("pckCor").value = "#000000"
        App.frmCampoPersonalizado.reset();
        App.frmImagem.reset();
        App.frmDimensao.reset();


        //App.hdnModelo.reset()
        //App.txtNome.reset()
        //App.cmbTipoCredencial.reset()
        //App.txtDataRegistro.reset()
        //App.cmbCampoFrente.store.load();
        //App.cmbCampoVerso.store.load();

        var altPadrao = App.hdnRefAlturaCm.getValue();
        var largPadrao = App.hdnRefLarguraCm.getValue();
        App.nmDmsAltura.setValue(altPadrao);
        App.nmDmsLargura.setValue(largPadrao);
        aplicarDimensao();

        $("#mainRoomFrente").children().remove();
        $("#mainRoomFrente").append("<img id='mainRoomFrenteChild' src=''>");
        $("#mainRoomVerso").children().remove();
        $("#mainRoomVerso").append("<img id='mainRoomVersoChild' src=''>");
        //setarDisable(false);

        if (semRecriar == true)
            return;

        RestaurarCampos();
        $("#mainRoomFrenteChild").attr('src', "");
        $("#mainRoomVersoChild").attr('src', "");

        launchDDFrente();
        launchDDVerso();
    }

        function RestaurarCampos() {
            $("#tableFrente").children().remove();
            $("#tableFrente").append(
                "<div class='campo edt txt placa1' id='placa1Frente'>PLACA 1</div>",
                "<div class='campo edt txt placa2' id='placa2Frente'>PLACA 2</div>",
                "<div class='campo edt txt validade' id='validadeFrente'>VALIDADE</div>",
                "<div class='campo edt txt numero' id='numeroFrente'>NÚMERO REGISTRO</div>",
                "<div class='campo edt txt dataInspecao' id='dataInspecaoFrente'>DATA INSPEÇÃO</div>",
                "<div class='campo edt txt indicadorCorporativo' id='indicadorCorporativoFrente'>CORPORATIVO (S/N)</div>",
                "<div class='campo edt txt condutorNome' id='condutorNomeFrente'>CONDUTOR</div>",
                "<div class='campo edt txt empresaNome' id='empresaNomeFrente'>EMPRESA</div>",
                "<div class='campo edt txt area' id='areaFrente'>ÁREA</div>"
            );
            $("#tableVerso").children().remove();
            $("#tableVerso").append(
                "<div class='campo edt txt placa1' id='placa1Verso'>PLACA 1</div>",
                "<div class='campo edt txt placa2' id='placa2Verso'>PLACA 2</div>",
                "<div class='campo edt txt validade' id='validadeVerso'>VALIDADE</div>",
                "<div class='campo edt txt numero' id='numeroVerso'>NÚMERO REGISTRO</div>",
                "<div class='campo edt txt dataInspecao' id='dataInspecaoVerso'>DATA INSPEÇÃO</div>",
                "<div class='campo edt txt indicadorCorporativo' id='indicadorCorporativoVerso'>CORPORATIVO (S/N)</div>",
                "<div class='campo edt txt condutorNome' id='condutorNomeVerso'>CONDUTOR</div>",
                "<div class='campo edt txt empresaNome' id='empresaNomeVerso'>EMPRESA</div>",
                "<div class='campo edt txt area' id='areaVerso'>ÁREA</div>"
            );
        }

        var applyFilter = function (field) {
            var store = App.grdModelo.getStore();
            store.filterBy(getRecordFilter());
        };

        var filterStatus = function (value, dataIndex, record) {
            var val = record.get(dataIndex);

            if ((val == true) && (value.toUpperCase() == "ATIVO")) {
                return true;
            }
            if ((val == false) && (value.toUpperCase() == "INATIVO")) {
                return true;
            }
            if (value == "") { return true; }
            return false;

        };

        var getRecordFilter = function () {
            var f = [];

            f.push({
                filter: function (record) {
                    return filterStatus(App.StatusFilter.getValue() || "", "Ativo", record);
                }
            });

            var len = f.length;
            return function (record) {
                for (var i = 0; i < len; i++) {
                    if (!f[i].filter(record)) {
                        return false;
                    }
                }
                return true;
            };
        };

</script>

@(Html.X().Viewport()
    .Border(false)
    .Layout(LayoutType.Fit)
    .Items(Html.X()
        .FormPanel(new FormPanel
        {
            ID = "frmModelo",
            Border = false
        })
        .LayoutConfig(new VBoxLayoutConfig
        {
            Align = VBoxAlign.Stretch,
            Pack = BoxPack.Start
        })
        .Items(
            Html.X()
            .TabPanel(new TabPanel
            {
                ActiveIndex = 0,
                Border = true,
                ID = "tabPagina",
                Flex = 1
            })
            .Items(
                Html.X()
                .FormPanel(new FormPanel()
                {
                    HideMode = HideMode.Offsets,
                    Flex = 1,
                    ID = "pnlCadastro",
                    Border = true,
                    Title = "CADASTRO",
                    Icon = Icon.Add,
                    BottomBar = {
                            Html.X()
                            .Toolbar()
                            .Items(
                                Html.X()
                                .Button()
                                .Text("Salvar")
                                .Icon(Icon.Disk)
                                .Handler("salvar()"),
                                Html.X()
                                .Button()
                                .Text("Cancelar")
                                .Icon(Icon.Cancel)
                                .Handler("cancelar()")
                            )
                        }
                })
                .LayoutConfig(new HBoxLayoutConfig
                {
                    Align = HBoxAlign.Stretch,
                    Pack = BoxPack.Start
                })
                .Items(
                    Html.X()
                    .FormPanel()
                    .BodyPadding(5)
                    .Flex(1)
                    .MinWidth(565)
                    .Title("DADOS DE CREDENCIAL")
                    .TitleAlign(TitleAlign.Center)
                    .Items(
                        Html.X().Hidden().ID("hdnModelo").Name("Codigo"),
                        Html.X()
                        .TextField()
                        .FieldLabel("Nome")
                        .Name("Nome")
                        .ID("txtNome")
                        .AllowBlank(false)
                        .Anchor("100%")
                        .IndicatorText("*")
                        .StyleSpec("color: red; font-weight: bold;")
                        .IndicatorTip("Campo requerido."),
                        Html.X().ComboBox(new ComboBox()
                        {
                            ID = "cmbTipoCredencial",
                            FieldLabel = "Tipo",
                            Anchor = "100%",
                            AllowBlank = false,
                            Name = "TipoCredencial",
                            IndicatorText = "*",
                            StyleSpec = "color: red; font-weight: bold;",
                            IndicatorTip = "Campo requerido.",
                            Editable = true,
                            DisplayField = "Descricao",
                            ValueField = "Codigo"
                        })
                        .StyleSpec("color: red; font-weight: bold;")
                        .QueryMode(DataLoadMode.Local)
                        .Listeners(l => l.Change.Handler = "if(this.getValue() === null) this.reset();")
                        .TypeAhead(true)
                        .ForceSelection(true)
                        .MinChars(0)
                        .Store(Html.X().Store()
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                                .IDProperty("Codigo")
                                .Fields(
                                    new ModelField("Codigo", ModelFieldType.Int) { Mapping = "Codigo" },
                                    new ModelField("Descricao", ModelFieldType.String) { Mapping = "Descricao" }
                                ))
                            .Proxy(Html.X()
                                .AjaxProxy(new AjaxProxy { Url = Url.Action("ListaTipoCredencial", "ModeloCredencial") })
                                .Reader(new JsonReader { Root = "Data" }))
                        ),
                        Html.X().DateField()
                        .ID("txtDataRegistro")
                        .Name("DataRegistro")
                        .FieldLabel("Data Registro")
                        .Format("dd/MM/yyyy")
                        .ReadOnly(true),

                        Html.X()
                        .FieldSet()
                        .Padding(5)
                        .Title("Personalizar")
                        .Items(
                            Html.X()
                            .Container()
                            .Layout(LayoutType.HBox)
                            .Items(
                                Html.X().Hidden(new Hidden { ID = "hdnRefAlturaCm", Value = 10 }),
                                Html.X().Hidden(new Hidden { ID = "hdnRefLarguraCm", Value = 10 }),

                                Html.X().FormPanel(new FormPanel { ID = "frmCampo", Border = false }).Layout(LayoutType.Auto).Items(
                                    Html.X().Panel().Border(false).Layout(LayoutType.HBox).Items(
                                        Html.X().Label().Text("Campo:").Width(100),
                                        Html.X().RadioGroup(new RadioGroup { ID = "rdgLadoEditarCampo", ColumnsNumber = 2, Width = 115, AutomaticGrouping = false }).Items(
                                            Html.X().Radio().Name("lado").InputValue("frente").BoxLabel("Frente").Checked(true),
                                            Html.X().Radio().Name("lado").InputValue("verso").BoxLabel("Verso"))
                                        .Listeners(l=> l.Change.Handler = "chgListaCampoEditar();"),
                                        Html.X().ComboBox(new ComboBox { ID = "cmbFonte", EmptyText = "Fonte", Editable = false, ForceSelection = true, Width = 125 })
                                        .DisplayField("Nome").ValueField("Codigo")
                                        .Store(Html.X().Store()
                                            .AutoLoad(false).Model(Html.X()
                                                .Model()
                                                .IDProperty("Codigo")
                                                .Fields(
                                                    new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                    new ModelField("Nome", ModelFieldType.String) { Mapping = "Nome" }
                                                ))
                                            .Proxy(Html.X()
                                                .AjaxProxy(new AjaxProxy { Url = Url.Action("ObterFontes", "ModeloCredencial") })
                                                .Reader(new JsonReader { Root = "Data" }))),
                                        Html.X()
                                        .NumberField()
                                        .ID("txtTamanhoFonte")
                                        .EmptyText("10")
                                        .Width(70),
                                        Html.X().Label().StyleSpec("height:22px;").Html("<input id='pckCor' type='color'/>")
                                    //Html.X().Label().ID("lblEspacoCor").StyleSpec("background-color : #000000; height:22px;").Html("<pre style='padding: 5px;'>  </pre>"),
                                    //Html.X().TextField().ID("txtEspacoCor").EmptyValue("#000000").EmptyText("#000000").Regex("^#(?:[0-9a-fA-F]{3}){1,2}$").Width(70)
                                    ),

                                    Html.X().Panel().Border(false).Layout(LayoutType.HBox).Items(
                                        Html.X().Label().Text("").Width(100),
                                        Html.X().Checkbox(new Checkbox { ID= "chkNegrito", LabelWidth=50, Width=80, FieldLabel= "Negrito" }),
                                        Html.X().ComboBox(new ComboBox { ID = "cmbCampoFrente", EmptyText = "Nome", Editable = false, ForceSelection = true, Width = 260 })
                                        .QueryMode(DataLoadMode.Local)
                                        .DisplayField("Nome")
                                        .ValueField("Codigo")
                                        .Store(
                                            Html.X().Store().AutoLoad(true).Model(
                                                Html.X().Model().IDProperty("Codigo").Fields(
                                                    new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                    new ModelField("Nome", ModelFieldType.String) { Mapping = "Nome" }
                                                ))
                                            .Proxy(Html.X()
                                                .AjaxProxy(new AjaxProxy { Url = Url.Action("ObterCamposFrente", "ModeloCredencial") })
                                                .Reader(new JsonReader { Root = "Data" }))
                                        ),
                                        Html.X().ComboBox(new ComboBox { ID = "cmbCampoVerso", EmptyText = "Nome", Editable = false, ForceSelection = true, Width = 310, Hidden = true })
                                        .QueryMode(DataLoadMode.Local)
                                        .DisplayField("Nome")
                                        .ValueField("Codigo")
                                        .Store(
                                            Html.X().Store().AutoLoad(true).Model(
                                                Html.X().Model().IDProperty("Codigo").Fields(
                                                    new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                    new ModelField("Nome", ModelFieldType.String) { Mapping = "Nome" }
                                                ))
                                            .Proxy(Html.X()
                                                .AjaxProxy(new AjaxProxy { Url = Url.Action("ObterCamposVerso", "ModeloCredencial") })
                                                .Reader(new JsonReader { Root = "Data" }))
                                        ),
                                        Html.X().Button().Text("Aplicar").Icon(Icon.Pencil).Listeners(p => p.Click.Handler = "aplicarFonte()")
                                    )
                                )
                            ),
                            Html.X()
                            .Container()
                            .Layout(LayoutType.HBox)
                            .MarginSpec("5 0 0 0")
                            .Items(
                                Html.X().FormPanel(new FormPanel { ID = "frmCampoPersonalizado", Border = false }).Layout(LayoutType.HBox).Items(
                                    Html.X().Label().Text("Novo:").Width(100),
                                    Html.X().TextField(new TextField { EmptyText = "Campo Personalizado", ID = "txtCampoPersonalizado", Width = 200 }),
                                    Html.X().RadioGroup(new RadioGroup { ID = "rdgLadoNovoCampo", ColumnsNumber = 2, Width = 115, AutomaticGrouping = false }).Items(
                                        Html.X().Radio().Name("lado").InputValue("frente").BoxLabel("Frente").Checked(true),
                                        Html.X().Radio().Name("lado").InputValue("verso").BoxLabel("Verso")),
                                    Html.X().Button().Text("Adicionar Campo").Icon(Icon.Add).Handler("adicionarCampo();")
                                )
                            ),
                            Html.X()
                            .Container()
                            .Layout(LayoutType.HBox)
                            .MarginSpec("5 0 0 0")
                            .Items(
                                Html.X().FormPanel(new FormPanel { ID = "frmImagem", Border = false }).Layout(LayoutType.HBox).Items(
                                    Html.X().Label().Text("Imagem:").Width(100),
                                    Html.X().NumberField(new NumberField { EmptyText = "Altura(cm)", ID = "nmImgAltura", Width = 100, MinValue = 1 }).Listeners(l => { l.Render.Handler = "adicionarToolTip('nmImgAltura','Altura(cm)');"; }),//.ToolTip(p => p.Text = "Editar Registro"),
                                    Html.X().NumberField(new NumberField { EmptyText = "Largura(cm)", ID = "nmImgLargura", Width = 100, MinValue = 1 }).Listeners(l => { l.Render.Handler = "adicionarToolTip('nmImgLargura','Largura(cm)');"; }),
                                    //Html.X().Button().Text("Adicionar").Icon(Icon.ImageAdd).Handler("adicionarImagem();")
                                    Html.X().RadioGroup(new RadioGroup { ID = "rdgLadoNovaImagem", ColumnsNumber = 2, Width = 115, AutomaticGrouping = false }).Items(
                                        Html.X().Radio().Name("lado").InputValue("frente").BoxLabel("Frente").Checked(true),
                                        Html.X().Radio().Name("lado").InputValue("verso").BoxLabel("Verso")),
                                    Html.X().FileUploadField().ID("btnAdionaImagem").ButtonOnly(true).ButtonText("Adcionar").Icon(Icon.Zoom).Listeners(p =>
                                    {
                                        p.Change.Handler = "addImagem(this,'imagem');";
                                        p.AfterRender.Handler = "filtraTiposArquivos(this);";
                                    })
                                )
                            ),
                            Html.X()
                            .Container()
                            .Layout(LayoutType.HBox)
                            .MarginSpec("5 0 0 0")
                            .Items(
                                Html.X().FormPanel(new FormPanel { ID = "frmDimensao", Border = false }).Layout(LayoutType.HBox).Items(
                                    Html.X().Label().Text("Dimensões:").Width(100),
                                    Html.X().NumberField(new NumberField { EmptyText = "Altura(cm)", ID = "nmDmsAltura", Name = "Altura", Width = 100, AllowBlank = false, MinValue = 1, MaxValue = 999 }).Listeners(l => { l.Render.Handler = "adicionarToolTip('nmDmsAltura','Altura(cm)');"; }),//.ToolTip(p => p.Text = "Editar Registro"),
                                    Html.X().NumberField(new NumberField { EmptyText = "Largura(cm)", ID = "nmDmsLargura", Name = "Largura", Width = 100, AllowBlank = false, MinValue = 1, MaxValue = 999 }).Listeners(l => { l.Render.Handler = "adicionarToolTip('nmDmsLargura','Largura(cm)');"; }),
                                    Html.X().Button().Text("Aplicar").Icon(Icon.Pencil).Handler("aplicarDimensao();")
                                )
                            ),
                            Html.X()
                            .Container()
                            .Layout(LayoutType.HBox)
                            .MarginSpec("5 0 0 0")
                            .Items(
                                Html.X().Label().Text("Plano de fundo:").Width(100),
                                Html.X().FileUploadField().ID("btnFundoFrente").ButtonOnly(true).ButtonText("Frente").Icon(Icon.Zoom).Listeners(p =>
                                {
                                    p.Change.Handler = "addImagem(this,'frente');";
                                    p.AfterRender.Handler = "filtraTiposArquivos(this);";
                                }),
                                Html.X().FileUploadField().ID("btnFundoVerso").ButtonOnly(true).ButtonText("Verso").Icon(Icon.Zoom).Listeners(p =>
                                {
                                    p.Change.Handler = "addImagem(this,'verso');";
                                    p.AfterRender.Handler = "filtraTiposArquivos(this);";
                                }),
                                Html.X().Checkbox().ID("chkFrenteVerso").FieldLabel("Frente e Verso").LabelWidth(80).MarginSpec("0 0 0 10").Checked(true).Listeners(l => l.Change.Handler = "chgFrenteVerso();")
                            )
                        )

                    ),

                    Html.X()
                    .Panel()
                    .BodyPadding(5)
                    .Title("MODELO DE CREDENCIAL")
                    .Flex(2)
                    .TitleAlign(TitleAlign.Center)
                    .AutoScroll(true)
                    .LayoutConfig(new HBoxLayoutConfig
                    {
                        Align = HBoxAlign.Stretch,
                        Pack = BoxPack.Start
                    })
                    .Items(

                        Html.X()
                        .Panel()
                        .Flex(1)
                        //.Panel(new Panel()
                        //{
                        //    Layout = LayoutType.Fit.ToString()
                        //})
                        .Border(true)
                        .AutoScroll(true)
                        .Html( //<div id='tables' class='box' style='clear: both; min-height: 100px; border:0px;'>
                            @"<div id='content' style='-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;'>
                                <div class='box' style='display: -webkit-inline-box;'><div id='mainRoomFrente'><img id='mainRoomFrenteChild' style='height: 100%;width: 100%;'></div></div>
                                <div class='box' style='position: absolute;'><div id='mainRoomVerso'><img id='mainRoomVersoChild' style='height: 100%;width: 100%;'></div></div>
                                <div style='clear: both;'>
                                    <div id='tableFrente' class='box' style='display: -webkit-inline-box; width: 50%;min-height: 100px;'>
                                        <div class='campo edt txt placa1' id='placa1Frente'>PLACA 1</div>
                                        <div class='campo edt txt placa2' id='placa2Frente'>PLACA 2</div>
                                        <div class='campo edt txt validade' id='validadeFrente'>VALIDADE</div>
                                        <div class='campo edt txt numero' id='numeroFrente'>NÚMERO REGISTRO</div>
                                        <div class='campo edt txt dataInspecao' id='dataInspecaoFrente'>DATA INSPEÇÃO</div>
                                        <div class='campo edt txt indicadorCorporativo' id='indicadorCorporativoFrente'>CORPORATIVO (S/N)</div>
                                        <div class='campo edt txt condutorNome' id='condutorNomeFrente'>CONDUTOR</div>
                                        <div class='campo edt txt empresaNome' id='empresaNomeFrente'>EMPRESA</div>
                                        <div class='campo edt txt area' id='areaFrente'>ÁREA</div>
                                    </div>
                                    <div id='tableVerso' class='box' style='position: absolute; width: 50%;min-height: 100px;'>
                                        <div class='campo edt txt placa1' id='placa1Verso'>PLACA 1</div>
                                        <div class='campo edt txt placa2' id='placa2Verso'>PLACA 2</div>
                                        <div class='campo edt txt validade' id='validadeVerso'>VALIDADE</div>
                                        <div class='campo edt txt numero' id='numeroVerso'>NÚMERO REGISTRO</div>
                                        <div class='campo edt txt dataInspecao' id='dataInspecaoVerso'>DATA INSPEÇÃO</div>
                                        <div class='campo edt txt indicadorCorporativo' id='indicadorCorporativoVerso'>CORPORATIVO (S/N)</div>
                                        <div class='campo edt txt condutorNome' id='condutorNomeVerso'>CONDUTOR</div>
                                        <div class='campo edt txt empresaNome' id='empresaNomeVerso'>EMPRESA</div>
                                        <div class='campo edt txt area' id='areaVerso'>ÁREA</div>
                                    </div>
                                </div>
                            </div>"
                        )

                    )

                ),


                Html.X().Panel(new Panel()
                {
                    Border = false,
                    Title = "LISTA",
                    Icon = Icon.Table,
                    AutoScroll = true,
                    Layout = LayoutType.Fit.ToString()
                })
                .HideMode(Ext.Net.HideMode.Offsets)
                .Items(Html.X().GridPanel()
                    .ID("grdModelo")
                    .Store(Html.X().Store()
                        .AutoLoad(true)
                        .Proxy(Html.X()
                            .AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodos", "ModeloCredencial") })
                            .Reader(new JsonReader { Root = "Data" })
                        )
                        .ID("strModelo")
                        .PageSize(15)
                        .RemotePaging(false)
                        .Model(Html.X().Model().IDProperty("Codigo").Fields(
                                Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("TipoCredencial").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("DataRegistro").Type(ModelFieldType.Date),
                                Html.X().ModelField().Name("Ativo").Type(ModelFieldType.Boolean)
                            )
                        )
                    )
                    .ColumnModel(
                        Html.X().CommandColumn()
                        .Width(50)
                        .PrepareToolbar("alteraIcon")
                        .Commands(
                            Html.X().GridCommand().CommandName("Selecionar").Icon(Icon.NoteEdit),
                            Html.X().GridCommand().CommandName("AlterarStatus").Icon(Icon.Accept))
                        .Listeners(a => a.Command.Handler = "commandModelo(command,record);"),
                        Html.X().Column().Text("Código").DataIndex("Codigo"),
                        Html.X().Column().Text("Modelo").DataIndex("Nome").Flex(1),
                        Html.X().Column().Text("Tipo").DataIndex("TipoCredencial"),
                        Html.X().DateColumn().Text("Data Registro").DataIndex("DataRegistro").Format("dd/MM/yyyy"),
                        Html.X().BooleanColumn().FalseText("INATIVO").TrueText("ATIVO").Text("Status")
                        .DataIndex("Ativo")
                        .Renderer("prepareStatus")
                        .HeaderItems(Html.X()
                            .TextField()
                            .ID("StatusFilter")
                            .Listeners(l => { l.Change.Handler = "applyFilter(this);"; })
                        )
                    )
                    .Plugins(
                        Html.X().FilterHeader()
                    //.Listeners(l =>
                    //{
                    //    l.BeforeFilter.Handler = "applyFilter(this);";
                    //})
                    )
                    .BottomBar(
                        Html.X()
                        .PagingToolbar()
                        .HideRefresh(true)
                    )
                )
            )
        )
    )
)



@(Html.X()
    .Window()
    .Border(false)
    .Resizable(true)
    .ID("winCrop")
    .Height(500)
    .Width(700)
    .Icon(Icon.Cut)
    .Layout(LayoutType.Fit)
    .AutoRender(true)
    .AutoScroll(true)
    .Reload()
    .AutoDestroy(true)
    .UpdateLayout()
    .Title("Plano de Fundo")
    .Hidden(true)
    .Items(
        Html.X()
        .Panel()
        .AutoScroll(true)
        .Layout(LayoutType.Fit)
        .Border(false)
        .Items(
            Html.X()
            .Container()
            .ItemsFromPartial("Crop", "modeloCredencial")
        )
    )
    .Listeners(l => l.Show.Handler = "updateCoords()")
)

