﻿@model string

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
@*<script type="text/javascript" src=@Url.Content("~/Scripts/Hash/md5.min.js")></script>*@
<script>
    var pkey;
    Ext.onReady(function () {
        pkey = "@Model";
    });

    function encryptStringWithXORtoHex(input, key) {
        var c = '';
        while (key.length < input.length) {
            key += key;
        }
        for (var i = 0; i < input.length; i++) {
            var value1 = input[i].charCodeAt(0);
            var value2 = key[i].charCodeAt(0);

            var xorValue = value1 ^ value2;

            var xorValueAsHexString = xorValue.toString("16");

            if (xorValueAsHexString.length < 2) {
                xorValueAsHexString = "0" + xorValueAsHexString;
            }

            c += xorValueAsHexString;
        }
        return c;
    }
    
    function logarClick() {
        
        if (App.frmLogin.isValid()) {
            var obj = App.frmLogin.form.getValues();
            Globalsys.Util.request({
                url: '@Url.Action("Login", "Login")',
                params: {
                    senha: encryptStringWithXORtoHex(obj.senha, pkey),
                    login: obj.login,
                    ad: obj.tipoLogin === "2",
                    resultado: obj.resultado
                },
                success: function () {
                    window.location = '@Url.Action("Index", "Desktop")';
                }
            });
        }
    }

    function geraCaptcha() {

        Globalsys.Util.request({
            url: '@Url.Action("GeraCaptcha", "EsqueciSenha")',
            success: function (response, opts) {
                App.txtCaptcha.setFieldLabel(response);
            }
        })
    }

    function redirecionar() {
        window.location = '@Url.Action("Index", "EsqueciSenha")';
    }

</script>


@(Html.X().Viewport()
          .Layout(LayoutType.Fit)
          .Listeners(l => l.AfterRender.Fn = "geraCaptcha")
          .StyleSpec("background-image: url('/Content/img/bg/login.fw201708.png'); background-repeat: no-repeat; webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;widht: 100%; height: 100%;")
            .Items(
            Html.X().Window()
            .Closable(false)
            .CloseAction(CloseAction.Destroy)
            .Resizable(false)
            .Height(200)
            .Icon(Icon.Lock)
            .Title("Login")
            .Draggable(true)
            .Width(350)
            .Modal(true)
            .BodyPadding(5)
            .Layout(LayoutType.Fit)
            .Items(
                Html.X().FormPanel()
                    .ID("frmLogin")
                    .Layout(LayoutType.Form)
                    .Border(false)
                    .BodyStyle("background-color:transparent;")
                    .Items(
                        Html.X().Panel()
                                .Layout(LayoutType.HBox)
                                .Border(false)
                                .BodyStyle("background-color:transparent;")
                                .Items(Html.X().RadioGroup()
                                               .ID("rdGroupLogin")
                                               .GroupName("tipoLogin")
                                               .FieldLabel("Tipo de Login")
                                               .Items(
                                                       Html.X().Radio(new Radio
                                                       {
                                                           Name = "tipoLogin",
                                                           BoxLabel = "8ID",
                                                           Width = 100,
                                                           Checked = true,
                                                           InputValue = "2"
                                                       }),

                                                        Html.X().Radio(new Radio
                                                        {
                                                            Name = "tipoLogin",
                                                            BoxLabel = "CPF/Passaporte",
                                                            Width = 150,
                                                            InputValue = "1"
                                                        })
                                                               )
                                                      ),
                        Html.X().TextField()
                            .ID("txtLogin")
                            .Name("login")
                            .FieldLabel("Login")
                            .AllowBlank(false)
                            .BlankText("Seu login aqui."),
                        Html.X().TextField()
                            .ID("txtPassword")
                            .Name("senha")
                            .InputType(Ext.Net.InputType.Password)
                            .FieldLabel("Senha")
                            .AllowBlank(false)
                            .BlankText("A senha é obrigatória."),
                        Html.X().NumberField()
                            .Name("resultado")
                            .ID("txtCaptcha")
                            .FieldLabel("Captcha")
                            .MinValue(0)
                            .AllowBlank(false)

                    )
            )
            .Buttons(
                Html.X().Button()
                   .Text("Login")
                   .Icon(Icon.Accept)
                   .Handler("logarClick()"),
                   Html.X().Button()
                   .Text("Esqueci minha senha")
                   .Icon(Icon.Help)
                   .Handler("redirecionar()")
                )
            )
            )


