﻿.icone-usuarios48
{
    background-image: url("../../img/icon48x48/usuario48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-usuarios128
{
    background-image: url("../../img/icon128x128/usuario128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-usuarios16
{
    background-image: url("../../img/icon16x16/usuario16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-cadastroiniciais48
{
    background-image: url("../../img/icon48x48/cadastroiniciais48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-cadastroiniciais128
{
    background-image: url("../../img/icon128x128/cadastrosiniciais128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-cadastroiniciais16
{
    background-image: url("../../img/icon16x16/cadastrosiniciais16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-acesso16
{
    background-image: url("../../img/icon16x16/acesso16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-acesso48
{
    background-image: url("../../img/icon48x48/acesso48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-acesso128
{
    background-image: url("../../img/icon128x128/acesso128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-seguranca16
{
    background-image: url("../../img/icon16x16/seguranca16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-empresas16
{
    background-image: url("../../img/icon16x16/building16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-empresas48
{
    background-image: url("../../img/icon48x48/building48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-empresas128
{
    background-image: url("../../img/icon128x128/building128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-seguranca16
{
    background-image: url("../../img/icon16x16/seguranca16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-seguranca48
{
    background-image: url("../../img/icon48x48/seguranca48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-seguranca128
{
    background-image: url("../../img/icon128x128/seguranca128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-empresas16
{
    background-image: url("../../img/icon16x16/building16x16.png") !important;
    background-repeat: no-repeat;
}


.icone-auditoria48
{
    background-image: url("../../img/icon48x48/auditoria48x48.fw.png") !important;
    background-repeat: no-repeat;
}

.icone-auditoria128
{
    background-image: url("../../img/icon128x128/auditoria128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-auditoria16
{
    background-image: url("../../img/icon16x16/auditoria16x16.fw.png") !important;
    background-repeat: no-repeat;
}

.icone-planocompras128
{
    background-image: url("../../img/icon128x128/planocompras128.png") !important;
    background-repeat: no-repeat;
}

.icone-planocompras16
{
    background-image: url("../../img/icon16x16/planocompras16.png") !important;
    background-repeat: no-repeat;
}

.icone-planocompras48
{
    background-image: url("../../img/icon48x48/planocompras48.png") !important;
    background-repeat: no-repeat;
}

.icone-parametro128
{
    background-image: url("../../img/icon128x128/parametro128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-parametro16
{
    background-image: url("../../img/icon16x16/parametro16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-parametro48
{
    background-image: url("../../img/icon48x48/parametro48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-compras128
{
    background-image: url("../../img/icon128x128/pedido128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-compras16
{
    background-image: url("../../img/icon16x16/pedido16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-compras48
{
    background-image: url("../../img/icon48x48/pedido48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-entrega128
{
    background-image: url("../../img/icon128x128/entrega128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-entrega16
{
    background-image: url("../../img/icon16x16/entrega16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-entrega48
{
    background-image: url("../../img/icon48x48/entrega48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-report128
{
    background-image: url("../../img/icon128x128/report128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-report48
{
    background-image: url("../../img/icon48x48/report48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-report16
{
    background-image: url("../../img/icon16x16/report16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-credencial16
{
    background-image: url("../../img/icon16x16/credencial16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-credencial48
{
    background-image: url("../../img/icon48x48/credencial48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-credencial128
{
    background-image: url("../../img/icon128x128/credencial128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-cargaperigosa16
{
    background-image: url("../../img/icon16x16/cargaperigosa16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-cargaperigosa48
{
    background-image: url("../../img/icon48x48/cargaperigosa48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-cargaperigosa128
{
    background-image: url("../../img/icon128x128/cargaperigosa128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-ocorrencia16
{
    background-image: url("../../img/icon16x16/ocorrencia16x16.png") !important;
    background-repeat: no-repeat;
}

.icone-ocorrencia48
{
    background-image: url("../../img/icon48x48/ocorrencia48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-ocorrencia128
{
    background-image: url("../../img/icon128x128/ocorrencia128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-controlematerial48
{
    background-image: url("../../img/icon48x48/controlematerial48x48.png") !important;
    background-repeat: no-repeat;
}

.icone-controlematerial128
{
    background-image: url("../../img/icon128x128/controlematerial128x128.png") !important;
    background-repeat: no-repeat;
}

.icone-controlematerial16
{
    background-image: url("../../img/icon16x16/controlematerial16x16.png") !important;
    background-repeat: no-repeat;
}