﻿
@font-face {
	font-family:'TKTypeBold';
	src: url('/Content/font/TKTypeBold.eot');
	src: url('/Content/font/TKTypeBold.eot?#iefix') format('embedded-opentype'),
		url('/Content/font/TKTypeBold.woff') format('woff'),
		url('/Content/font/TKTypeBold.ttf') format('truetype'),
		url('/Content/font/TKTypeBold.otf') format('opentype'),
		url('/Content/font/TKTypeBold.svg#TKTypeBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2215;
}

#content, #preview-p{
    height:100%;
    /*width: 284.21669291355px;
    height: 451.27937007897px;*/
}
#preview-p {
    position: absolute;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
#table{
    min-height: 451px;
    float:none;
    border:1px solid #AAA;
}*/
#mainRoomSpace {
    width: 5px;
    height: 5px;
    float: left;
}
#mainRoom, #mainRoomFrente, #mainRoomVerso
{
    position: relative;
    overflow: hidden;
    width: 284.21669291355px;
    height: 451.27937007897px;
    /*width: 202px;
    height: 321px;*/
    float: left;
    border: 1px solid #AAA;
    background-color: #d8d8d8;
}
#mainRoomChild, #mainRoomFrenteChild, #mainRoomVersoChild
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainRoomWin, #mainRoomFrenteWin, #mainRoomVersoWin
{
    float: left;
    width: 284.21669291355px;
    height: 451.27937007897px;
    /*width: 202px;
    height: 321px;*/
    border: 0px solid #AAA;
}
.box {
  min-width: 50%;
  display: inline;
  height: auto;
}
.box left { display: -webkit-inline-box; }
.box right { position: absolute; }
#backgroundFrente, #backgroundVerso {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   /*z-index: -1;*/
   overflow: hidden;
}
#backgroundFrente .description, #backgroundVerso .description {
    font-size: 36px;
    text-align: center;
    line-height: 70px;
    width: 80%;
    margin: 2em auto 2em auto;
    height: 70px;

    font-family: impact, sans-serif;
    color: #FF0A0A;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    cursor: default;
    
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* Theoretically for IE 8 & 9 (more valid) ...but not required as filter works too should come BEFORE filter */
	filter: alpha(opacity=20); /* This works in IE 8 & 9 too... but also 5, 6, 7 */
	-moz-opacity:0.2; /* Older than Firefox 0.9 */
	-khtml-opacity: 0.2; /* Safari 1.x (pre WebKit!) */
	opacity: 0.2; /* Modern! Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */
}
.campo {
    background-color: transparent;
    border-radius:2px;
    font-size: 8pt;
    /*padding: 2px;*/
    width:auto;
    height:auto;
    margin:10px;
    color: black;
    text-align:left;
    display: inline-block;
    /*display: inline-table;*/
    word-wrap: break-word;
}
#mainRoomWin .campo, #mainRoomFrente .campo, #mainRoomVerso .campo{margin:10px;}
/*#tables .imagem,#mainRoom .imagem,#mainRoomWin .imagem{height: 170px;width: 128px;}
#tables .logo, #mainRoom .logo,#mainRoomWin .logo{height: 63px;width: 203px;}*/
/*#tableFrente img,#tableVerso img,#mainRoom img, #mainRoomFrente img, #mainRoomVerso img/*,#mainRoomWin img*/{height: 100%;width: 100%;}*/

.table{
    background-color: transparent;
    border-radius:2px;
    width:120px;
    height:20px;
    margin:10px;
    color: black;
    cursor:pointer;
    text-align:center;
    display: inline-block;
    /*font-family: TKTypeBold;*/
}
.valid-zone{
    background-color:rgba(157, 229, 86, 1.0) !important;
}
.selected{
    opacity:0.5;
    background-color: red;
}
.edt:hover {
    cursor:pointer;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
}