﻿.ux-desktop-shortcut
{
    display:block;     
}
.ux-desktop-shortcut-wrap
{
    width:85px;
    height:91px;   
    z-index:1;
}

.ux-desktop-shortcut-icon
{
    margin-left:10px;    
}

.ux-desktop-shortcut-text 
{
    width:70px;
    height:40px;
    display:block;  
    color: black;
    font-weight: bold !important;  
    font-size: 9px;
}

.x-bold-text .x-btn-inner
{
    font-weight: bold !important;
}

.x-long-label
{
    height:auto !important;
}

.ux-wallpaper
{
    background-image:  url("../img/bg/bg.png");
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; 
}


.ux-start-button-icon {
        background-image: url("../img/bg/logotskcsa201806.jpg") !important;
}

.x-docked-bottom
{
    border-top: 1px #99BCE8 solid !important;
}



