﻿.jOrgChart
{
    margin: 10px;
    padding: 20px;
}

    .jOrgChart .node
    {
        position: relative;
    }

div.orgChart div.node.nodeInativo
{
    background-color: #fbcece;
}

.descriptNode 
{
    position: absolute;
    max-width: 84px;
    word-wrap: break-word;
}

.commandsNode
{
    margin-top: 58px;
    position: relative;
    padding: 1px;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 100%;
    display: none;
    background: #fff8e1;
    border: 1px solid #8db2e3;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
}

    .commandsNode img
    {
        width: 13px;
        height: 13px;
        margin: 1px 1px 0 1px;
    }
