﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/JQuery/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/crop/jquery.Jcrop.min.js"></script>
    <link href="~/Content/css/crop/jquery.Jcrop.css" rel="stylesheet" />

    <style>
        #cropPreview
        {
            border: 1px solid black;
            height: 200px;
            width: 150px;
            float: right;
            overflow: hidden;
        }

        #cropDisplay
        {
            float: left;
        }

        #cropContainer
        {
            width: 700px;
            clear: both;
            float: left;
        }
    </style>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#cropbox').Jcrop({
                setSelect: [$("#cropbox").height() * 0.1, $("#cropbox").width() * 0.9, $("#cropbox").width() * 0.9, $("#cropbox").height() * 0.9],
                onSelect: updateCoords,
                onChange: updateCoords,
                aspectRatio: 0.75
            });
        });

        function updateCoords(c) {

            if (parseInt(c.w) > 0) {
                jQuery('#Top').val(c.y);
                jQuery('#Left').val(c.x);
                jQuery('#Bottom').val(c.y2);
                jQuery('#Right').val(c.x2);

                var width = $("#cropbox").width();
                var height = $("#cropbox").height();
                var rx = 150 / c.w;
                var ry = 200 / c.h;

                jQuery("#preview").css({
                    width: Math.round(rx * width) + "px",
                    height: Math.round(ry * height) + "px",
                    marginLeft: "-" + Math.round(rx * c.x) + "px",
                    marginTop: "-" + Math.round(ry * c.y) + "px"
                });
            }

        };
    </script>
</head>
<body>
    <div>
        <input type="hidden" id="X" />
        <input type="hidden" id="Y" />
        <input type="hidden" id="W" />
        <input type="hidden" id="H" />

        <div id="cropContainer">
            <div id="cropDisplay">
                <img src="@Url.Content("/Content/avatar.png")" style="float:left; width:300px; height:300px; " id="cropbox" />
            </div>
        </div>
        <div id="cropPreview">
            <img style="border: medium; width:150px; height:200px;"  src="@Url.Content("/Content/avatar.png")" id="preview" />
        </div>
    </div>
</body>
</html>
