﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<title>ControlSys</title>
<script>
    function tile() {
        Ext.net.Desktop.desktop.tileWindows();
    };

    function cascade() {
        Ext.net.Desktop.desktop.cascadeWindows();
    };

    function readyApp(desktop) {
        Metodo.ObterModulos();
    }

    function logout() {
        Globalsys.Util.request({
            url: '@Url.Action("Logout", "Login")',
            success: function (result) {
                window.location = '@Url.Action("Index", "Login")';
            }
        });
    }

    


</script>
<link href="@Url.Content("~/Content/css/desktop.css?v=20180719")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/css/icone/icone.css")" rel="stylesheet" />

@(Html.X().Desktop()
          .Listeners(d => d.Ready.Fn = "readyApp")
                  .DesktopConfig(
                    Html.X().DesktopConfig()

                            .Layout(LayoutType.Fit)
                            .ShortcutDragSelector(true)
                            .ShortcutDefaults(defaults =>
                            {
                                defaults.IconCls = "x-default-shortcut";
                            })
                            .ContextMenu(
                                    Html.X()
                                        .Menu()
                                        .Items(
                                        Html.X().MenuSeparator(),
                                        Html.X().MenuItem().Text("Title").Handler("tile").Icon(Icon.ApplicationTileVertical),
                                        Html.X().MenuItem().Text("Cascade").Handler("cascade").Icon(Icon.ApplicationCascade)
                                        )
                        )
                )
                .StartMenu(
                    Html.X().DesktopStartMenu()
                        .Title("ControlSys")
                        .Icon(Icon.Application)
                        .Height(300)
                        .ToolConfig(
                            Html.X().Toolbar()
                                .Width(100)
                                .Items(
                                    Html.X().Button()
                                        .Text("Logout")
                                        .Icon(Icon.Key)
                                        .Listeners(b => b.Click.Handler = "logout()")
                                )
                        )
                )
                .TaskBar(
                    Html.X().DesktopTaskBar()
                        .CustomConfig(a => a.Add(new ConfigItem { Name = "startBtnText", Value = "Início", Mode = ParameterMode.Value }))
                        .TrayWidth(100)
                        .QuickStart(
                            Html.X().Toolbar()
                                .Items(
                                    Html.X().Button()
                                        .Handler("tile")
                                        .Icon(Icon.ApplicationTileVertical)
                                        .ToolTip("Janelas lado a lado"),

                                    Html.X().Button()
                                        .Handler("cascade")
                                        .Icon(Icon.ApplicationCascade)
                                        .ToolTip("Janelas em cascata")
                                )
                        )
                )
        )

