﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src=@Url.Content("~/Scripts/soundManager/soundmanager2-nodebug.js")></script>
<script src=@Url.Content("~/Scripts/soundManager/soundmanager2.js")></script>
<script>

    var limit = new Date().setSeconds(new Date().getSeconds() + 5);
    var timer = setInterval(function () { ContadorAtualiza() }, 1000);

    function ContadorAtualiza() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = limit - now;

        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        //var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        //var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        var defaultTitle = "MONITORAR ACESSOS"

        // If the count down is over, write some text
        if (distance < 1) {
            ParaContador(timer);
            App.panelMonitorar.setTitle(defaultTitle);
            App.panelMonitorar.setTitle(defaultTitle + " - Aguardando atualização..");
        }
        else {
            // Output the result in an element with id="demo"
            App.panelMonitorar.setTitle(defaultTitle + " - Atualizando em " + seconds + "s ");
        }
    }

    function ParaContador() {
        clearInterval(timer);
    }

    function carregar() {


        var task = {
            run: function () {

                var me = $(this);

                if (me.data('requestRunning')) {
                    return;
                }

                me.data('requestRunning', true);
                var datahora = getDataHoraMin();


                Globalsys.Util.request({
                    personalTimeout: 120000 * 3,
                    bloqMask: true,
                    url: '@Url.Action("ObterTodos", "MonitorarAcessos")',
                    params: {
                        datahora: datahora
                    },
                    success: function (response, opts) {

                        for (var i = 0; i < response.length; i++) {

                            var qtd = App.grdControleAcesso.store.count();
                            if (qtd >= 500)
                                App.grdControleAcesso.store.removeAt(qtd - 1);

                            var cod = App.grdControleAcesso.store.find('Codigo', response[i].Codigo);

                            if (cod == -1) {
                                App.grdControleAcesso.store.insert(0, response[i]);

                                App.lbl5.setText(App.lbl4.getText());
                                document.getElementById("img5").src = document.getElementById("img4").src;
                                App.hdnImg5.setValue(App.hdnImg4.getValue());

                                App.lbl4.setText(App.lbl3.getText());
                                document.getElementById("img4").src = document.getElementById("img3").src;
                                App.hdnImg4.setValue(App.hdnImg3.getValue());

                                App.lbl3.setText(App.lbl2.getText());
                                document.getElementById("img3").src = document.getElementById("img2").src;
                                App.hdnImg3.setValue(App.hdnImg2.getValue());

                                App.lbl2.setText(App.lbl1.getText());
                                document.getElementById("img2").src = document.getElementById("img1").src;
                                App.hdnImg2.setValue(App.hdnImg1.getValue());

                                App.hdnImg1.setValue(response[i].Codigo);

                                url = '/Content/img/avatar.png?p=' + new Date().getTime();

                                if (response[i].Img) {
                                    var blob = Globalsys.Util.base64ToBlob(response[i].Img, "image/jpeg"), k
                                    url = window.URL.createObjectURL(blob);
                                }

                                App.lbl1.setText(response[i].Apelido);
                                document.getElementById("img1").src = url;

                                if (response[i].Sobanalise === "Sim" && (response[i].PermitidoSobAnalise)) {

                                    selecionar(response[i].Codigo, true);
                                }
                            }
                        }
                        me.data('requestRunning', false);
                        limit = new Date().setSeconds(new Date().getSeconds() + 5);
                        ParaContador(timer);
                        timer = setInterval(function () { ContadorAtualiza() }, 1000);
                    },
                    error: function () {
                        me.data('requestRunning', false);
                        limit = new Date().setSeconds(new Date().getSeconds() + 5);
                        ParaContador(timer);
                        timer = setInterval(function () { ContadorAtualiza() }, 1000);
                    }
                })
            },
            interval: 5000 //1 second
        }

        var runner = new Ext.util.TaskRunner();
        runner.start(task);
    }

    var getDataHoraMin = function () {

        var currentdate = new Date();
        var datetime = currentdate.getDate() + "/"
                        + (currentdate.getMonth() + 1) + "/"
                        + currentdate.getFullYear() + " "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();

        return datetime;

    }
    var abrirDetalhes1 = function () {
        selecionar(App.hdnImg1.getValue(), false);
    }
    var abrirDetalhes2 = function () {
        selecionar(App.hdnImg2.getValue(), false);
    }
    var abrirDetalhes3 = function () {
        selecionar(App.hdnImg3.getValue(), false);
    }
    var abrirDetalhes4 = function () {
        selecionar(App.hdnImg4.getValue(), false);
    }
    var abrirDetalhes5 = function () {
        selecionar(App.hdnImg5.getValue(), false);
    }

    var selecionar = function (codigo, abreAlarme) {
        if (codigo > 0) {
            Globalsys.Util.request({
                url: '@Url.Action("Selecionar", "MonitorarAcessos")',
                params: {
                    codigo: codigo
                },
                success: function (response, opts) {

                    if (!abreAlarme) {

                        App.winDetalhes.show();
                        App.frmDetalhe.form.setValues(response);

                        url = '/Content/img/avatar.png?p=' + new Date().getTime();

                        if (response.Img) {
                            var blob = Globalsys.Util.base64ToBlob(response.Img, "image/jpeg"), k
                            url = window.URL.createObjectURL(blob);
                        }

                        document.getElementById("img").src = url;

                    }
                    else {

                        var mySound = soundManager.createSound({
                            id: 'alarme' + codigo,
                            url: '../../Scripts/soundManager/alarm.mp3'
                        });

                        mySound.play({
                            onfinish: function () {
                                loopSound(mySound);
                            }
                        });

                        var win =

                        new Ext.Window({
                            iconCls: 'icon-cancel',
                            title: 'Alarme',
                            closable: false,
                            height: 350,
                            layout: 'fit',
                            width: 420,
                            modal: true,
                            items: [{

                                xtype: 'form',
                                border: false,
                                flex: 1,
                                bodyPadding: 5,
                                items: [{
                                    border: false,
                                    items: [
                                        {
                                            xtype: 'form',
                                            border: false,
                                            html: "<img id='imgAlarme" + codigo + "' src='' style='height: 150px; width: 120px; margin-left: 120px;' />"
                                        },
                                     {
                                         xtype: 'textfield',
                                         fieldLabel: 'Nome',
                                         name: 'Nome',
                                         readOnly: true
                                     },
                                    {
                                        xtype: 'textfield',
                                        fieldLabel: 'Data/Hora',
                                        name: 'DataHora',
                                        readOnly: true
                                    },
                                    {
                                        xtype: 'textfield',
                                        fieldLabel: 'Direção',
                                        name: 'Direcao',
                                        readonly: true
                                    },
                                    {
                                        xtype: 'textfield',
                                        fieldLabel: 'Local',
                                        name: 'Local',
                                        readOnly: true
                                    },
                                    {
                                        xtype: 'textfield',
                                        fieldLabel: 'Leitora',
                                        name: 'Leitora',
                                        readOnly: true
                                    },
                                    {
                                        xtype: 'button',
                                        iconCls: 'icon-accept',
                                        text: 'Estou ciente. Silenciar.',
                                        readonly: true,
                                        width: 400
                                    }
                                    ]
                                }]
                            }]
                        }).show();
                        win.mySound = mySound;
                        win.down('form').form.setValues(response);
                        win.down('button').on('click', function () {

                            soundManager.stop('alarme' + codigo);
                            win.close();

                        });

                        var url;

                        if (response.Img) {
                            var blob = Globalsys.Util.base64ToBlob(response.Img, "image/jpeg");
                            //var blob = dataURItoBlob(img);
                            url = window.URL.createObjectURL(blob);
                        } else
                            url = '/Content/img/avatar.png';

                        document.getElementById("imgAlarme" + codigo).src = url;

                    }
                }
            })
        }
    }


    var commandGridAcesso = function (command, record) {
        switch (command) {
            case 'Selecionar':
                selecionar(record.data.Codigo);
                break;
            case 'Editar':
                if (!record.data.Papel) {

                    Ext.Msg.show({
                        title: 'Atenção',
                        icon: Ext.MessageBox.WARNING,
                        msg: 'Não é possível visualizar os dados. Pessoa não cadastrada.',
                        buttons: Ext.Msg.OK
                    });
                    return false;
                }

                var pag = { text: '', href: '', id: '' };

                switch (record.data.Papel) {
                    case 'Colaborador':
                        pag.text = 'Colaborador';
                        pag.href = '/Colaborador/Index?codigo=' + record.data.CodigoPapel;
                        break;
                    case 'Prestador de Serviço':
                        pag.text = 'Prestador de serviço';
                        pag.href = '/PrestadorServico/Index?codigo=' + record.data.CodigoPapel;
                        break;
                    case 'Visitante':
                        pag.text = 'Visitante';
                        pag.href = '/Visitante/Index?codigo=' + record.data.CodigoPapel;
                        break;
                }

                pag.id = record.data.CodigoPagina.toString();

                parent.addTab({
                    data: {
                        href: pag.href,
                        text: pag.text,
                        iconCls: 'icon-arrowright'
                    },
                    getId: function () {
                        return pag.id;
                    }
                });

                break;
        }
    }

    var pararAlarme = function () {
        soundManager.stop('alarme');
    }


</script>
@(Html.X().Viewport()
          .Listeners(p => p.AfterRender.Handler = "carregar()")
          .Border(false)
          .Layout(LayoutType.Fit)
          .Items(Html.X().Panel(new Panel
          {
              ID = "panelMonitorar",
              Border = false,
              Flex = 1,
              Title = "MONITORAR ACESSOS",
              Icon = Icon.Cog
          })
                               .Layout(LayoutType.Border)
                               .Items(
                                                Html.X().GridPanel()
                                                .ID("grdControleAcesso")
                                                .Region(Region.Center)
                                                .Store(Html.X().Store()
                                                               //.Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodos", "MonitorarAcessos") })
                                                               // .Reader(new JsonReader { Root = "Data" }))
                                                               .Model(Html.X().Model()
                                                                              .IDProperty("Codigo")
                                                                              .Fields(Html.X().ModelField().Name("NumCracha").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Papel").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("CodigoPapel").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("CodigoPagina").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Cargo").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Leitora").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("DataHora").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("StatusAcesso").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Local").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Direcao").Type(ModelFieldType.String),
                                                                                      Html.X().ModelField().Name("Sobanalise").Type(ModelFieldType.Boolean))
                                                                       )
                                                         )
                                                .ColumnModel(
                                                     Html.X().CommandColumn()
                                                             .Width(50)
                                                             .Commands(
                                                                    Html.X().GridCommand().CommandName("Editar").ToolTip(a => { a.Text = "Editar"; }).Icon(Icon.User),
                                                                Html.X().GridCommand().CommandName("Selecionar").Icon(Icon.Magnifier))
                                                                .Listeners(a => a.Command.Handler = "commandGridAcesso(command,record);"),
                                                    Html.X().Column().Text("Núm. Crachá").DataIndex("NumCracha"),
                                                    Html.X().Column().Text("Nome").DataIndex("Nome").Width(200),
                                                    Html.X().Column().Text("Papel").DataIndex("Papel"),
                                                    Html.X().Column().Text("CPF").DataIndex("CPF"),
                                                    Html.X().Column().Text("Empresa").DataIndex("Empresa"),
                                                    Html.X().Column().Text("Cargo").DataIndex("Cargo"),
                                                    Html.X().Column().Text("Status Acesso").DataIndex("StatusAcesso"),
                                                    Html.X().Column().Text("Direção (Entrada/Saída)").DataIndex("Direcao"),
                                                    Html.X().Column().Text("Data/Hora").DataIndex("DataHora").Width(200),
                                                    Html.X().Column().Text("Local").DataIndex("Local"),
                                                    Html.X().Column().Text("Leitora").DataIndex("Leitora")
                                                )
                                                .Plugins(
                                                           Html.X().FilterHeader()
                                                        )
                                     ,
                                     Html.X().Panel()
                                             .Region(Region.East)
                                             .Title("Últimos acessos")
                                             .Width(300)
                                             .AutoScroll(true)
                                             .Items(Html.X().Panel()
                                                            .Border(false)
                                                            .StyleSpec("margin-bottom:7px;")
                                                            .Layout(LayoutType.HBox)
                                                            .Items(Html.X().Panel().Border(false).StyleSpec("margin-right:7px; margin-left: 3px;").Layout(LayoutType.VBox)
                                                                           .Items(Html.X().Hidden().ID("hdnImg1"),
                                                                                  Html.X().Panel().Border(false).Html("<img id='img1' src='/Content/img/avatar.png' style='height: 150px; width: 120px;'; />"),
                                                                                  Html.X().Label().ID("lbl1").StyleSpec("font-size: 8pt; font-family: Verdana;"),
                                                                                  Html.X().Button().Text("Exibir detalhes").Icon(Icon.Magnifier).Width(120).Height(20).Listeners(p => p.Click.Handler = "abrirDetalhes1()")),
                                                                   Html.X().Panel().Border(false).Layout(LayoutType.VBox)
                                                                           .Items(Html.X().Hidden().ID("hdnImg2"),
                                                                                  Html.X().Panel().Border(false).Html("<img id='img2' src='/Content/img/avatar.png' style='height: 150px; width: 120px;' />"),
                                                                                  Html.X().Label().ID("lbl2").StyleSpec("font-size: 8pt; font-family: Verdana;"),
                                                                                  Html.X().Button().Text("Exibir detalhes").Icon(Icon.Magnifier).Width(120).Height(20).Listeners(p => p.Click.Handler = "abrirDetalhes2()"))),

                                                    Html.X().Panel().Border(false).StyleSpec("margin-bottom:7px; margin-left: 3px;").Layout(LayoutType.HBox)
                                                            .Items(Html.X().Panel().Border(false).StyleSpec("margin-right:7px; margin-left: 3px;").Layout(LayoutType.VBox)
                                                                           .Items(Html.X().Hidden().ID("hdnImg3"),
                                                                                  Html.X().Panel().Border(false).Html("<img id='img3' src='/Content/img/avatar.png' style='height: 150px; width: 120px;' />"),
                                                                                  Html.X().Label().ID("lbl3").StyleSpec("font-size: 8pt; font-family: Verdana;"),
                                                                                  Html.X().Button().Text("Exibir detalhes").Icon(Icon.Magnifier).Width(120).Height(20).Listeners(p => p.Click.Handler = "abrirDetalhes3()")),
                                                    Html.X().Panel().Border(false).Layout(LayoutType.VBox)
                                                             .Items(Html.X().Hidden().ID("hdnImg4"),
                                                                    Html.X().Panel().Border(false).Html("<img id='img4' src='/Content/img/avatar.png' style='height: 150px; width: 120px;'/>"),
                                                                    Html.X().Label().ID("lbl4").StyleSpec("font-size: 8pt; font-family: Verdana;"),
                                                                    Html.X().Button().Text("Exibir detalhes").Icon(Icon.Magnifier).Width(120).Height(20).Listeners(p => p.Click.Handler = "abrirDetalhes4()"))),
                                                    Html.X().Panel().Border(false).Layout(LayoutType.VBox)
                                                            .Items(Html.X().Hidden().ID("hdnImg5"),
                                                                   Html.X().Panel().Border(false).Html("<img id='img5' src='/Content/img/avatar.png' style='height: 150px; width: 120px;' />"),
                                                                   Html.X().Label().ID("lbl5").StyleSpec("font-size: 8pt; font-family: Verdana;"),
                                                                   Html.X().Button().Text("Exibir detalhes").Icon(Icon.Magnifier).Width(120).Height(20).Listeners(p => p.Click.Handler = "abrirDetalhes5()")))
                                     )
                )
)

@(Html.X().Window().Border(false)
          .ID("winDetalhes")
          .Icon(Icon.MagnifierZoomIn)
          .Title("Detalhes")
          .Hidden(true)
          .Height(400)
          .Width(700)
          .Modal(true)
          .Items(Html.X().FormPanel().ID("frmDetalhe").Border(false).Flex(1).BodyPadding(5).LayoutConfig(new HBoxLayoutConfig
          {
              Align = HBoxAlign.Stretch,
              Pack = BoxPack.Start
          }).Border(false)
                         .Items(Html.X().FieldSet().Title("Dados de Pessoa").Flex(1)
                                        .LayoutConfig(new VBoxLayoutConfig
                                        {
                                            Align = VBoxAlign.Stretch,
                                            Pack = BoxPack.Start
                                        })
                                        .Items(Html.X().TextField().FieldLabel("Nome").Name("Nome").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Apelido").Name("Apelido").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("CPF").Name("CPF").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Passaporte").Name("Passaporte").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Empresa").Name("Empresa").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Cargo").Name("Cargo").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Telefone").Name("Telefone").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("E-mail").Name("Email").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Sob Análise?").Name("Sobanalise").ReadOnly(true).LabelSeparator(""),
                                                Html.X().TextField().FieldLabel("Supervisionado?").Name("Supervisionado").ReadOnly(true).LabelSeparator(""),
                                                Html.X().TextField().FieldLabel("Antipassback?").Name("Antipassback").ReadOnly(true).LabelSeparator("")
                                    ),
                                Html.X().FieldSet().Title("Dados de Acesso").StyleSpec("margin-left: 10px;").LayoutConfig(new VBoxLayoutConfig
                                {
                                    Align = VBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                        .Items(Html.X().TextField().FieldLabel("Status do Acesso").Name("StatusAcesso").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Direção").Name("Direcao").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Data/Hora").Name("DataHora").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Local").Name("Local").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Leitora").Name("Leitora").ReadOnly(true),
                                                Html.X().Panel().Html("<img id='img' src='/Content/img/avatar.png' style='height: 150px; width: 120px;'; />"))
                                )
                 )

)


@(Html.X().Window().Border(false)
          .ID("winAlarme")
          .Icon(Icon.Cancel)
          .Title("Alarme")
          .Closable(false)
          .Hidden(true)
          .Height(350)
          .Layout(LayoutType.Fit)
          .Width(420)
          .Modal(true)
          .Items(Html.X().FormPanel().ID("frmAlarme").Border(false).Flex(1).BodyPadding(5).LayoutConfig(new HBoxLayoutConfig
          {
              Align = HBoxAlign.Stretch,
              Pack = BoxPack.Start
          }).Border(false)
                                        .Items(Html.X().Panel().Border(false).LayoutConfig(new VBoxLayoutConfig
                                        {
                                            Align = VBoxAlign.Stretch,
                                            Pack = BoxPack.Start
                                        })
                                                .Items(Html.X().Panel().Border(false).Html("<img id='imgAlarme' src='/Content/img/avatar.png' style='height: 150px; width: 120px; margin-left: 150px;' />"),
                                                Html.X().TextField().FieldLabel("Nome").Name("Nome").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Data/Hora").Name("DataHora").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Direção").Name("Direcao").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Local").Name("Local").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Leitora").Name("Leitora").ReadOnly(true),
                                                Html.X().Button().Text("Estou ciente. Silenciar.").Icon(Icon.Accept).Width(400).Listeners(p => p.Click.Handler = "pararAlarme()"))

                                    )
                                )

)