﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    var setarDados = function(response)
    {
        App.frmAlarme.form.setValues(response);
    }

</script>

@(Html.X().FormPanel().ID("frmAlarme").Border(false).Flex(1).BodyPadding(5).LayoutConfig(new HBoxLayoutConfig
                                                                {
                                                                    Align = HBoxAlign.Stretch,
                                                                    Pack = BoxPack.Start
                                                                }).Border(false)                                                        
                                        .Items(  Html.X().Panel().Border(false).LayoutConfig(new VBoxLayoutConfig
                                                                                                       {
                                                                                                           Align = VBoxAlign.Stretch,
                                                                                                           Pack = BoxPack.Start
                                                                                                       })
                                                .Items(
                                                Html.X().Panel().Border(false).Html("<img id='imgAlarme' src='/Content/img/avatar.png' style='height: 150px; width: 120px; margin-left: 150px;' />"),
                                                Html.X().TextField().FieldLabel("Nome").Name("Nome").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Data/Hora").Name("DataHora").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Direção").Name("Direcao").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Local").Name("Local").ReadOnly(true),
                                                Html.X().TextField().FieldLabel("Leitora").Name("Leitora").ReadOnly(true),
                                                Html.X().Button().Text("Estou ciente. Silenciar.").Icon(Icon.Accept).Width(400).Listeners(p => p.Click.Handler = "pararAlarme()")
                                                )
                                        
                                    )
                                
                 
)