﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #ImagemCamera img {
        width: 45%;
        margin-left: 3.5%;
        margin-top: 7%;
    }
    </style>
<script>
    //window.onresize = function (event) {
    //    var largura = window.innerWidth;
    //    var altura = window.innerHeight;
    //    var DomEl = Ext.getCmp('winPessoa').getEl();
    //    //get Id
    //    var DomElId = DomEl.id;
    //    alert(DomElId);

    //    document.getElementById(DomElId).innerWidth = largura * 0.95;
    //    App.winPessoa.width = largura * 0.95;
    //};

    Ext.onReady(function () {


        App.hdnPermissao.setValue("@Model");
         if (App.hdnPermissao.getValue() == "True")
         { App.btnPesquisar.show(); }

    });



    var alteraIcon = function (grid, toolbar, rowIndex, record) {
        var statusButton = toolbar.items.get(1);

        //if (record.data.Ativo) {
        //    statusButton.setIconCls("#Delete");
        //}
        //else {
        //    statusButton.setIconCls("#Accept");
        //}
    };

    var showWinPesqPessoa = function () {
        //winPessoa

        App.winPessoa.show();

    };

    var commandArea = function (command, record) {

            var codigo = record.data.Codigo;
        var imagem = record.data.Imagens;
        var largura = window.innerWidth;
        var altura = window.innerHeight;
       
        App.winPessoa.width = largura * 0.95;
        App.winPessoa.autoHeight = true;
        App.winPessoa.show();
        
        resultado = imagem.split("divisao");

        @*Globalsys.Util.request({
            url: '@Url.Action("ExibirImagensCapturadas", "AcessoVeiculo")',
            params: {
                codigo: record.data.Codigo
            },
            success: function (response, opts) {
                //alert(JSON.stringify(response));
                //Globalsys.Util.updateModel(App.grdArea, response);
                //var img = JSON.parse(response);
                //alert(JSON.stringify(img));
                document.getElementById("ImagemCamera").innerHTML = response.Imagens;          
            }
        });*@

        document.getElementById("ImagemCamera").innerHTML = "";
        for (var i = 0; i < resultado.length; i++) {
               document.getElementById("ImagemCamera").innerHTML += resultado[i];          
        }
       
        //document.getElementById("img").src = url;
            if (command == "AlterarStatus") {

                @*Globalsys.Util.request({
                    url: '@Url.Action("AtivarInativar", "Area")',
                    params: {
                        codigo: codigo
                    },
                    success: function (response, opts) {
                        Globalsys.Util.updateModel(App.grdArea, response);

                    }
                });*@
            }
            if (command == "Selecionar") {

                @*Globalsys.Util.request({
                    url: '@Url.Action("Selecionar", "Area")',
                params: {
                    codigo: codigo
                },
                success: function (response, opts) {
                    App.frmArea.form.setValues(response);
                }*@
            //});
        }
        };
    function pesquisar() {

      App.grdControleAcesso.store.load();
    }

    var limparPesquisar = function () {

        App.frmPesquisar.form.reset();
    };

    function chgDate(scope, newValue, oldValue, eOpts) {
        App.dtFim.setMinValue(scope.getValue());
    }

    function chgDateMax(scope, newValue, oldValue, eOpts) {
        App.dtInicio.setMaxValue(scope.getValue());
    }
</script>

@(Html.X().Viewport()
                    .AutoScroll(true)
                    .Layout(LayoutType.Fit)
                    .Items(Html.X().Panel(new Panel
                    {
                        Border = false,
                        Title = "CONSULTAR ACESSO VEÍCULO",
                        Icon = Icon.Cog,
                        AutoScroll = true
                    })
                        .LayoutConfig(new VBoxLayoutConfig
                        {
                            Align = VBoxAlign.Stretch,
                            Pack = BoxPack.Start
                        })

                        .Items(



                        Html.X().FormPanel(new FormPanel
                        {
                            Border = false,
                            Title = "FILTRAR",
                            Icon = Icon.ZoomIn,
                            ID = "frmPesquisar",
                            Collapsible = true
                        })
                            .BodyPadding(5)
                            .LayoutConfig(new VBoxLayoutConfig
                            {
                                Align = VBoxAlign.Stretch,
                                Pack = BoxPack.Start
                            })
                            .Items(

                              Html.X().Panel()
                        .Border(false)
                        .Flex(1)
                        .LayoutConfig(new HBoxLayoutConfig
                        {
                            Align = HBoxAlign.Stretch,
                            Pack = BoxPack.Start
                        })
                        .MarginSpec("5 0 5 0")

                        //.LayoutConfig(new HBoxLayoutConfig
                        //{
                        //    Align = HBoxAlign.Stretch,
                        //    Pack = BoxPack.Center

                        //})
                        .Items(
                                   Html.X().ComboBox(new ComboBox()
                                   {
                                       FieldLabel = "Nome Câmera",
                                       LabelWidth = 80,
                                       StyleSpec = "margin-right:4px",
                                       Flex = 1,
                                       ID = "txtNomeCamera",
                                       EmptyText = "Descrição",

                                       Editable = true,
                                       AllowBlank = true,
                                       Name = "NomeCamera",
                                       Width = 350,
                                       MultiSelect = false
                                   }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Nome")
                                .ValueField("Nome")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ObterTodos", "Camera"),

                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))),
                            //Html.X().TextField(new TextField
                            //{
                            //    FieldLabel = "Nome Câmera",
                            //    LabelWidth = 80,
                            //    StyleSpec = "margin-right:4px;",
                            //    Flex = 1,

                            //    ID = "txtNomeCamera"
                            //}),

                            Html.X().TextField(new TextField
                            {
                                FieldLabel = "Placa",
                                LabelWidth = 80,
                                StyleSpec = "margin-right:4px",
                                Flex = 1,
                                ID = "txtPlaca"

                            }),
                            Html.X().TextField(new TextField
                            {
                                FieldLabel = "Cor",
                                LabelWidth = 50,
                                StyleSpec = "margin-right:4px;",
                                Flex = 1,
                                ID = "txtCor"

                            })
                           ),

                                Html.X().Panel()
                                .Border(false)
                                .MarginSpec("5 0 5 0")
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                                            Html.X().ComboBox(new ComboBox()
                                                            {
                                                                FieldLabel = "Modelo Veículo",
                                                                LabelWidth = 100,
                                                                Flex = 2,
                                                                ID = "cmbModeloVeiculo",
                                                                EmptyText = "Descrição",
                                                                StyleSpec = "margin-right:4px;",
                                                                Editable = true,
                                                                AllowBlank = true,
                                                                Name = "ModeloVeiculo",
                                                                Width = 350,
                                                                MultiSelect = true
                                                            }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Nome")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ObterTodos", "ModeloVeiculo"),

                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))),


                                                  Html.X().ComboBox(new ComboBox()
                                                  {
                                                      FieldLabel = "Fabricante",
                                                      LabelWidth = 50,
                                                      Flex = 2,
                                                      ID = "cmbModeloVeiculoFabricante",
                                                      EmptyText = "Descrição",
                                                      StyleSpec = "margin-right:4px;",
                                                      Editable = false,
                                                      AllowBlank = true,
                                                      Name = "VeiculoFabricante",
                                                      Width = 350,
                                                      MultiSelect = false
                                                  }).QueryMode(DataLoadMode.Local)
                                .Editable(false)
                                .DisplayField("Nome")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ObterTodos", "FabricanteVeiculo"),

                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        })))
                                        ),

                            Html.X().Panel()
                        .Border(false)
                        .Flex(1)
                        .LayoutConfig(new HBoxLayoutConfig
                        {
                            Align = HBoxAlign.Stretch,
                            Pack = BoxPack.Start
                        })
                        .Items(Html.X().TextField(new TextField
                        {
                            FieldLabel = "Nome",
                            LabelWidth = 50,
                            StyleSpec = "margin-right:4px;",
                            Flex = 2,
                            ID = "txtNome"
                        }),
                            Html.X().TextField(new TextField
                            {
                                FieldLabel = "CPF",
                                LabelWidth = 30,
                                StyleSpec = "margin-right:4px;",
                                Flex = 1,
                                ID = "txtCPF"
                            }),
                            Html.X().TextField(new TextField
                            {
                                FieldLabel = "Passporte",
                                LabelWidth = 65,
                                StyleSpec = "margin-right:4px;",
                                Flex = 1,
                                ID = "txtPassaporte"
                            }),
                            Html.X().TextField(new TextField
                            {
                                FieldLabel = "Núm. crachá",
                                LabelWidth = 75,
                                Flex = 1,
                                ID = "txtNumCracha"
                            })
                        ),


            Html.X().Panel()
            .Border(false)
            .MarginSpec("5 0 5 0")
            .LayoutConfig(new HBoxLayoutConfig
            {
                Align = HBoxAlign.Stretch,
                Pack = BoxPack.Start
            })
            .Items(Html.X().ComboBox(new ComboBox()
            {
                FieldLabel = "Empresa",
                LabelWidth = 50,
                StyleSpec = "margin-right:4px;",
                Flex = 2,
                ID = "cmbEmpresa",
                EmptyText = "Empresa",
                Editable = true,
                AutoSelect = true,
                TypeAhead = true,
                Name = "Empresa"
            }).QueryMode(DataLoadMode.Local)
                .Editable(true)
                .DisplayField("Nome")
                .ValueField("Codigo")
                .Store(Html.X().Store()
                    .Model(Html.X().Model()
                        .IDProperty("Codigo")
                        .Fields(
                            new ModelField("Codigo", ModelFieldType.String)
                            {
                                Mapping = "Codigo"
                            },
                            new ModelField("Nome", ModelFieldType.String)
                            {
                                Mapping = "NomeCNPJ"
                            }
                        ))
                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                    {
                        Url = Url.Action("ObterTodos", "Empresa"),
                        ExtraParams = {
                new Parameter("apenasAtivos", "true")
                                }
                    })
                        .Reader(new JsonReader
                        {
                            Root = "Data"
                        }))),

                        //////
                        Html.X().ComboBox(new ComboBox
                        {
                            FieldLabel = "Contratada",
                            LabelWidth = 60,
                            StyleSpec = "margin-right:4px;",
                            Flex = 2,
                            ID = "cmbContratada",
                            EmptyText = "Contratada",
                            Editable = true,
                            AutoSelect = true,
                            TypeAhead = true,
                            Name = "Contratada"
                        })
                        .QueryMode(DataLoadMode.Local)
                        .Editable(true)
                        .DisplayField("Nome")
                        .ValueField("Codigo")
                        .Store(Html.X().Store()
                            .Model(Html.X().Model()
                                .IDProperty("Codigo")
                                .Fields(
                                    new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                    new ModelField("Nome", ModelFieldType.String) { Mapping = "NomeCNPJ" }
                                )
                            )
                            .Proxy(
                                Html.X().AjaxProxy(new AjaxProxy
                                {
                                    Url = Url.Action("ObterTodos", "Empresa"),
                                    ExtraParams = { new Parameter("apenasAtivos", "true") }
                                }
                                    ).Reader(new JsonReader { Root = "Data" })
                            )
                        ),
                //////

                Html.X().ComboBox(new ComboBox()
                {
                    FieldLabel = "Cargo",
                    LabelWidth = 36,
                    Flex = 2,
                    ID = "cmbCargo",
                    EmptyText = "Cargo",
                    Editable = true,
                    AllowBlank = false,
                    AutoSelect = true,
                    TypeAhead = true,
                    Name = "Cargo"
                }).QueryMode(DataLoadMode.Local)
                .Editable(true)
                .DisplayField("Nome")
                .ValueField("Codigo")
                .Store(Html.X().Store()
                    .Model(Html.X().Model()
                        .IDProperty("Codigo")
                        .Fields(
                            new ModelField("Codigo", ModelFieldType.String)
                            {
                                Mapping = "Codigo"
                            },
                            new ModelField("Nome", ModelFieldType.String)
                            {
                                Mapping = "Nome"
                            }
                        ))
                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                    {
                        Url = Url.Action("ObterTodos", "Cargo"),
                        ExtraParams = {
                new Parameter("apenasAtivos", "true")
                                }
                    })
                        .Reader(new JsonReader
                        {
                            Root = "Data"
                        })))
            ),
                            Html.X().Panel()
                            .Border(false)
                            .LayoutConfig(new HBoxLayoutConfig
                            {
                                Align = HBoxAlign.Stretch,
                                Pack = BoxPack.Start
                            })
                            .Items(

                                Html.X().ComboBox(new ComboBox()
                                {
                                    FieldLabel = "Tipo Setor",
                                    StyleSpec = "margin-right:4px;",
                                    ID = "cmbTipoSetor",
                                    LabelWidth = 65,
                                    Flex = 1,
                                    EmptyText = "Tipo Setor",
                                    AutoSelect = true,
                                    TypeAhead = true,
                                    Name = "TipoSetor"
                                }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Descricao")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Id")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.Int) { Mapping = "Codigo" },
                                            new ModelField("Descricao", ModelFieldType.String) { Mapping = "Descricao" }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ListaTipoSetor", "SetorCusto")
                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))),
                                        Html.X().ComboBox(new ComboBox()
                                        {
                                            FieldLabel = "Setor de Custo",
                                            LabelWidth = 100,
                                            StyleSpec = "margin-right:4px;",
                                            Flex = 2,
                                            ID = "cmbSetor",
                                            EmptyText = "Setor",
                                            Editable = true,
                                            AutoSelect = true,
                                            TypeAhead = true,
                                            Name = "Setor de Custo"
                                        }).QueryMode(DataLoadMode.Local)
                                            .Editable(true)
                                            .DisplayField("Nome")
                                            .ValueField("Codigo")
                                            .Store(Html.X().Store()
                                                .Model(Html.X().Model()
                                                    .IDProperty("Codigo")
                                                    .Fields(
                                                        new ModelField("Codigo", ModelFieldType.String)
                                                        {
                                                            Mapping = "Codigo"
                                                        },
                                                        new ModelField("Nome", ModelFieldType.String)
                                                        {
                                                            Mapping = "Nome"
                                                        }
                                                    ))
                                                .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                                {
                                                    Url = Url.Action("ObterTodos", "SetorCusto"),
                                                    ExtraParams = {
                            new Parameter("apenasAtivos", "true")
                                                            }
                                                })
                                                    .Reader(new JsonReader
                                                    {
                                                        Root = "Data"
                                                    }))),

                            /////////
                            Html.X().ComboBox(new ComboBox()
                            {
                                FieldLabel = "Fornecedor:",
                                LabelWidth = 65,
                                StyleSpec = "margin-right:4px;",
                                Flex = 3,
                                ID = "cmbFornecedorPesquisa",
                                EmptyText = "Fornecedor",
                                TypeAhead = true,
                                ForceSelection = true,
                                Name = "RazaoSocial"
                            }).QueryMode(DataLoadMode.Local)
                            .DisplayField("RazaoSocial")
                            .ValueField("Codigo")
                            .Store(Html.X().Store()
                                .Model(Html.X().Model()
                                    .IDProperty("Codigo")
                                    .Fields(
                                        new ModelField("Codigo", ModelFieldType.String)
                                        {
                                            Mapping = "Codigo"
                                        },
                                        new ModelField("RazaoSocial", ModelFieldType.String)
                                        {
                                            Mapping = "RazaoSocial"
                                        }
                                    ))
                                .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                {
                                    Url = Url.Action("ObterTodos", "Fornecedor"),
                                    ExtraParams = {
            new Parameter("apenasAtivos", "true")
                                            }
                                }).Timeout(200000)
                                    .Reader(new JsonReader
                                    {
                                        Root = "Data"
                                    })))

                            /////////
                            ),




                            Html.X().Panel()
                            .Border(false)
                            .MarginSpec("5 0 5 0")
                            .LayoutConfig(new HBoxLayoutConfig
                            {
                                Align = HBoxAlign.Stretch,
                                Pack = BoxPack.Start
                            })
                            .Items(Html.X().ComboBox(new ComboBox()
                            {
                                FieldLabel = "Status Acesso",
                                StyleSpec = "margin-right:4px;",
                                ID = "cmbStatusAcesso",
                                LabelWidth = 50,
                                Flex = 2,
                                MultiSelect = true,
                                EmptyText = "Status Acesso",
                                Name = "StatusAcesso"
                            }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Descricao")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Id")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.Int)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Descricao", ModelFieldType.String)
                                            {
                                                Mapping = "Descricao"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ListaStatusAcesso", "ConsultarAcessos")
                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        })
                                    )
                                ),

                                Html.X().ComboBox(new ComboBox()
                                {
                                    FieldLabel = "Modelo Credencial",
                                    LabelWidth = 65,
                                    Flex = 3,
                                    ID = "cmbModeloCredencial",
                                    EmptyText = "Descrição",
                                    StyleSpec = "margin-right:4px;",
                                    Editable = true,
                                    AllowBlank = true,
                                    Name = "ModeloCredencial",
                                    Width = 60,
                                    MultiSelect = true
                                }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Nome")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ObterTodos", "ModeloCredencial"),

                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        })))



                            //Html.X().ComboBox(new ComboBox()
                            //{
                            //    FieldLabel = "Leitoras",
                            //    LabelWidth = 50,
                            //    Flex = 2,
                            //    ID = "cmbLeitoras",
                            //    EmptyText = "Descrição",
                            //    StyleSpec = "margin-right:4px;",
                            //    Editable = true,
                            //    AllowBlank = false,
                            //    Name = "Leitora",
                            //    Width = 350,
                            //    MultiSelect = true
                            //}).QueryMode(DataLoadMode.Local)
                            //.Editable(true)
                            //.DisplayField("Descricao")
                            //.ValueField("Codigo")
                            //.Store(Html.X().Store()
                            //    .Model(Html.X().Model()
                            //        .IDProperty("Codigo")
                            //        .Fields(
                            //            new ModelField("Codigo", ModelFieldType.String)
                            //            {
                            //                Mapping = "Codigo"
                            //            },
                            //            new ModelField("Descricao", ModelFieldType.String)
                            //            {
                            //                Mapping = "Descricao"
                            //            }
                            //        ))
                            //    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                            //    {
                            //        Url = Url.Action("ObterTodos", "Leitora"),
                            //        ExtraParams = {
                            //                    new Parameter("apenasLeitorasUsuario", "true")
                            //                            }
                            //    })
                            //        .Reader(new JsonReader
                            //        {
                            //            Root = "Data"
                            //        }))),



                            //Html.X().DateField(new DateField
                            //{
                            //    FieldLabel = "Data início",
                            //    LabelWidth = 65,
                            //    Flex = 1,
                            //    StyleSpec = "margin-right:4px;",
                            //    ID = "dtInicio"
                            //})
                            //.Listeners(l => l.Change.Fn = "chgDate"),
                            //Html.X().DateField(new DateField
                            //{
                            //    FieldLabel = "Data fim",
                            //    LabelWidth = 50,
                            //    Flex = 1,
                            //    //StyleSpec = "margin-right:4px;",
                            //    ID = "dtFim"
                            //})
                            //.Listeners(l => l.Change.Fn = "chgDateMax")
                            ),
                            Html.X().Panel()
            .Border(false)
            .MarginSpec("5 0 5 0")
            .LayoutConfig(new HBoxLayoutConfig
            {
                Align = HBoxAlign.Stretch,
                Pack = BoxPack.Start
            })
            .Items(
                                Html.X().ComboBox(new ComboBox()
                                {
                                    FieldLabel = "Leitoras",
                                    LabelWidth = 50,
                                    Flex = 2,
                                    ID = "cmbLeitoras",
                                    EmptyText = "Descrição",
                                    StyleSpec = "margin-right:4px;",
                                    Editable = true,
                                    AllowBlank = false,
                                    Name = "Leitora",
                                    Width = 350,
                                    MultiSelect = true
                                }).QueryMode(DataLoadMode.Local)
                                .Editable(true)
                                .DisplayField("Descricao")
                                .ValueField("Codigo")
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Descricao", ModelFieldType.String)
                                            {
                                                Mapping = "Descricao"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    {
                                        Url = Url.Action("ObterTodos", "Leitora"),
                                        ExtraParams = {
                            new Parameter("apenasLeitorasUsuario", "true")
                                                            }
                                    })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))),



                                Html.X().DateField(new DateField
                                {
                                    FieldLabel = "Data início",
                                    LabelWidth = 65,
                                    Flex = 1,
                                    StyleSpec = "margin-right:4px;",
                                    ID = "dtInicio"
                                })
                                .Listeners(l => l.Change.Fn = "chgDate"),
                                Html.X().DateField(new DateField
                                {
                                    FieldLabel = "Data fim",
                                    LabelWidth = 50,
                                    Flex = 1,
                                    //StyleSpec = "margin-right:4px;",
                                    ID = "dtFim"
                                })
                                .Listeners(l => l.Change.Fn = "chgDateMax")
                             )
                        )

                        .BottomBar(Html.X().Toolbar()
                            .Items(Html.X().Button(new Button
                            {
                                Text = "Pesquisar",
                                ID = "btnPesquisar",
                                Hidden = true,
                                Icon = Icon.Zoom
                            }).Listeners(p => p.Click.Handler = "pesquisar()"),
                                Html.X().Button(new Button
                                {
                                    Text = "Limpar",
                                    Icon = Icon.Erase
                                }).Listeners(p => p.Click.Handler = "limparPesquisar()")
                            )
                        ),
                        Html.X().Hidden().Name("CP").ID("hdnPermissao"),

                        Html.X().GridPanel()
                        .ID("grdControleAcesso")
                        //.Title("LISTA")
                        .Flex(1)
                        .Store(Html.X().Store()
                            .AutoLoad(false)
                            .Model(Html.X().Model()
                                .Fields(
                                    Html.X().ModelField().Name("Imagens").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Camera").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Placa").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Fabricante").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Cor").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Modelo").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("ModeloCredencial").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("NumCracha").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Codigo").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Papel").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Contratada").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Cargo").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Leitora").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("DataHora").Type(ModelFieldType.Date).DateFormat("dd/MM/yyyy HH:mm"),
                                    Html.X().ModelField().Name("StatusAcesso").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Local").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Direcao").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("TipoSetor").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Setor").Type(ModelFieldType.String),
                                    //
                                    Html.X().ModelField().Name("MatriculaEmpregadoSAP").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("MatriculaGestorPonto").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("MatriculaSuperiorImediato").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("NumeroPHT").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("MaoDeObra").Type(ModelFieldType.String)

                                )
                            )
                            .Parameters(p =>
                            {
                                p.Add(new StoreParameter("tipoSetor", "App.cmbTipoSetor.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("cracha", "App.txtNumCracha.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("cpf", "App.txtCPF.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("empresa", "App.cmbEmpresa.getRawValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("nome", "App.txtNome.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("cargo", "App.cmbCargo.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("dataInicio", "App.dtInicio.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("dataFim", "App.dtFim.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("setor", "App.cmbSetor.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("status", "App.cmbStatusAcesso.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("leitoras", "App.cmbLeitoras.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("validaGestor", "true", ParameterMode.Raw));
                                p.Add(new StoreParameter("passaporte", "App.txtPassaporte.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("contratada", "App.cmbContratada.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("fornecedor", "App.cmbFornecedorPesquisa.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("placa", "App.txtPlaca.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("modeloCredencial", "App.cmbModeloCredencial.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("modeloVeiculo", "App.cmbModeloVeiculo.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("cor", "App.txtCor.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("fabricante", "App.cmbModeloVeiculoFabricante.getValue()", ParameterMode.Raw));
                                p.Add(new StoreParameter("nomeCamera", "App.txtNomeCamera.getValue()", ParameterMode.Raw));

                                //p.Add(new StoreParameter("fabricante", "App.cmbModeloVeiculoFabricante.getValue()", ParameterMode.Raw));

                            })
                            .Proxy(Html.X().AjaxProxy().Timeout(2000000000)
                                .Url(Url.Action("Pesquisar", "AcessoVeiculo"))
                                .Reader(Html.X().JsonReader().Root("data"))
                            )
                            .PageSize(25)//.RemoteSort(true)
                        )
                        .ColumnModel(

                            Html.X().CommandColumn()
                            .Width(50)
                            .PrepareToolbar("alteraIcon")
                            .Commands(
                                Html.X().GridCommand().CommandName("AlterarStatus").Icon(Icon.ImageLink)
                            ).Listeners(a => a.Command.Handler = "commandArea(command,record);"),
                            //Html.X().Column().Text("Imagens").DataIndex("Imagens"),
                            Html.X().Column().Text("Camera").DataIndex("Camera"),
                            Html.X().Column().Text("Placa").DataIndex("Placa"),
                            Html.X().Column().Text("Fabricante").DataIndex("Fabricante"),
                            Html.X().Column().Text("Cor").DataIndex("Cor"),
                            Html.X().Column().Text("Modelo Veículo").DataIndex("Modelo"),
                            Html.X().Column().Text("Modelo Credencial").DataIndex("ModeloCredencial").Width(100),
                            Html.X().Column().Text("Núm. Crachá").DataIndex("NumCracha"),
                            Html.X().Column().Text("Codigo").DataIndex("Codigo").Width(90),
                            Html.X().Column().Text("CPF").DataIndex("CPF"),
                            Html.X().Column().Text("Papel").DataIndex("Papel"),
                            Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1),
                            Html.X().Column().Text("Empresa/Fornecedor").DataIndex("Empresa"),
                            Html.X().Column().Text("Contratada").DataIndex("Contratada").Flex(2).MinWidth(100),
                            Html.X().Column().Text("Cargo/Função").DataIndex("Cargo"),
                            Html.X().Column().Text("Status Acesso").DataIndex("StatusAcesso"),
                            Html.X().Column().Text("Direção (Entrada/Saída)").DataIndex("Direcao"),
                            Html.X().DateColumn().Text("Data/Hora").DataIndex("DataHora").Format("dd/MM/yyyy HH:mm"),
                            Html.X().Column().Text("Local Leitora").DataIndex("Local"),
                            Html.X().Column().Text("Leitora").DataIndex("Leitora"),
                            Html.X().Column().Text("Tipo Setor").DataIndex("TipoSetor"),
                            Html.X().Column().Text("Setor").DataIndex("Setor"),
                            Html.X().Column().Text("Empregado SAP").DataIndex("MatriculaEmpregadoSAP").Width(90),
                            Html.X().Column().Text("Gestor Ponto").DataIndex("MatriculaGestorPonto").Width(75),
                            Html.X().Column().Text("Superior Imediato").DataIndex("MatriculaSuperiorImediato").Width(100),
                            Html.X().Column().Text("Número PHT").DataIndex("NumeroPHT").Width(100),
                            Html.X().Column().Text("Mão Obra").DataIndex("MaoDeObra").Width(80)

                        //Html.X().Column().Text("Modelo Credencial").DataIndex("ModeloCredencial"),

                        )
                        //.Plugins(
                        //    Html.X().FilterHeader()
                        //)
                        //.TopBar(
                        //Html.X().Toolbar()
                        //    .Items(Html.X().Button().Text("Export Excel").Handler("exportExcel();")))
                        .BottomBar(
                            Html.X().PagingToolbar()
                            .Items(
                                Html.X().Label("Registros por página:"),
                                Html.X().ToolbarSpacer(5),
                                Html.X().ComboBox()
                                    .Editable(true)
                                    .Width(80)
                                    .Items("25", "100", "500", "1000")
                                    .SelectedItems("25")
                                    .Listeners(l =>
                                    {
                                        l.Select.Fn = "onComboBoxSelect";
                                    })
                            )
                            .HideRefresh(true)
                        )
                    )
                )
)


@(Html.X()
                                .Window()
                                .Layout(LayoutType.Fit)
                                .Border(false)
                                .ID("winPessoa")
                                .Icon(Icon.Building)
                                .Title("Imagens Capturadas")
                                .Hidden(true)
                                .Height(550)
                                .Width(700)
                                .Modal(true)
                                .Items(
      Html.X().Panel().Html("<div  id=\"ImagemCamera\"></div>")))

                    }
    }))
)