﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Controlsys</title>
    <link href="@Url.Content("~/Content/css/icone/icone.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Ext.Extends.js")"></script>
    <script src="@Url.Content("~/Scripts/Globalsys.Util.js")"></script>

    <script src="@Url.Content("~/Scripts/JQuery/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/crop/jquery.Jcrop.js")"></script>
    <link href="@Url.Content("~/Content/css/crop/jquery.Jcrop.0912.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/webcam/webcam.js")" type="text/javascript"></script>
    @RenderSection("scriptsPag", false)

</head>
<body>
    <div>
        @(Html.X().ResourceManager()
                  .SourceFormatting(true)
                  .ScriptMode(Ext.Net.ScriptMode.Development)
                  .Listeners(rm => rm.DocumentReady.Fn = "Globalsys.Util.documentReady"))

        @RenderBody()
    </div>
</body>
</html>
