﻿@model string

@{
    ViewBag.Title = "Index";
}

<style>
    /*.x-window {
        max-width: 835px;
    }*/

    #frmUpload, #frmUpload-body {
        height: auto;
    }

    #cropPreview {
        border: 1px solid black;
        height: 100%;
        width: 100%;
        float: right;
        overflow: hidden;
    }

    #cropDisplay {
        float: left;
    }

    #cropContainer {
        width: 100%;
        clear: both;
        float: left;
    }
</style>
<script src="@Url.Content("~/Scripts/Globalsys.Util.js")"></script>
<script type="text/javascript">

    var jcrop_api;

    //Ext.onReady(function () {
    //    jcrop_api.destroy();
    //});

    Ext.onReady(function () {
        //$("#frmUpload").style('height', 'auto');
        //$("#frmUpload-body").style('height', 'auto');
        $("input:file").attr("accept", "image/*");
    });

    function checkFileSize(file) {
        if (file.size > 1048576) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Operação não realizada. Não é permitido importar imagem com mais de 1mb.',
                buttons: Ext.Msg.OK
            });
            return false;
        }
        return true;
    }
    
    function updateCoords(c) {

        if (c != undefined) {
            App.winCrop.setSize($(".jcrop-holder").width() + 44, $(".jcrop-holder").height() + 150);
            if (parseInt(c.w) > 0) {
                jQuery('#X').val((c.y < 0) ? 0 : c.y);
                jQuery('#Y').val((c.x < 0) ? 0 : c.x);
                jQuery('#W').val((c.y2 < 0) ? 0 : c.y2);
                jQuery('#H').val((c.x2 < 0) ? 0 : c.x2);

                var width = $("#cropbox").width();
                var height = $("#cropbox").height();
                var rx = 0;
                var ry = 0;
                if ("@Model" == "modeloCracha") {
                    rx = 204.4724409449 / c.w;
                    ry = 324.6614173228 / c.h;
                    jQuery("#preview").css({
                        width: Math.round(rx * width) + "px",
                        height: Math.round(ry * height) + "px"
                    });
                } else {
                    rx = 150 / c.w;
                    ry = 200 / c.h;
                    jQuery("#preview").css({
                        width: Math.round(rx * width) + "px",
                        height: Math.round(ry * height) + "px",
                        marginLeft: "-" + Math.round(rx * c.x) + "px",
                        marginTop: "-" + Math.round(ry * c.y) + "px"
                    });
                }
            }
        }
        $("#frmUpload,#frmUpload-body").css('height', 'auto');
    };

    function initJCrop(id) {
        $(id).Jcrop({
            setSelect: [$(id).height() * 0.1, $(id).width() * 0.9, $(id).width() * 0.9, $(id).height() * 0.9],
            onSelect: updateCoords,
            onChange: updateCoords,
            aspectRatio: ("@Model" == "modeloCracha" ? (5.41 / 8.59) : 0.75),
            bgFade: true, // Efeito Fade
            bgOpacity: .3, // Opacidade do fade
            maxSize: ("@Model" == "modeloCracha" ? [504, 800] : [450, 600]), // max crop size
            minSize: ("@Model" == "modeloCracha" ? [81, 128] : [120, 150]), // min crop size
        }, function () {
            jcrop_api = this;
        });
    }

    function abrirCrop1(fileUp, value, eOpts) {
        if (!checkFileSize(($("input:file")[0]).files[0])) {
            return;
        }

        var form = App.frmUpload.getForm();
        var modeloCracha = false;
        if ("@Model" == "modeloCracha")
            modeloCracha = true;
        form.submit({
            clientValidation: false,
            url: '@Url.Action("Upload", "Colaborador")',
            params: {
                modeloCracha: modeloCracha ? true : false
            },
            success: function (form, action) {
                
                if (action.result.Data == null) return;
                //var urlContent = "";
                //
                //if (modeloCracha) {
                //    urlContent = "@Url.Content("~/Content/img/fundocracha/")";
                //    urlContent += action.result.Data;
                //}
                //else {
                //    var blob = Globalsys.Util.base64ToBlob(action.result.Data, "image/jpeg"),
                //                url = window.URL.createObjectURL(blob);
                //    urlContent = url;
                //}
                var urlContent = "";
                var blob = Globalsys.Util.base64ToBlob(action.result.Data, "image/jpeg"),
                    url = window.URL.createObjectURL(blob);
                urlContent = url;

                App.ImageUrl.setValue(urlContent);

                if (!jcrop_api) {
                    $("#cropbox").attr('src', urlContent);
                    initJCrop('#cropbox');
                } else {
                    jcrop_api.setImage(urlContent);
                    jcrop_api.setSelect(0, 0, 0, 0);
                }
            },
            failure: function (form, action) {
                
                $("input:file").attr("accept", "image/*");
                if (action.result.Data == null) return;
                //if (modeloCracha) {
                //    urlContent = "@Url.Content("~/Content/img/fundocracha/")";
                //    urlContent += action.result.Data;
                //}
                //else {
                //    var blob = Globalsys.Util.base64ToBlob(action.result.Data, "image/jpeg"),
                //                url = window.URL.createObjectURL(blob);
                //    urlContent = url;
                //}
                var urlContent = "";
                var blob = Globalsys.Util.base64ToBlob(action.result.Data, "image/jpeg"),
                    url = window.URL.createObjectURL(blob);
                urlContent = url;

                App.ImageUrl.setValue(urlContent);
                if (!jcrop_api) {
                    $("#cropbox").attr('src', urlContent);
                    initJCrop('#cropbox');
                } else {
                    jcrop_api.setImage(urlContent);
                    jcrop_api.setSelect(0, 0, 0, 0);
                }
            }
        });
    }

    function recortarImg(imagem) {

        var modeloCracha = false;
        if ("@Model" == "modeloCracha")
            modeloCracha = true;

        var wValue = App.W.getValue();
        var hValue = App.H.getValue();
        if (!wValue || !hValue) return;
        Globalsys.Util.request({
            url: '@Url.Action("Edit", "Colaborador")',
            params: {
                x: parseInt(App.X.getValue()),
                y: parseInt(App.Y.getValue()),
                w: parseInt(wValue),
                h: parseInt(hValue),
                ImageUrl: imagem,
                modeloCracha: modeloCracha
            },
            success: function (response, opts) {
                $("input:file").attr("accept", "image/*");
                var origem = ("@Model");
                //if (origem == "modeloCracha") {
                //    document.getElementById("mainRoomChild").src = response + "?v=" + new Date().getTime();
                //} else {
                //
                //    var blob = Globalsys.Util.base64ToBlob(response, "image/jpeg"),
                //                url = window.URL.createObjectURL(blob);
                //
                //    document.getElementById("img").src = url;
                //}

                var blob = Globalsys.Util.base64ToBlob(response, "image/jpeg"),
                    url = window.URL.createObjectURL(blob);
                if (origem == "modeloCracha") {
                    document.getElementById("mainRoomChild").src = url;
                } else {
                    document.getElementById("img").src = url;
                }
                App.winCrop.hide();
            }
        });
    }

    var editar = function() {

        var imagem = App.ImageUrl.getValue();
        //if ("@Model" == "modeloCracha")
        //    recortarImg(imagem);
        //else
        //    Globalsys.Util.obterBlob(imagem, recortarImg);
        Globalsys.Util.obterBlob(imagem, recortarImg);
    };

</script>


@(Html.X()
    .FormPanel()
    .Padding(5)
    .ID("frmUpload")
    .Layout(LayoutType.Fit)
    .Border(false)
    /*.MaxWidth(820)*/
    .Items(
        Html.X()
        .FieldSet()
        .Padding(5)
        .Title("Selecionar Foto")
        .Layout(LayoutType.HBox)
        /*.MaxWidth(810)*/
        .Items(
            Html.X()
            .FileUploadField()
            .ID("flupload")
            .ButtonOnly(true)
            .ButtonText("Carregar")
            .Icon(Icon.ImageAdd)
            .Listeners(p => p.Change.Handler = "abrirCrop1(this, 'file', App.flupload);"),
            Html.X().Button().Text("Recortar").Icon(Icon.CutRed).Handler("editar()")
        ),
        Html.X()
        .FieldSet()
        .Padding(5)
        .Title("Foto") /*.MaxWidth(810)*/
        .Items(
            Html.X().Hidden().ID("ImageUrl"),
            Html.X().Hidden().ID("X"),
            Html.X().Hidden().ID("Y"),
            Html.X().Hidden().ID("W"),
            Html.X().Hidden().ID("H"),
            Html.X().Panel()
            .Border(false)
            .ID("cropContainer")
            .Items(
                Html.X()
                .Panel()
                .Border(false)
                .ID("cropDisplay")
                .Html("<img id='cropbox'/>")
            )
        )
    )
)


@*@(
    Html.X().Panel().Padding(5).Border(false).Layout(LayoutType.Fit).AutoScroll(true).Items(
        Html.X().FieldSet().Title("Foto").Items(
            Html.X().Button().Padding(10).Width(150).Height(35).Text("Recortar").Icon(Icon.CutRed).Handler("recortarImg()"),
            Html.X().Hidden().ID("ImageUrl"),
            Html.X().Hidden().ID("X"),
            Html.X().Hidden().ID("Y"),
            Html.X().Hidden().ID("W"),
            Html.X().Hidden().ID("H"),
            Html.X().Panel().Padding(2).Border(false).ID("cropContainer").Items(
                Html.X().Panel().Border(false).ID("cropDisplay").Html("<img id='cropbox'/>")
            )
        )
    )
)*@
