﻿@{
    ViewBag.Title = "Index";
}

@*<script src="@Url.Content("~/Scripts/webcam/jquery.webcam.js")" type="text/javascript"></script>*@

<script>
    function capture() {

        webcam.snap('@Url.Action("Upload", "Webcam")', afterSnap);
    }

    function abrirWebcam() {
        webcam.set_quality(100); // JPEG quality (1 - 100)
        webcam.set_swf_url('/Scripts/webcam/webcam.swf');
        webcam.set_shutter_sound(true, '/Scripts/webcam/shutter.mp3');

        document.getElementById("webcam").innerHTML = webcam.get_html(300, 375);

        App.winWebcam.show();
    }

    function afterSnap(response) {
        
        response = Ext.decode(response);
        if (response.Success) {

            var blob = Globalsys.Util.base64ToBlob(response.Data, "image/jpeg"),
                                url = window.URL.createObjectURL(blob);

            document.getElementById("img").src = url;
            App.winWebcam.close();
        }
        else
            Ext.Msg.show({
                title: 'Crítica',
                msg: e,
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });


    }


    function fecharWebcam() {


    }

</script>

@*<div id="webcam"></div>*@
@*<a href="#" id="upload">Capture image and send for processing</a>*@

@*<script type="text/javascript">
    var pos = 0, ctx = null, saveCB, image = [];
    var canvas = document.createElement('canvas');
    canvas.setAttribute('width', 320);
    canvas.setAttribute('height', 240);
    ctx = canvas.getContext('2d');
    image = ctx.getImageData(0, 0, 320, 240);

    var globalsys = Globalsys || {};

    globalsys.WebCam = {

        saveCB: function (data) {

            var col = data.split(';');
            var img = image;
            for (var i = 0; i < 320; i++) {
                var tmp = parseInt(col[i]);
                img.data[pos + 0] = (tmp >> 16) & 0xff;
                img.data[pos + 1] = (tmp >> 8) & 0xff;
                img.data[pos + 2] = tmp & 0xff;
                img.data[pos + 3] = 0xff;
                pos += 4;
            }

            if (pos >= 4 * 320 * 240) {
                ctx.putImageData(img, 0, 0);
                                Globalsys.Util.request({
                    url: '@Url.Action("Upload", "Webcam")',
                    params:{ 
                        image: canvas.toDataURL("image/png")
                    },
                    success: function (result) {
                        document.getElementById("img").src = result;
                        
                        webcam.pauseCamera();
                    }
                });

                pos = 0;
            }
        }
    };

</script>*@


@(Html.X().Panel().Width(300).Height(375).Layout(LayoutType.Fit).Html("<div id='webcam'></div>")
.BottomBar(Html.X().Toolbar().Items(Html.X().Button().Icon(Icon.WebcamStart).Text("Foto").ID("upload").Handler("capture()")))
)

