﻿@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
    #ImagemCamera img {
        width: 45%;
        margin-left: 3.5%;
        margin-top: 7%;
    }
</style>*@
<script>
    Ext.onReady(function () {
        App.hdnPermissao.setValue("@Model");
        if (App.hdnPermissao.getValue() == "True")
        { App.btnExportar.show(); }
        App.hdnPermissaoPesquiar.setValue("@ViewBag.Pesquisar");
        if (App.hdnPermissaoPesquiar.getValue() == "True") { App.btnPesquisar.show(); }
    });
    function limpar() {
        App.frmRelatorio.form.reset();
    }

    var alteraIcon = function (grid, toolbar, rowIndex, record) {
        var statusButton = toolbar.items.get(1);

        //if (record.data.Ativo) {
        //    statusButton.setIconCls("#Delete");
        //}
        //else {
        //    statusButton.setIconCls("#Accept");
        //}
    };


    function pesquisar() {
        if (!App.frmRelatorio.form.isDirty()) {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Selecione pelo menos um filtro.', buttons: Ext.Msg.OK });
            return;
        }
        App.grdControleAcesso.store.load();
    }

    function chgDate(scope, newValue, oldValue, eOpts) {
        App.dtFim.setMinValue(scope.getValue());
    }

    function chgDateMax(scope, newValue, oldValue, eOpts) {
        App.dtInicio.setMaxValue(scope.getValue());
    }

    function bfrLoadAcessos(store, operation, eOpts) {
        store.proxy.extraParams = getParams();
    }


    var commandArea = function (command, record) {

        var codigo = record.data.Codigo;
        var imagem = record.data.Imagens;
        var largura = window.innerWidth;
        var altura = window.innerHeight;

        App.winPessoa.width = largura * 0.95;
        App.winPessoa.autoHeight = true;

        App.winPessoa.show();

        resultado = imagem.split("divisao");

         @*Globalsys.Util.request({
            url: '@Url.Action("ExibirImagensCapturadas", "RelatorioAcessosVeiculos")',
            params: {
                codigo: record.data.Codigo
            },
            success: function (response, opts) {
                //alert(JSON.stringify(response));
                //Globalsys.Util.updateModel(App.grdArea, response);
                //var img = JSON.parse(response);
                //alert(JSON.stringify(img));
                document.getElementById("ImagemCamera").innerHTML = response.Imagens;
            }
        });*@
       document.getElementById("ImagemCamera").innerHTML = "";

        for (var i = 0; i < resultado.length; i++) {
                       document.getElementById("ImagemCamera").innerHTML += resultado[i];
        }
        //document.getElementById("img").src = url;
        if (command == "AlterarStatus") {

            @* Globalsys.Util.request({
                url: '@Url.Action("AtivarInativar", "Area")',
                params: {
                    codigo: codigo
                },
                success: function (response, opts) {
                    Globalsys.Util.updateModel(App.grdArea, response);

                }
            });*@
            }
        if (command == "Selecionar") {

            @* Globalsys.Util.request({
                url: '@Url.Action("Selecionar", "Area")',
                params: {
                    codigo: codigo
                },
                success: function (response, opts) {
                    App.frmArea.form.setValues(response);
                } *@
            //});
        }
    };

    function getParams() {
        var cracha = App.txtNumCracha.getValue();
        var cpf = App.txtCPF.getValue();
        var passaporte = App.txtPassaporte.getValue();
        var empresa = App.cmbEmpresa.getRawValue();
        var nome = App.txtNome.getValue();
        var cargo = App.cmbCargo.getValue();
        var dataInicio = App.dtInicio.getValue();
        var dataFim = App.dtFim.getValue();
        var tipoSetor = App.cmbTipoSetor.getValue();
        var setor = App.cmbSetor.getValue();
        var status = App.cmbStatusAcesso.getValue();
        var tipoPapel = App.cmbTipoPapel.getValue();
        var leitoras = App.cmbLeitoras.getValue();
        var empregadoSap = App.txtEmpregadoSAP.getValue();
        var gestorPonto = App.txtGestorPonto.getValue();
        var superiorImediato = App.txtSuperiorImediato.getValue();
        var codigoPht = App.txtNumeroPht.getValue();
        var localLeitora = App.cmbLocalLeitora.getValue();
        var maodeobra = App.cmbMaoDeObra.getValue();
        var fornecedor = App.cmbFornecedorPesquisa.getValue();
        var contratada = App.cmbContratada.getValue();
        var placa = App.txtPlaca.getValue();
        var modeloCredencial = App.cmbModeloCredencial.getValue();
        var modeloVeiculo = App.cmbModeloVeiculo.getValue();
        var cor = App.txtCor.getValue();
        var fabricante = App.cmbModeloVeiculoFabricante.getValue();
        var camera = App.txtNomeCamera.getValue();


        return {
            cracha: cracha,
            cpf: cpf,
            passaporte: passaporte,
            empresa: empresa,
            nome: nome,
            cargo: cargo,
            dataInicio: dataInicio,
            dataFim: dataFim,
            tipoSetor: tipoSetor,
            setor: setor,
            status: status,
            papel: tipoPapel,
            leitoras: leitoras,
            empregadoSap: empregadoSap,
            gestorPonto: gestorPonto,
            superiorImediato: superiorImediato,
            codigoPht: codigoPht,
            localLeitora: localLeitora,
            maodeobra: maodeobra,
            fornecedor: fornecedor,
            contratada: contratada,
            placa: placa,
            modeloCredencial: modeloCredencial,
            modeloVeiculo : modeloVeiculo,
            cor : cor,
            fabricante: fabricante,
            camera : camera

        };
    }

    function exportar() {
        var tipoRelatorio = App.cmbArquivo.getValue();
        var selectedFields = App.grdFieldsSelect.getRowsValues().map(function (s) { return s.Campo; });

        if (!App.cmbArquivo.isValid() || !selectedFields.length) {
            Ext.Msg.show({
                title: 'Crítica',
                icon: Ext.MessageBox.WARNING,
                msg: 'Informe ao menos um campo e qual tipo será exportado.',
                buttons: Ext.Msg.OK
            });
            return false;
        }

        var params = getParams();
        params.tipoRelatorio = tipoRelatorio;
        params.selectedFields = selectedFields;

        Globalsys.Util.downloadFile('@Url.Action("ExportExcel", "RelatorioAcessosVeiculos")', params);

    }

    function exportarClick() {
        App.wndParametros.show();

        preencherCampos();
    }

    function preencherCampos() {
        var campos = [{ Campo: 'NumCracha', Descricao: 'Número do crachá' },
        { Campo: 'Codigo', Descricao: 'Código Papel' },
        { Campo: 'Nome', Descricao: 'Nome' },
        { Campo: 'Papel', Descricao: 'Papel' },
        { Campo: 'CPF', Descricao: 'CPF' },
        { Campo: 'Empresa', Descricao: 'Empresa' },
        { Campo: 'Contratada', Descricao: 'Contratada' },
        { Campo: 'Cargo', Descricao: 'Cargo' },
        { Campo: 'Leitora', Descricao: 'Leitora' },
        { Campo: 'DataHora', Descricao: 'Data/Hora' },
        { Campo: 'StatusAcesso', Descricao: 'Status do acesso' },
        { Campo: 'Local', Descricao: 'Local' },
        { Campo: 'Direcao', Descricao: 'Direção' },
        { Campo: 'TipoSetor', Descricao: 'Tipo Setor' },
        { Campo: 'Setor', Descricao: 'Setor' },
        { Campo: 'MatriculaEmpregadoSAP', Descricao: 'Empregado SAP' },
        { Campo: 'MatriculaGestorPonto', Descricao: 'Gestor Ponto' },
        { Campo: 'MatriculaSuperiorImediato', Descricao: 'Superior Imediato' },
        { Campo: 'MaoDeObra', Descricao: 'Mão de obra' },
        { Campo: 'Placa', Descricao: 'Placa' },
        { Campo: 'ModeloCredencial', Descricao: 'Modelo Credencial' },
        { Campo: 'Modelo', Descricao: 'Modelo Veiculo' },
            { Campo: 'Camera', Descricao: 'Camera' },
            { Campo: 'Cor', Descricao: 'Cor' },
        { Campo: 'Fabricante', Descricao: 'Fabricante' }];
        campos = campos.sort(function (a, b) { return (a.Descricao > b.Descricao) ? 1 : ((b.Descricao > a.Descricao) ? -1 : 0); });
        App.grdFields.store.loadData(campos);
        App.grdFields.store.commitChanges();
    }

    function notifyEnter(ddSource, e, data) {
        App.FormPanel1.body.stopAnimation();
        App.FormPanel1.body.highlight();
    };

    var notifyDrop = function (ddSource, e, data) {
        var regs = ddSource.dragData.records;
        for (var i = 0; i < regs.length; i++) {
            App.grdFieldsSelect.store.add(regs[i]);
            ddSource.view.store.remove(regs[i]);
        }
        return true;
    };

    var notifyEnter2 = function (ddSource, e, data) {
        App.grdFields.body.stopAnimation();
        App.grdFields.body.highlight();
    };

    var notifyDrop2 = function (ddSource, e, data) {
        var regs = ddSource.dragData.records;
        for (var i = 0; i < regs.length; i++) {
            App.grdFields.store.add(regs[i]);
            ddSource.view.store.remove(regs[i]);
        }
        return true;
    };

    function resetGrdParmExport() {
        App.cmbArquivo.clearValue();
        App.grdFields.store.removeAll();
        App.grdFieldsSelect.store.removeAll();
        preencherCampos();
    }

    function getTipoPapel() {
        var x = App.cmbTipoPapel.getValue();
        return x;
    }

</script>

@(Html.X().Viewport()
                    .AutoScroll(true)
                    .Layout(LayoutType.Fit)
                    .Items(Html.X().Panel(new Panel
                    {
                        Border = false,
                        Title = "ACESSOS (JOURNAL)",
                        Icon = Icon.Cog
                    })
                        .LayoutConfig(new VBoxLayoutConfig
                        {
                            Align = VBoxAlign.Stretch,
                            Pack = BoxPack.Start
                        })
                        .Items(Html.X().FormPanel(new FormPanel
                        {
                            Border = false,
                            Title = "FILTRAR",
                            ID = "frmRelatorio",
                            Icon = Icon.ZoomIn,
                            Collapsible = true
                        })
                            .LayoutConfig(new VBoxLayoutConfig
                            {
                                Align = VBoxAlign.Stretch,
                                Pack = BoxPack.Start
                            })
                            .Items(
                            Html.X().Panel()
                                    .Border(false)
                                    .MarginSpec("5 0 5 0")
                                    .LayoutConfig(new HBoxLayoutConfig
                                    {
                                        Align = HBoxAlign.Stretch,
                                        Pack = BoxPack.Start
                                    })
                                    .Items(

                                  Html.X().ComboBox(new ComboBox()
                                  {
                                      FieldLabel = "Nome Câmera",
                                      LabelWidth = 80,
                                      StyleSpec = "margin-right:4px",
                                      Flex = 1,
                                      ID = "txtNomeCamera",
                                      EmptyText = "Descrição",

                                      Editable = true,
                                      AllowBlank = true,
                                      Name = "NomeCamera",
                                      Width = 350,
                                      MultiSelect = false
                                  }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Nome")
                                    .ValueField("Nome")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Nome", ModelFieldType.String)
                                                {
                                                    Mapping = "Nome"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "Camera"),

                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            }))),
                                        Html.X().TextField(new TextField
                                        {
                                            FieldLabel = "Placa",
                                            LabelWidth = 80,
                                            StyleSpec = "margin-right:4px;",
                                            Flex = 1,
                                            ID = "txtPlaca"
                                        }),
                                         Html.X().TextField(new TextField
                                         {
                                             FieldLabel = "Cor",
                                             LabelWidth = 50,
                                             StyleSpec = "margin-right:4px;",
                                             Flex = 1,
                                             ID = "txtCor"
                                         })

                                    ),


                                    Html.X().Panel()
                                    .Border(false)
                                    .MarginSpec("5 0 5 0")
                                    .LayoutConfig(new HBoxLayoutConfig
                                    {
                                        Align = HBoxAlign.Stretch,
                                        Pack = BoxPack.Start
                                    })
                                    .Items(
                                                                Html.X().ComboBox(new ComboBox()
                                                                {
                                                                    FieldLabel = "Modelo Veículo",
                                                                    LabelWidth = 100,
                                                                    Flex = 2,
                                                                    ID = "cmbModeloVeiculo",
                                                                    EmptyText = "Descrição",
                                                                    StyleSpec = "margin-right:4px;",
                                                                    Editable = true,
                                                                    AllowBlank = true,
                                                                    Name = "ModeloVeiculo",
                                                                    Width = 350,
                                                                    MultiSelect = true
                                                                }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Nome")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Nome", ModelFieldType.String)
                                                {
                                                    Mapping = "Nome"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "ModeloVeiculo"),

                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            }))),


                                                      Html.X().ComboBox(new ComboBox()
                                                      {
                                                          FieldLabel = "Fabricante",
                                                          LabelWidth = 50,
                                                          Flex = 2,
                                                          ID = "cmbModeloVeiculoFabricante",
                                                          EmptyText = "Descrição",
                                                          StyleSpec = "margin-right:4px;",
                                                          Editable = false,
                                                          AllowBlank = true,
                                                          Name = "VeiculoFabricante",
                                                          Width = 350,
                                                          MultiSelect = false
                                                      }).QueryMode(DataLoadMode.Local)
                                    .Editable(false)
                                    .DisplayField("Nome")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Nome", ModelFieldType.String)
                                                {
                                                    Mapping = "Nome"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "FabricanteVeiculo"),

                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            })))
                                            ),



                            Html.X().Panel()
                                .Border(false)
                                .Flex(1)
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Margins("5 5 0 5")
                                .Items(

                                Html.X().Hidden().Name("CPPesquisa").ID("hdnPermissaoPesquiar"),
                                    Html.X().Hidden().Name("CP").ID("hdnPermissao"),
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "Nome",
                                        LabelWidth = 80,
                                        StyleSpec = "margin-right:4px;",
                                        Flex = 2,
                                        ID = "txtNome"
                                    }),
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "CPF",
                                        LabelWidth = 35,
                                        StyleSpec = "margin-right:4px;",
                                        Width = 150,
                                        ID = "txtCPF"
                                    })
                                    .Vtype("cpf")
                                    .Plugins(Html.X().InputMask(new InputMask
                                    {
                                        InvalidMaskText = "Formato de CPF inválido",
                                        Mask = "999.999.999-99"

                                    })),
                                     Html.X().TextField(new TextField
                                     {
                                         FieldLabel = "Passaporte",
                                         LabelWidth = 65,
                                         StyleSpec = "margin-right:4px;",
                                         Width = 150,
                                         ID = "txtPassaporte"
                                     }),
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "Núm. crachá",
                                        LabelWidth = 75,
                                        Width = 150,
                                        ID = "txtNumCracha",
                                        StyleSpec = "margin-right:4px;"
                                    }),
                                    Html.X()
                                    .ComboBox(new ComboBox()
                                    {
                                        ID = "cmbTipoPapel",
                                        FieldLabel = "Tipo Papel",
                                        EmptyText = "Tipo Papel",
                                        Name = "TipoPapel",
                                        Editable = true,
                                        DisplayField = "Descricao",
                                        ValueField = "Codigo",
                                        LabelWidth = 65,
                                        AutoSelect = true,
                                        TypeAhead = true,
                                        Width = 175,
                                        StyleSpec = "margin-right:4px;"
                                    })
                                    .QueryMode(DataLoadMode.Local)
                                    .Listeners(l => l.Change.Handler = "if(this.getValue() === null) this.reset();")
                                    .TypeAhead(true)
                                    .ForceSelection(true)
                                    .MinChars(0)
                                    .Store(Html.X().Store()
                                        .AutoLoad(true)
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.Int) { Mapping = "Codigo" },
                                                new ModelField("Descricao", ModelFieldType.String) { Mapping = "Descricao" }
                                            ))
                                        .Proxy(Html.X()
                                            .AjaxProxy(new AjaxProxy { Url = Url.Action("ListaTipoPapel", "ModeloCracha") })
                                            .Reader(new JsonReader { Root = "Data" }))
                                    ),
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "Empregado SAP",
                                        EmptyText = "Matrícula",
                                        LabelWidth = 90,
                                        Width = 180,
                                        ID = "txtEmpregadoSAP",
                                        Name = "MatriculaEmpregadoSAP"
                                    })
                                ),
                                Html.X().Panel()
                                .Border(false)
                                .Margins("5 0 5 5")
                                .AutoScroll(true)
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "Gestor Ponto",
                                        EmptyText = "Matrícula",
                                        LabelWidth = 80,
                                        Width = 180,
                                        ID = "txtGestorPonto",
                                        Name = "MatriculaGestorPonto",
                                        StyleSpec = "margin-right:4px;"
                                    }),
                                    Html.X().TextField(new TextField
                                    {
                                        FieldLabel = "Superior Imediato",
                                        EmptyText = "Matrícula",
                                        LabelWidth = 100,
                                        Width = 190,
                                        ID = "txtSuperiorImediato",
                                        Name = "MatriculaSuperiorImediato",
                                        StyleSpec = "margin-right:4px;"
                                    }),
                                    Html.X().ComboBox(new ComboBox
                                    {
                                        FieldLabel = "Empresa",
                                        LabelWidth = 50,
                                        StyleSpec = "margin-right:4px;",
                                        Flex = 3,
                                        ID = "cmbEmpresa",
                                        EmptyText = "Empresa",
                                        AutoSelect = true,
                                        TypeAhead = true,
                                        Name = "Empresa"
                                    })
                                    .TypeAhead(true)
                                    .QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .ForceSelection(true)
                                    .MinChars(0)

                                    .DisplayField("Nome")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .AutoLoad(true)
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                new ModelField("Nome", ModelFieldType.String) { Mapping = "NomeCNPJ" }
                                            )
                                        )
                                        .Proxy(
                                            Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodos", "Empresa") })
                                                .Reader(new JsonReader { Root = "Data" })
                                        )
                                        .Parameters(p =>
                                            p.Add(new StoreParameter("descricao", "App.cmbEmpresa.getRawValue()", ParameterMode.Raw))
                                        )
                                    //.Proxy(Html.X().AjaxProxy(new AjaxProxy
                                    //{
                                    //    Url = Url.Action("ObterTodos", "Empresa"),
                                    //    ExtraParams = { new Parameter("descricao", "App.cmbEmpresa.getRawValue()",) }
                                    //    //ExtraParams = { new Parameter("apenasAtivos", "true") }
                                    //})
                                    //    .Reader(new JsonReader { Root = "Data" })
                                    //)
                                    ),

                                                //////
                                                Html.X().ComboBox(new ComboBox
                                                {
                                                    FieldLabel = "Contratada",
                                                    LabelWidth = 60,
                                                    StyleSpec = "margin-right:4px;",
                                                    Flex = 2,
                                                    ID = "cmbContratada",
                                                    EmptyText = "Contratada",
                                                    Editable = true,
                                                    AutoSelect = true,
                                                    TypeAhead = true,
                                                    Name = "Contratada"
                                                })
                                                .QueryMode(DataLoadMode.Local)
                                                .Editable(true)
                                                .DisplayField("Nome")
                                                .ValueField("Codigo")
                                                .Store(Html.X().Store()
                                                    .Model(Html.X().Model()
                                                        .IDProperty("Codigo")
                                                        .Fields(
                                                            new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                            new ModelField("Nome", ModelFieldType.String) { Mapping = "NomeCNPJ" }
                                                        )
                                                    )
                                                    .Proxy(
                                                        Html.X().AjaxProxy(new AjaxProxy
                                                        {
                                                            Url = Url.Action("ObterTodos", "Empresa"),
                                                            ExtraParams = { new Parameter("apenasAtivos", "true") }
                                                        }
                                                            ).Reader(new JsonReader { Root = "Data" })
                                                    )
                                                ),

                                    /////////
                                    Html.X().ComboBox(new ComboBox
                                    {
                                        FieldLabel = "Cargo",
                                        LabelWidth = 36,
                                        StyleSpec = "margin-right:4px;",
                                        Flex = 2,
                                        ID = "cmbCargo",
                                        EmptyText = "Cargo",
                                        Editable = true,
                                        AutoSelect = true,
                                        TypeAhead = true,
                                        Name = "Cargo"
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Nome")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Nome", ModelFieldType.String)
                                                {
                                                    Mapping = "Nome"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "Cargo"),
                                            ExtraParams = { new Parameter("apenasAtivos", "true") }
                                        })
                                            .Reader(new JsonReader { Root = "Data" })
                                        )
                                    )
                                ),


                                Html.X().Panel()
                                .Border(false)
                                .AutoScroll(true)
                                .Margins("0 0 5 5")
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                    Html.X().TextField(new TextField()
                                    {
                                        FieldLabel = "Número PHT",
                                        StyleSpec = "margin-right:4px;",
                                        ID = "txtNumeroPht",
                                        LabelWidth = 80,
                                        Width = 150,
                                        Name = "NumeroPHT"
                                    }),
                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        FieldLabel = "Tipo Setor",
                                        StyleSpec = "margin-right:4px;",
                                        ID = "cmbTipoSetor",
                                        LabelWidth = 80,
                                        Flex = 1,
                                        AutoSelect = true,
                                        TypeAhead = true,
                                        EmptyText = "Tipo Setor",
                                        Name = "TipoSetor"
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Descricao")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Id")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.Int)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Descricao", ModelFieldType.String)
                                                {
                                                    Mapping = "Descricao"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ListaTipoSetor", "SetorCusto")
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            }))
                                    ),
                                            Html.X().ComboBox(new ComboBox()
                                            {
                                                FieldLabel = "Setor de Custo",
                                                LabelWidth = 85,
                                                Flex = 3,
                                                StyleSpec = "margin-right:4px;",
                                                ID = "cmbSetor",
                                                EmptyText = "Setor",
                                                Editable = true,
                                                AutoSelect = true,
                                                TypeAhead = true,
                                                Name = "Setor de Custo"
                                            }).QueryMode(DataLoadMode.Local)
                                                .Editable(true)
                                                .DisplayField("Nome")
                                                .ValueField("Codigo")
                                                .Store(Html.X().Store()
                                                    .Model(Html.X().Model()
                                                        .IDProperty("Codigo")
                                                        .Fields(
                                                            new ModelField("Codigo", ModelFieldType.String)
                                                            {
                                                                Mapping = "Codigo"
                                                            },
                                                            new ModelField("Nome", ModelFieldType.String)
                                                            {
                                                                Mapping = "Nome"
                                                            }
                                                        ))
                                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                                    {
                                                        Url = Url.Action("ObterTodos", "SetorCusto"),
                                                        ExtraParams = {
                    new Parameter("apenasAtivos", "true")
                                                                }
                                                    })
                                                        .Reader(new JsonReader
                                                        {
                                                            Root = "Data"
                                                        })))
                                ),
                                Html.X().Panel()
                                .Border(false)
                                .AutoScroll(true)
                                .Margins("0 0 5 5")
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        FieldLabel = "Status Acesso",
                                        StyleSpec = "margin-right:4px;",
                                        ID = "cmbStatusAcesso",
                                        LabelWidth = 50,
                                        Flex = 2,
                                        MultiSelect = true,
                                        EmptyText = "Status Acesso",
                                        Name = "StatusAcesso"
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Descricao")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Id")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.Int)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Descricao", ModelFieldType.String)
                                                {
                                                    Mapping = "Descricao"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ListaStatusAcesso", "AcessoVeiculo")
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            })
                                        )
                                    ),

                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        FieldLabel = "Modelo Credencial",
                                        LabelWidth = 65,
                                        Flex = 2,
                                        ID = "cmbModeloCredencial",
                                        EmptyText = "Descrição",
                                        StyleSpec = "margin-right:4px;",
                                        Editable = true,
                                        AllowBlank = true,
                                        Name = "ModeloCredencial",
                                        Width = 60,
                                        MultiSelect = true
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Nome")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Nome", ModelFieldType.String)
                                                {
                                                    Mapping = "Nome"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "ModeloCredencial"),

                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            })))

                                            ),

                                Html.X().Panel()
                                .Border(false)
                                .AutoScroll(true)
                                .Margins("0 0 5 5")
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        LabelWidth = 50,
                                        FieldLabel = "Leitoras",
                                        Flex = 1,
                                        ID = "cmbLeitoras",
                                        EmptyText = "Descrição",
                                        StyleSpec = "margin-right:4px;",
                                        Editable = true,
                                        Name = "Leitora",
                                        MultiSelect = true
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(true)
                                    .DisplayField("Descricao")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Descricao", ModelFieldType.String)
                                                {
                                                    Mapping = "Descricao"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "Leitora"),
                                            ExtraParams = {
                    new Parameter("apenasLeitorasUsuario", "true")
                                                                }
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            }))),

                                    Html.X().MultiCombo(new MultiCombo()
                                    {
                                        FieldLabel = "Local Leitora",
                                        ID = "cmbLocalLeitora",
                                        Flex = 1,
                                        LabelWidth = 75,
                            //Width = 60,
                            StyleSpec = "margin-right:4px;",
                                        EmptyText = "Local Leitora",
                                        Editable = false,

                                        Name = "LocalLeitoras"
                                    }).QueryMode(DataLoadMode.Local)
                                    .Editable(false)
                                    .DisplayField("Local")
                                    .ValueField("Local")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            //.IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Local", ModelFieldType.String)
                                                {
                                                    Mapping = "Local"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodosLocais", "Leitora")
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            })))
                                ),
                                Html.X().Panel()
                                .Border(false)
                                .AutoScroll(true)
                                .Margins("0 0 5 5")
                                .LayoutConfig(new HBoxLayoutConfig
                                {
                                    Align = HBoxAlign.Stretch,
                                    Pack = BoxPack.Start
                                })
                                .Items(
                                     Html.X().DateField(new DateField
                                     {
                                         FieldLabel = "Data início",
                                         LabelWidth = 80,
                                         Width = 188,
                                         StyleSpec = "margin-right:4px;",
                                         ID = "dtInicio"
                                     })
                                    .Listeners(l => l.Change.Fn = "chgDate"),
                                    Html.X().DateField(new DateField
                                    {
                                        FieldLabel = "Data fim",
                                        LabelWidth = 55,
                                        Width = 188,
                                        StyleSpec = "margin-right:4px;",
                                        ID = "dtFim"
                                    })
                                    .Listeners(l => l.Change.Fn = "chgDateMax"),


                                Html.X().ComboBox(new ComboBox()
                                {
                                    FieldLabel = "Mão de Obra",
                                    LabelWidth = 75,
                                    StyleSpec = "margin-right:4px;",
                                    ID = "cmbMaoDeObra",
                                    EmptyText = "Mão de Obra",
                                    Flex = 1,
                                    AutoSelect = true,
                                    ForceSelection = false,
                                    Name = "MaoDeObra"
                                }).QueryMode(DataLoadMode.Local)
                                    .DisplayField("Descricao")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.Int)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("Descricao", ModelFieldType.String)
                                                {
                                                    Mapping = "Descricao"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ListaMaoDeObra", "Colaborador")
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            }))),


                                    /////////
                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        FieldLabel = "Fornecedor:",
                                        LabelWidth = 65,
                                        StyleSpec = "margin-right:4px;",
                                        Flex = 1,
                                        ID = "cmbFornecedorPesquisa",
                                        EmptyText = "Fornecedor",
                                        TypeAhead = true,
                                        ForceSelection = true,
                                        Name = "RazaoSocial"
                                    }).QueryMode(DataLoadMode.Local)
                                    .DisplayField("RazaoSocial")
                                    .ValueField("Codigo")
                                    .Store(Html.X().Store()
                                        .Model(Html.X().Model()
                                            .IDProperty("Codigo")
                                            .Fields(
                                                new ModelField("Codigo", ModelFieldType.String)
                                                {
                                                    Mapping = "Codigo"
                                                },
                                                new ModelField("RazaoSocial", ModelFieldType.String)
                                                {
                                                    Mapping = "RazaoSocialCNPJ"
                                                }
                                            ))
                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                        {
                                            Url = Url.Action("ObterTodos", "Fornecedor"),
                                            ExtraParams = {
        new Parameter("apenasAtivos", "true")
                                                    }
                                        })
                                            .Reader(new JsonReader
                                            {
                                                Root = "Data"
                                            })))

                               /////

                               )
                            )
                            .BottomBar(Html.X().Toolbar()
                                .Items(Html.X().Button(new Button
                                {
                                    Text = "Pesquisar",
                                    Icon = Icon.Zoom,
                                    ID = "btnPesquisar",
                                    Hidden = true
                                }).Listeners(p => p.Click.Handler = "pesquisar()"),
                                    Html.X().Button().Text("Exportar").Icon(Icon.PageGo).Handler("exportarClick()").ID("btnExportar").Hidden(true),
                                    Html.X().Button(new Button
                                    {
                                        Text = "Limpar",
                                        Icon = Icon.Paintbrush
                                    }).Listeners(p => p.Click.Handler = "limpar()")
                                )
                            ),


                            Html.X().GridPanel()
                            .ID("grdControleAcesso")
                            //.Title("LISTA")
                            .Flex(1)
                            .Store(Html.X().Store()
                                .AutoLoad(false)
                                .Model(Html.X().Model()
                                    .Fields(
                                    Html.X().ModelField().Name("Imagens").Type(ModelFieldType.String),
                                    Html.X().ModelField().Name("Camera").Type(ModelFieldType.String),
                                         Html.X().ModelField().Name("Placa").Type(ModelFieldType.String),
                                         Html.X().ModelField().Name("Fabricante").Type(ModelFieldType.String),
                                         Html.X().ModelField().Name("Cor").Type(ModelFieldType.String),
                                         Html.X().ModelField().Name("Modelo").Type(ModelFieldType.String),

                                         Html.X().ModelField().Name("ModeloCredencial").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("NumCracha").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Codigo").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Papel").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),

                                        Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Contratada").Type(ModelFieldType.String),
                                        //Html.X().ModelField().Name("Subcontratada").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Cargo").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Leitora").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("DataHora").Type(ModelFieldType.Date),
                                        Html.X().ModelField().Name("StatusAcesso").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Local").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Direcao").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("TipoSetor").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Setor").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Contratada").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("MatriculaEmpregadoSAP").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("MatriculaGestorPonto").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("MatriculaSuperiorImediato").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("NumeroPHT").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("MaoDeObra").Type(ModelFieldType.String)


                                    )
                                )
                                .Parameters(p =>
                                {
                                    p.Add(new StoreParameter("cracha", "App.txtNumCracha.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("cpf", "App.txtCPF.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("passaporte", "App.txtPassaporte.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("empresa", "App.cmbEmpresa.getRawValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("nome", "App.txtNome.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("cargo", "App.cmbCargo.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("dataInicio", "App.dtInicio.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("dataFim", "App.dtFim.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("tipoSetor", "App.cmbTipoSetor.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("setor", "App.cmbSetor.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("status", "App.cmbStatusAcesso.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("papel", "getTipoPapel()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("leitoras", "App.cmbLeitoras.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("validaGestor", "true", ParameterMode.Raw));
                                    p.Add(new StoreParameter("empregadoSap", "App.txtEmpregadoSAP.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("gestorPonto", "App.txtGestorPonto.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("superiorImediato", "App.txtSuperiorImediato.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("codigoPht", "App.txtNumeroPht.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("localLeitora", "App.cmbLocalLeitora.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("maodeobra", "App.cmbMaoDeObra.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("fornecedor", "App.cmbFornecedorPesquisa.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("contratada", "App.cmbContratada.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("fornecedor", "App.cmbFornecedorPesquisa.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("placa", "App.txtPlaca.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("modeloCredencial", "App.cmbModeloCredencial.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("modeloVeiculo", "App.cmbModeloVeiculo.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("cor", "App.txtCor.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("fabricante", "App.cmbModeloVeiculoFabricante.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("nomeCamera", "App.txtNomeCamera.getValue()", ParameterMode.Raw));
                                })
                                .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("Pesquisar", "RelatorioAcessosVeiculos"))
                                    .Reader(Html.X().JsonReader().Root("data")).Timeout(3000000)
                                )
                                .PageSize(25)//.RemoteSort(true)
                            )
                            .ColumnModel(
                                 Html.X().CommandColumn()
                                .Width(50)
                                .PrepareToolbar("alteraIcon")
                                .Commands(
                                    Html.X().GridCommand().CommandName("AlterarStatus").Icon(Icon.ImageLink)
                                ).Listeners(a => a.Command.Handler = "commandArea(command,record);"),

                                Html.X().Column().Text("Camera").DataIndex("Camera"),
                                Html.X().Column().Text("Placa").DataIndex("Placa"),
                                Html.X().Column().Text("Fabricante").DataIndex("Fabricante"),
                                Html.X().Column().Text("Cor").DataIndex("Cor"),
                                Html.X().Column().Text("Modelo Veículo").DataIndex("Modelo"),
                                Html.X().Column().Text("Modelo Credencial").DataIndex("ModeloCredencial").Width(100),
                                Html.X().Column().Text("Nome da Câmera").DataIndex("Camera"),
                                Html.X().Column().Text("Núm. Crachá").DataIndex("NumCracha").Width(75),
                                Html.X().Column().Text("Codigo").DataIndex("Codigo").Width(90),
                                Html.X().Column().Text("CPF").DataIndex("CPF").Width(90),
                                Html.X().Column().Text("Nome").DataIndex("Nome").Flex(3).MinWidth(100),
                                Html.X().Column().Text("Papel").DataIndex("Papel").Width(100),
                                Html.X().Column().Text("Empresa/Fornecedor").DataIndex("Empresa").Flex(2).MinWidth(110),
                                Html.X().Column().Text("Contratada").DataIndex("Contratada").Flex(2).MinWidth(100),
                                //Html.X().Column().Text("Subcontratada").DataIndex("Subcontratada").Flex(2),
                                Html.X().Column().Text("Cargo/Função").DataIndex("Cargo").Flex(1).MinWidth(75),
                                Html.X().Column().Text("Status Acesso").DataIndex("StatusAcesso").Flex(1).MinWidth(100),
                                Html.X().Column().Text("Direção (Entrada/Saída)").DataIndex("Direcao").Width(60),
                                Html.X().DateColumn().Text("Data/Hora").DataIndex("DataHora").Format("dd/MM/yyyy HH:mm").Width(100),
                                Html.X().Column().Text("Local Leitora").DataIndex("Local").Flex(1).MinWidth(75),
                                Html.X().Column().Text("Leitora").DataIndex("Leitora").Flex(1).MinWidth(75),
                                Html.X().Column().Text("Tipo Setor").DataIndex("TipoSetor").Flex(1).MinWidth(75),
                                Html.X().Column().Text("Setor").DataIndex("Setor").Flex(1).MinWidth(75),
                                Html.X().Column().Text("Empregado SAP").DataIndex("MatriculaEmpregadoSAP").Width(90),
                                Html.X().Column().Text("Gestor Ponto").DataIndex("MatriculaGestorPonto").Width(75),
                                Html.X().Column().Text("Superior Imediato").DataIndex("MatriculaSuperiorImediato").Width(100),
                                Html.X().Column().Text("Número PHT").DataIndex("NumeroPHT").Width(100),

                                Html.X().Column().Text("Mão Obra").DataIndex("MaoDeObra").Width(80)

                            )
                            .BottomBar(
                                Html.X().PagingToolbar()
                                .Items(
                                    Html.X().Label("Registros por página:"),
                                    Html.X().ToolbarSpacer(5),
                                    Html.X().ComboBox()
                                        .Editable(true)
                                        .TypeAhead(true)
                                        .AutoSelect(true)
                                        .Width(80)
                                        .Items("25", "100", "500", "1000")
                                        .SelectedItems("25")
                                        .Listeners(l =>
                                        {
                                            l.Select.Fn = "onComboBoxSelect";
                                        })
                                )
                                .HideRefresh(true)
                            )
                        )
                    )
)

@(Html.X().Window()
                    .Layout(LayoutType.Fit)
                    .Resizable(false)
                    .Border(false)
                    .ID("wndParametros")
                    .Icon(Icon.PageGo)
                    .Title("Selecionar parâmetros")
                    .Hidden(true)
                    .Height(500)
                    .Width(500)
                    .Modal(true)
                    .Listeners(wl => wl.Close.Handler = "resetGrdParmExport()")
                    .Items(
                        Html.X().Panel()
                        .Layout("border")
                        .BottomBar(Html.X().Toolbar()
                            .Items(
                                Html.X().ToolbarFill(),
                                Html.X().Button()
                                    .Text("Exportar Arquivo")
                                    .Icon(Icon.CogGo)
                                    .Handler("exportar();"),
                                Html.X().Button()
                                    .Text("Resetar")
                                    .Icon(Icon.Cancel)
                                    .Handler("resetGrdParmExport();")
                            )
                        )
                        .Items(

                            Html.X().FormPanel()
                            .Layout(LayoutType.Fit)
                            .ID("frmExportar")
                            .Region(Region.North)
                            .BodyStyle("background-color: #DFE8F6")
                            .BodyPadding(0)
                            .Margins("5 5 0 5")
                            .Items(
                                Html.X().ComboBox(new ComboBox()
                                {
                                    ID = "cmbArquivo",
                                    FieldLabel = "Tipo",
                                    Flex = 1,
                                    EmptyText = "Tipo de relatório",
                                    Editable = true,
                                    AllowBlank = false,
                                    AutoSelect = true,
                                    TypeAhead = true,
                                    Name = "Arquivo"
                                })
                                .Items(new ListItem("Excel", "EXCELOPENXML"), new ListItem("PDF", "PDF"), new ListItem("Word", "WORDOPENXML"))
                            ),

                            Html.X().GridPanel()
                            .ID("grdFields")
                            .Region(Region.West)
                            .Width(245)
                            .Title("Disponíveis")
                            .Margins("5 5 5 5")
                            .Store(Html.X().Store()
                                .ID("Store1")
                                .Model(Html.X().Model()
                                    .Fields("Descricao", "Campo")
                                )
                            )
                            .ColumnModel(
                                Html.X().Column().Text("Descrição").DataIndex("Descricao").Flex(1).Resizable(false)
                            )
                            .SortableColumns(false)
                            .SelectionModel(Html.X().RowSelectionModel().Mode(SelectionMode.Multi))
                            .View(Html.X().GridView()
                                .Plugins(Html.X().GridDragDrop().DDGroup("gridDDGroup").EnableDrop(false))
                            ),

                            Html.X().FormPanel()
                            .Layout(LayoutType.Fit)
                            .ID("FormPanel1")
                            .Region(Region.Center)
                            .Title("Selecionados")
                            .BodyStyle("background-color: #DFE8F6")
                            .BodyPadding(0)
                            .Margins("5 5 5 0")
                            .Items(
                                Html.X().GridPanel()
                                .ID("grdFieldsSelect")
                                .Border(false)
                                .Store(Html.X().Store()
                                    .Model(Html.X().Model()
                                        .Fields("Descricao", "Campo")
                                    )
                                )
                                .ColumnModel(
                                    Html.X().Column().Text("Descrição").DataIndex("Descricao").Flex(1).Resizable(false)
                                )
                                .SortableColumns(false)
                                .SelectionModel(Html.X().RowSelectionModel().Mode(SelectionMode.Multi))
                                .View(Html.X().GridView()
                                    .Plugins(Html.X().GridDragDrop().DDGroup("gridDDGroup2").EnableDrop(true))
                                )
                            )
                        )
                    )
)




@(Html.X().DropTarget()
                    .Target("={#{FormPanel1}.body.dom}")
                    .Group("gridDDGroup")
                    .NotifyEnter(h => h.Fn = "noti" +
                                             "fyEnter")
                    .NotifyDrop(h => h.Fn = "notifyDrop")
)

@(Html.X().DropTarget()
                    .Target("={#{grdFields}.body.dom}")
                    .Group("gridDDGroup2")
                    .NotifyEnter(h => h.Fn = "notifyEnter2")
                    .NotifyDrop(h => h.Fn = "notifyDrop2")
)

@(Html.X()
                                    .Window()
                                    .Layout(LayoutType.Fit)
                                    .Border(false)
                                    .ID("winPessoa")
                                    .Icon(Icon.Building)
                                    .Title("Imagens Capturadas")
                                    .Hidden(true)
                                    .Height(550)
                                    .Width(700)
                                    .Modal(true)
                                    .Items(
          Html.X().Panel().Html("<div  id=\"ImagemCamera\"></div>")))

                    }
    }))
)