﻿
@font-face {
	font-family:'TKTypeBold';
	src: url('/Content/font/TKTypeBold.eot');
	src: url('/Content/font/TKTypeBold.eot?#iefix') format('embedded-opentype'),
		url('/Content/font/TKTypeBold.woff') format('woff'),
		url('/Content/font/TKTypeBold.ttf') format('truetype'),
		url('/Content/font/TKTypeBold.otf') format('opentype'),
		url('/Content/font/TKTypeBold.svg#TKTypeBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2215;
}

#content, #preview-p{
    height:100%;
    /*width: 284.21669291355px;
    height: 451.27937007897px;*/
}
#preview-p {
    position: absolute;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#tables{
    /*position: absolute;
    display: inline-block;*/
    /*height:451px;*/
    /*min-height: 321px;*/
    min-height: 451px;
    float:none;
    /*min-width:500px;*/
    /*height:343px;*/
    border:1px solid #AAA;
}
#mainRoom
{
    position: relative;
    overflow: hidden;
    width: 284.21669291355px;
    height: 451.27937007897px;
    /*
    horizontal
    width: 321.259843px;
    height: 204.094488px;

    width: 284.21669291355px;
    height: 451.27937007897px;        
        */
    /*width: 202px;
    height: 321px;*/
    float: left;
    border: 1px solid #AAA;
    background-color: #d8d8d8;
}
#mainRoomChild
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainRoomWin
{
    float: left;
    width: 284.21669291355px;
    height: 451.27937007897px;
    /*width: 202px;
    height: 321px;*/
    border: 0px solid #AAA;
}
.campo {
    background-color: transparent;
    border-radius:2px;
    font-size: 8pt;
    /*padding: 2px;*/
    width:auto;
    height:auto;
    margin:10px;
    color: black;
    text-align:left;
    display: inline-block;
    /*display: inline-table;*/
    word-wrap: break-word;
}
#mainRoomWin .campo{margin:10px;}
#tables .imagem,#mainRoom .imagem,#mainRoomWin .imagem{height: 170px;width: 128px;/*height: 128px;width: 96px;*/}
#tables .logo, #mainRoom .logo,#mainRoomWin .logo{height: 63px;width: 203px;/*height: 50px;width: 161px;*/}
#tables img,#mainRoom img/*,#mainRoomWin img*/{height: 100%;width: 100%;}
.fotor {
    /*border-radius: 50%;*/
    /*-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;*/
}
.circle {
    border-radius: 50%;
}
.table{
    background-color: transparent;
    border-radius:2px;
    width:120px;
    height:20px;
    margin:10px;
    color: black;
    cursor:pointer;
    text-align:center;
    display: inline-block;
    /*font-family: TKTypeBold;*/
}
.valid-zone{
    background-color:rgba(157, 229, 86, 1.0) !important;
}
.selected{
    opacity:0.5;
    background-color: red;
}
.edt:hover {
    cursor:pointer;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
}