﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='@Url.Content("~/Scripts/JQuery/jquery-1.11.1.js")'></script>
<script src='@Url.Content("~/Scripts/OrgChart/jquery.orgchart.js")'></script>
<link href='@Url.Content("~/Content/css/JQueryOrgChart/jquery.orgchart.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/css/tree.css")' rel="stylesheet" />

<script>

    function addPedidoSetor(store, operation, eOpts) {
        store.proxy.extraParams.cod_pedido = App.hdCodigoPai.getValue();
    }

    function setorPedido(store, operation, eOpts) {
        store.proxy.extraParams.cod_pedido = App.hdCodigoPedido.getValue();
    }

    function formValido() {
        try {
            if (!App.frmPedido.isValid())
                throw 'Não é possível salvar. O formulário possui campos não preenchidos.';

            if (!App.cmbProjeto.getValue())
                throw 'Não é possível salvar. Selecione o projeto para o pedido de compra.';

            if (!App.grdPrazos.store.getAllRange().length)
                throw 'Não é possível salvar. Informe um prazo para o pedido de compra.'

            //if (!App.grdSetor.store.getAllRange().length)
            //    throw 'Não é possível salvar. Informe pelo menos um setor de custo para o pedido de compra.';

            if (!App.grdResponsaveis.store.getAllRange().length)
                throw 'Não é possível salvar. Informe pelo menos um responsável para o pedido de compra.';

        }
        catch (e) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: e,
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });

            return false;
        }
        return true;
    }

    function salvarContrato() {

        if (formValido()) {

            var pedido = App.frmPedido.form.getFieldValues(true);

            pedido.Codigo = App.frmPedido.getValues().Codigo;

            if (pedido.PedidoCompraPai) {
                pedido.PedidoCompraPai = {
                    Codigo: pedido.PedidoCompraPai
                };
            }

            if (pedido.Empresa)
                pedido.Empresa = {
                    Codigo: App.cmbEmpresa.getValue()
                };

            if (pedido.CNAE)
                pedido.CNAE = {
                    Codigo: App.cmbCNAE.getValue()
                };

            var setores = [], responsaveis = [], prazos = [];

            if (!pedido.Codigo) {

                pedido.Projeto = {
                    Codigo: App.cmbProjeto.getValue()
                };

                pedido.Prazos = App.grdPrazos.getRowsValues();

                setores = App.grdSetor.getRowsValues();
                pedido.Setores = [];

                for (var i = 0; i < setores.length; i++) {
                    pedido.Setores.push({
                        SetorCusto: { Codigo: setores[i].Codigo }
                    });
                }

                responsaveis = App.grdResponsaveis.getRowsValues();
                pedido.GestoresResponsaveis = [];

                for (var i = 0; i < responsaveis.length; i++) {
                    pedido.GestoresResponsaveis.push({
                        Colaborador: { Codigo: responsaveis[i].Codigo }
                    });
                }

                Globalsys.Util.request({
                    url: '@Url.Action("Incluir", "PedidoCompra")',
                    params: {
                        pedido: pedido
                    },
                    success: function (result) {
                        aposSalvarNode(result);

                        Ext.Msg.show({
                            title: 'Confirmação',
                            msg: 'Pedido de compra foi incluído com sucesso.',
                            buttons: Ext.Msg.OK,
                            icon: Ext.Msg.INFO
                        });

                        limparCampos();
                        App.wndContrato.close();
                    }
                });
            } else {
                var responsaveisNew, responsaveisDel, setoresNew, setoresDel, prazosNew, prazosDel;

                responsaveis = App.grdResponsaveis.store.getChangedData();
                setores = App.grdSetor.store.getChangedData();
                prazos = App.grdPrazos.store.getChangedData();

                if (responsaveis.Created)
                    responsaveisNew = responsaveis.Created.map(function (r) { return r.Codigo; });

                if (responsaveis.Deleted)
                    responsaveisDel = responsaveis.Deleted.map(function (r) { return r.Codigo; });

                if (setores.Created)
                    setoresNew = setores.Created.map(function (r) { return r.Codigo; });

                if (setores.Deleted)
                    setoresDel = setores.Deleted.map(function (r) { return r.Codigo; });

                if (prazos.Created)
                    prazosNew = prazos.Created.map(function (r) { return r.Codigo; });

                if (prazos.Deleted)
                    prazosDel = prazos.Deleted.map(function (r) { return r.Codigo; });

                var propModificadas = Globalsys.Util.getModifiedProperties(App.frmPedido);

                Globalsys.Util.request({
                    url: '@Url.Action("Alterar", "PedidoCompra")',
                    params: {
                        pedido: pedido,
                        propModificadas: propModificadas,
                        setoresDel: setoresDel,
                        setoresNew: setoresNew,
                        responsaveisDel: responsaveisDel,
                        responsaveisNew: responsaveisNew,
                        prazosDel: prazosDel,
                        prazosNew: prazosNew
                    },
                    success: function (result) {
                        aposSalvarNode(result);

                        Ext.Msg.show({
                            title: 'Confirmação',
                            msg: 'Pedido de compra foi alterado com sucesso.',
                            buttons: Ext.Msg.OK,
                            icon: Ext.Msg.INFO
                        });

                        limparCampos();
                        App.wndContrato.close();
                    }
                });
            }
        }
    }

    function aposSalvarNode(pedido) {
        if (!pedido.NodePai)
            App.btnNovoContrato.setVisible(false);
        else {
            var idPai = '#hd' + pedido.NodePai;

            var li = $(idPai);

            var ulPai = "";

            //verificar se o item já possui filhos
            if ($(idPai + ' ul:first').length)
                ulPai = $(idPai + ' ul:first');
            else {
                li.append('<ul>');
                ulPai = $(idPai + ' ul');
            }

            ulPai.append(criarNode(pedido));
        }

        loadTreeProjeto();
    }

    function salvarPrazo() {
        var prazo = App.frmPrazo.form.getFieldValues();

        if (!App.frmPrazo.isValid()) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: 'O formulário possui campos não preenchidos.',
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });

            return false;
        }

        prazo.PedidoCompra = {
            Codigo: App.hdCodigo.getValue()
        };

        prazo.Codigo = App.hdCodigoPrazo.getValue();

        if (App.hdCodigo.getValue()) {
            Globalsys.Util.request({
                url: '@Url.Action("IncluirPrazo", "PedidoCompra")',
                params: {
                    prazo: prazo
                },
                success: function (result) {

                    if (App.grdPrazos.store.getById(result.Codigo)) {
                        Globalsys.Util.updateModel(App.grdPrazos, result);
                    }
                    else {
                        App.grdPrazos.store.add(result);
                    }

                    App.grdPrazos.store.commitChanges();
                    App.frmPrazo.form.reset();
                    App.wndPrazo.close();
                }
            });
        } else {

            App.grdPrazos.store.remove(prazo);
            App.grdPrazos.store.add(prazo);
            App.frmPrazo.form.reset();
            App.wndPrazo.close();
        }
    }

    var pesquisarAlocadoClick = function () {        
        var cpf = App.txtCPFPesquisa.getValue();
        var passaporte = App.txtPassaportePesquisa.getValue();
        var nome = App.txtNomePesquisa.getValue();
        var setorcusto = App.txtSetorCustoPesquisa.getValue();
        var status = App.cmbStatusPesquisa.getValue();

        try {
            if (cpf == '' && passaporte == '' && nome == '' && setorcusto == '' && status == null)
                throw 'Não é possível continuar, selecione ao menos um item do filtro. ';

        } catch (e) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: e,
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });
            return false;
        }

        App.grdColabAlocados.store.load();
    };

    var pesquisarDesAlocadoClick = function () {
        var cpf = App.txtCPFPesquisa.getValue();
        var passaporte = App.txtPassaportePesquisa.getValue();
        var nome = App.txtNomePesquisa.getValue();
        var setorcusto = App.txtSetorCustoPesquisa.getValue();
        var status = App.cmbStatusPesquisa.getValue();

        try {
            if (cpf == '' && passaporte == '' && nome == '' && setorcusto == '' && status == null)
                throw 'Não é possível continuar, selecione ao menos um item do filtro. ';

        } catch (e) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: e,
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });
            return false;
        }

        App.grdColabDesalocados.store.load();
    };

    function pesquisarClick() {
        App.btnNovoContrato.hide();

        if (!App.cmbProjeto.getValue()) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: 'Preencha o projeto.',
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });
            return false;
        }

        if (!App.cmbEmpresaPes.getValue() && !App.nbPO.getValue()) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: 'Preencha a empresa ou o nº da PO.',
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });
            return false;
        }

        resetTreeProjeto('#chart-source');

        Globalsys.Util.request({
            url: '@Url.Action("ObterPorProjeto", "PedidoCompra")',
            params: {
                codProjeto: App.cmbProjeto.getValue(),
                codEmpresa: App.cmbEmpresaPes.getValue(),
                numeroPO: App.nbPO.getValue()
            },
            success: function (result) {
                if (!result)
                    App.btnNovoContrato.setVisible(true);
                else
                    loadTreeProjeto(result);
            }
        });
    }

    function removerPrazo(command, record) {
        App.grdPrazos.store.remove(record);
    }

    function commandGrid(command, record, grid) {
        grid.store.remove(record);
    }

    function add(codigoPai) {
        App.hdCodigoPai.setValue(codigoPai);
        showWndContrato();
    }

    function removerClick(codigo) {
        var fnConfirm = function (btn) { if (btn == 'yes') { remover(codigo); } };
        Ext.Msg.confirm('Confirmação', 'Ao removido o pedido de compra, todos os seus subpedidos serão removidos. Deseja continuar?', fnConfirm);
    }

    function remover(codigo) {

        Globalsys.Util.request({
            url: '@Url.Action("Remover", "PedidoCompra")',
            params: {
                codigo: codigo
            },
            success: function (result) {

                removerNode(codigo);

                Ext.Msg.show({
                    title: 'Confirmação',
                    msg: 'Registro(s) de pedido de compra removido(s) com sucesso.',
                    buttons: Ext.Msg.OK,
                    icon: Ext.Msg.INFO
                });
            }
        });
    }

    function ativarInativarClick(codigo, status) {
        if (!status) {
            var fnConfirm = function (btn) { if (btn == 'yes') { ativarInativar(codigo); } };
            Ext.Msg.confirm('Confirmação', 'Ao inativar o pedido de compra, todos os seus subpedidos serão inativados. Deseja continuar?', fnConfirm);
        } else
            ativarInativar(codigo);
    }

    function desalocarClick() {
        var fnConfirm = function (btn) { if (btn == 'yes') { desalocar(); } };
        var colabs = App.grdColabAlocados.getSelectionModel().getSelection();
        Ext.Msg.confirm('Confirmação', colabs.length > 1 ? 'Deseja desalocar os colaboradores do pedido de compra?' : 'Deseja desalocar o colaborador do pedido de compra?', fnConfirm);
    }

    function desalocar() {
        var colabs = App.grdColabAlocados.getSelectionModel().getSelection();

        if (!colabs.length) {
            Ext.Msg.show({
                title: 'Crítica',
                msg: 'Selecione ao menos um colaborador.',
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.WARNING
            });
            return false;
        }

        colabs = colabs.map(function (c) { return c.data.Codigo });

        Globalsys.Util.request({
            url: '@Url.Action("DesalocarColaborador", "PedidoCompra")',
            params: {
                colabs: colabs,
                codPedido: App.hdCodigoPedido.getValue()
            },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    App.grdColabDesalocados.store.add(result[i]);
                }

                App.grdColabDesalocados.store.commitChanges();
                App.grdColabAlocados.store.load();

                Ext.Msg.show({
                    title: 'Confirmação',
                    msg: colabs.length > 1 ? 'Os colaboradores foram desalocados com sucesso.' : 'O colaborador foi desalocado com sucesso.',
                    buttons: Ext.Msg.OK,
                    icon: Ext.Msg.INFO
                });
            }
        });
    }

    function alocarClick(codigo, codigoEmpresa) {
        App.wndAlocacao.show();
        App.hdCodigoPedido.setValue(codigo);
        App.hdCodigoEmpresa.setValue(codigoEmpresa);
        //App.grdColabAlocados.store.load();
        //App.grdColabDesalocados.store.load();
    }

    function clsWndAlocacao() {
        App.hdCodigoPedido.setValue('');
        App.hdCodigoEmpresa.setValue('');
        App.grdColabAlocados.store.removeAll();
        App.grdColabDesalocados.store.removeAll();
    }

    function bfrObterListaColaborador(store, operation, eOpts) {
        store.proxy.extraParams.empresa = App.hdCodigoEmpresa.getValue();
        store.proxy.extraParams.consideraAlocados = true;
        store.proxy.extraParams.cpf = '';
    }

    function bfrObterAlocados(store, operation, eOpts) {
        store.proxy.extraParams.codPedido = App.hdCodigoPedido.getValue();
        store.proxy.extraParams.somenteAlocados = true;
    }

    function bfrObterDesalocados(store, operation, eOpts) {
        store.proxy.extraParams.codPedido = App.hdCodigoPedido.getValue();
        store.proxy.extraParams.somenteAlocados = false;
    }

    function showWndSetorCusto() {
        var colabs = App.grdColaboradoresAlocar.getSelectionModel().getSelection();
        if (!colabs.length) return;

        App.cmbSetorCusto.clearValue();
        App.wndSetorCusto.show();
        App.cmbSetorCusto.store.load();

       @* var codigoProjeto = App.cmbProjeto.getValue();
        Globalsys.Util.request({
            url: '@Url.Action("ObterGruposTrabalho", "Projeto")',
            params: {
                codigo: codigoProjeto
            },
            success: function (result) {
                if (!result.length) {
                    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não foi encontrado grupos de trabalho ativos.', buttons: Ext.Msg.OK });
                    return;
                }
                App.cmbSetorCusto.clearValue();
                App.cmbGrupoTrabalho.clearValue();
                App.wndSetorCusto.show();
                App.cmbSetorCusto.store.load();
                App.cmbGrupoTrabalho.store.loadData(result);
                App.cmbGrupoTrabalho.store.commitChanges();
            }
        });*@
    }

    function clsWndSetorCusto() {
        App.cmbSetorCusto.clearValue();
    }

    function alocar() {
        if (!App.frmSetorCusto.isValid()) return;

        var colabs = App.grdColaboradoresAlocar.getSelectionModel().getSelection();
        colabs = colabs.map(function (c) { return c.data.Codigo });

        if (!colabs.length) {
            Ext.Msg.show({
                title: 'Confirmação',
                msg: 'Selecione ao menos um colaborador.',
                buttons: Ext.Msg.OK,
                icon: Ext.Msg.INFO
            });
            return false;
        }

        var codSetorCusto = App.cmbSetorCusto.getValue();
        //var codGrupoTrabalho = App.cmbGrupoTrabalho.getValue();
        var codPedido = App.hdCodigoPedido.getValue();

        Globalsys.Util.request({
            url: '@Url.Action("AlocarColaborador", "PedidoCompra")',
                params: {
                    colabs: colabs,
                    codSetorCusto: codSetorCusto,
                    //codGrupoTrabalho: codGrupoTrabalho,
                    codPedido: codPedido
                },
                success: function (result) {

                    for (var i = 0; i < result.length; i++)
                        App.grdColabAlocados.store.add(result[i]);

                    App.grdColabAlocados.store.commitChanges();
                    App.grdColabDesalocados.store.load();

                    App.wndSetorCusto.close();
                    App.wndAlocacaoAdd.close();

                    Ext.Msg.show({
                        title: 'Confirmação',
                        msg: colabs.length > 1 ? 'Os colaboradores foram alocados com sucesso.' : 'O colaborador foi alocado com sucesso.',
                        buttons: Ext.Msg.OK,
                        icon: Ext.Msg.INFO
                    });

                }
            });
        }

        function showWndAlocacaoAdd() {
            App.wndAlocacaoAdd.show();
            App.grdColaboradoresAlocar.store.load();
        }

        function clsWndAlocacaoAdd() {
            App.grdColaboradoresAlocar.store.removeAll();
        }

        function ativarInativar(codigo) {

            Globalsys.Util.request({
                url: '@Url.Action("AtivarInativar", "PedidoCompra")',
                params: {
                    codigo: codigo
                },
                success: function (result) {
                    var status = '';

                    if (result.IdsInativar) {
                        status = 'inativado';
                        updateNode(result.IdsInativar, false);
                    }
                    else {
                        status = 'ativado';
                        updateNode(codigo, true);
                    }

                    Ext.Msg.show({
                        title: 'Confirmação',
                        msg: 'Registro(s) de pedido de compra ' + status + '(s) com sucesso.',
                        buttons: Ext.Msg.OK,
                        icon: Ext.Msg.INFO
                    });
                }
            });
        }

        function selecionar(codigo) {
            Globalsys.Util.request({
                url: '@Url.Action("Selecionar", "PedidoCompra")',
                params: {
                    codigo: codigo
                },
                success: function (result) {
                    showWndContrato();

                    App.cmbEmpresa.store.add({ Codigo: result.Empresa, Apelido: result.EmpresaDesc });

                    Globalsys.Util.setFieldValues(App.frmPedido, result);

                    App.cmbEmpresa.setReadOnly(true);

                    App.grdPrazos.store.loadData(result.Prazos);
                    App.grdPrazos.store.commitChanges();
                    App.grdSetor.store.loadData(result.Setores);
                    App.grdSetor.store.commitChanges();
                    App.grdResponsaveis.store.loadData(result.GestoresResponsaveis);
                    App.grdResponsaveis.store.commitChanges();
                }
            });
        }

        function limparCampos() {
            Globalsys.Util.resetFieldValues(App.frmPedido);

            App.cmbEmpresa.setReadOnly(false);

            App.grdPrazos.store.removeAll();
            App.grdSetor.store.removeAll();
            App.grdResponsaveis.store.removeAll();
        }

        function showWndContrato() {
            var mdProjeto = App.cmbProjeto.store.getById(App.cmbProjeto.getValue());

            if (!mdProjeto) {
                Ext.Msg.show({
                    title: 'Crítica',
                    msg: 'Selecione um projeto.',
                    buttons: Ext.Msg.OK,
                    icon: Ext.Msg.WARNING
                });
                return false;
            }

            App.txtProjeto.setValue(mdProjeto.data.Nome);
            App.wndContrato.show();
        }

        function showWndPrazo(record) {
            var codigoPedido = App.hdCodigoPai.getValue();
            var codigoProjeto = App.cmbProjeto.getValue();
            if (record) {
                var _prazo = record.data.Codigo;
            }
            var state;

            if (!App.hdCodigo.getValue()) state = 'Novo';
            else state = 'Alterado';

            Globalsys.Util.request({
                url: '@Url.Action("ObterPrazoLimite", "PedidoCompra")',
                params: {
                    codigoPedido: codigoPedido,
                    codigoProjeto: codigoProjeto,
                    estado: state,
                    prazoModificado: _prazo
                },
                success: function (result) {
                    if (_prazo) {
                        App.hdCodigoPrazo.setValue(_prazo);
                        App.dtInicioPrazo.setValue(result.DataInicio);
                        App.dtFimPrazo.setValue(result.DataFim);
                        App.txtObservacao.setValue(result.Observacao);
                        App.chkAditivo.setValue(result.Aditivo);

                    }
                    else
                    {
                        if (record) {
                            App.dtInicioPrazo.setValue(record.data.DataInicio);
                            App.dtFimPrazo.setValue(record.data.DataFim);
                            App.txtObservacao.setValue(record.data.Observacao);
                            App.chkAditivo.setValue(record.data.Aditivo);

                            App.grdPrazos.store.remove(record);
                        }
                    }

                    App.dtInicioPrazo.setMinValue(result.DataInicioLimite);
                    App.dtInicioPrazo.setMaxValue(result.DataFimLimite);
                    App.dtFimPrazo.setMinValue(result.DataInicioLimite);
                    App.dtFimPrazo.setMaxValue(result.DataFimLimite);
                }
            });

            App.wndPrazo.show();
        }

        function clsWndPrazo() {
            Globalsys.Util.resetFieldValues(App.frmPrazo);
        }

        function showWndSetor() {
            App.wndSetor.show();
            App.grdWndSetor.store.load();
        }

        function addSetorCusto() {
            var records = App.grdWndSetor.getSelectionModel().getSelection();

            for (var i = 0; i < records.length; i++) {
                var cod = App.grdSetor.store.findExact("Codigo", records[i].data.Codigo);

                if (cod < 0)
                    App.grdSetor.store.add(records[i].data);
            }

            App.wndSetor.close();
        }

        function showWndColaborador() {
            App.wndColaborador.show();
            App.grdColabResponsavel.store.load();
        }

        function addColaborador() {
            var records = App.grdColabResponsavel.getSelectionModel().getSelection();

            for (var i = 0; i < records.length; i++) {
                var cod = App.grdResponsaveis.store.find("Codigo", records[i].data.Codigo);

                if (cod < 0)
                    App.grdResponsaveis.store.add(records[i].data);
            }

            App.wndColaborador.close();
        }

        function chgDataInicio(scope, newValue, oldValue, eOpts) {
            App.dtFimPrazo.setMinValue(newValue);
        }



        function criarNode(node) {
            var tree = configNode(node);

            if (!node.NodesFilhos.length) {
                tree += "</li>";
                return tree;
            }

            var nodesFilhos = node.NodesFilhos;

            tree += "<ul>";

            for (var i = 0; i < nodesFilhos.length; i++) {
                var nodeFilho = nodesFilhos[i];

                tree += criarNode(nodeFilho);

                if (nodeFilho.NodesFilhos.length)
                    tree += '</li>';
            }

            tree += "</ul>";

            return tree;
        }

        //config node cria o li mas não fecha
        function configNode(nodeFilho) {

            var node = "", classe = "";

            if (!nodeFilho.Ativo)
                classe = "class='inativo'";

            node = "<li id='hd" + nodeFilho.Codigo + "' " + classe + "><div class='descriptNode'><h2>" + nodeFilho.Descricao + "</h2></div>";

            node += "<div class=\"commandsNode\">";
            node += "<a href=\"javascript:add(" + nodeFilho.Codigo + ");\">";
            node += "<img src=\"/Content/img/command/add.png\" title=\"Adicionar Subpedido\" /></a>";

            if (nodeFilho.Ativo) {
                node += "<a href=\"javascript:ativarInativarClick(" + nodeFilho.Codigo + ", false);\">";
                node += "<img src=\"/Content/img/command/delete.png\" title=\"Inativar Pedido\" /></a>";
            } else {
                node += "<a href=\"javascript:ativarInativarClick(" + nodeFilho.Codigo + ", true);\">";
                node += "<img src=\"/Content/img/command/accept.png\" title=\"Ativar Pedido\" /></a>";
            }

            node += "<a href=\"javascript:removerClick(" + nodeFilho.Codigo + ", true);\">";
            node += "<img src=\"/Content/img/command/cancel.png\" title=\"Remover Pedido\" /></a>";

            node += "<a href=\"javascript:selecionar(" + nodeFilho.Codigo + ");\">";
            node += "<img src=\"/Content/img/command/page_white_edit.png\" title=\"Alterar Pedido\" /></a>";

            node += "<a href=\"javascript:alocarClick(" + nodeFilho.Codigo + ", '" + nodeFilho.CodigoEmpresa + "');\">";
            node += "<img src=\"/Content/img/command/user_add.png\" title=\"Colaboradores\" /></a>";

            //node += "</div></div>";
            node += "</div>";

            return node;
        }

        function removerNode(codigo) {
            var li = $('#hd' + codigo);
            if ($(li.parent()).attr("id") == "chart-source") {
                li.remove();
                resetTreeProjeto();
            }
            else {
                li.remove();
                loadTreeProjeto();
            }
        }

        function updateNode(no, status) {

            if (!$.isArray(no))
                no = [no];

            for (var i = 0; i < no.length; i++) {
                var li = $("#hd" + no[i]);

                var a = $("#hd" + no[i] + " .commandsNode a")[1];
                var img = $("#hd" + no[i] + " .commandsNode a img")[1];

                if (status) {
                    li.removeClass("inativo");

                    a.href = a.href.replace('true', 'false');

                    img.src = '/Content/img/command/delete.png';
                    img.title = 'Inativar pedido';
                }
                else {

                    li.addClass("inativo");

                    a.href = a.href.replace('false', 'true');

                    img.src = '/Content/img/command/accept.png';
                    img.title = 'Ativar pedido';
                }
            }

            loadTreeProjeto();
        }

        function resetTreeProjeto(idUl) {
            $('#chart-container').children().remove();
        }

        function loadTreeProjeto(pedido) {
            if (pedido) {
                var tree = criarNode(pedido);
                $('#chart-source').html(tree);
            }

            $('#chart-source').orgChart({
                container: $('#chart-container'),
                copyClass: true
            });

            $(".descriptNode").parent().mouseover(function () {
                $(this).find('.commandsNode').css({ 'display': 'table', 'width': '100%' });
            });

            $(".descriptNode").parent().mouseout(function () {
                $(this).find('.commandsNode').hide();
            });
        }

        function cancelarPesResponsavel() {
            App.frmPesResponsavel.form.reset();
            App.wndColaborador.close();
            App.grdColabResponsavel.getView().getSelectionModel().deselectAll();
            App.grdColabResponsavel.store.removeAll();
        }

        function adicionarPesResponsavel() {
            App.grdResponsaveis.store.removeAll();
            var record = App.grdColabResponsavel.getView().getSelectionModel().getSelection();
            var store = App.grdResponsaveis.getStore();
            for (var i = 0; i < record.length; i++) {
                //var enc = store.getById(record[i].data.Codigo);

                var enc = store.find('Codigo', record[i].data.Codigo)
                if (enc == -1) {
                    record[i].data.Nome = record[i].data.Nome + ' / ' + record[i].data.CPF + ' / ' + record[i].data.Empresa;
                    App.grdResponsaveis.getStore().add(record[i].data);
                }
            }

            App.grdColabResponsavel.getSelectionModel().deselectAll();
            App.wndColaborador.close();

            App.grdColabResponsavel.store.removeAll();
            App.frmPesResponsavel.form.reset();

        }

        var commandPesResponsavel = function (command, record) {
            if (command == "Delete") {
                App.grdResponsaveis.getStore().remove(record);
            }
        };

        function pesquisarPesResponsavel() {

            if (!App.frmPesResponsavel.form.isDirty()) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Selecione pelo menos um filtro.', buttons: Ext.Msg.OK });
                return;
            }

            App.grdColabResponsavel.store.removeAll();
            if (App.frmPesResponsavel.isValid()) {

                var cpf = App.txtCPFR.getValue();
                var empresa = App.cmbEmpresaR.getValue();
                var nome = App.txtColaboradorR.getValue();

                Globalsys.Util.request({
                    url: '@Url.Action("ObterListaColaborador", "Colaborador")',
                params: {
                    cpf: cpf,
                    empresa: empresa,
                    nome: nome
                },
                success: function (response, opts) {

                    App.grdColabResponsavel.store.add(response);
                    App.grdColabResponsavel.store.commitChanges();
                }
            })
            }
            else { Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível pesquisar. O formulário possui campos preenchidos incorretamente.', buttons: Ext.Msg.OK }); }
        }

        function limparPesResponsavel() {
            App.frmPesResponsavel.form.reset();
            App.grdColabResponsavel.store.removeAll();
        }

        var commandPrazos = function (command, record) {

            var codigo = record.data.Codigo;

            if (command == "Delete") {
                App.grdPrazos.store.remove(record);
            }
            if (command == "Selecionar") {
                showWndPrazo(record);
            }
        }
</script>

@(Html.X().Viewport()
      .AutoScroll(true)
      .Layout(LayoutType.Fit)
      .Border(false)
      .Items(Html.X().Panel(new Panel
      {
          Border = true,
          AutoScroll = true,
          Title = "Pedido de compra (PO)",
          Icon = Ext.Net.Icon.ChartOrganisation
      })
          .TopBar(Html.X().Toolbar()
              .Items(
                  Html.X().ComboBox(new ComboBox
                  {
                      FieldLabel = "Projetos",
                      ID = "cmbProjeto",
                      Name = "Projeto",
                      LabelWidth = 50,
                      DisplayField = "Nome",
                      QueryMode = DataLoadMode.Local,
                      ValueField = "Codigo",
                      StyleSpec = "margin-right:4px;",
                      Flex = 3
                  })
                      .Store(Html.X().Store()
                          .AutoLoad(true)
                          .Model(Html.X().Model()
                              .IDProperty("Codigo")
                              .Fields(Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                  Html.X().ModelField().Name("Nome"),
                                  Html.X().ModelField().Name("PossuiContrato").Type(ModelFieldType.Boolean)))
                          .Proxy(Html.X().AjaxProxy(new AjaxProxy
                          {
                              Url = Url.Action("ObterTodos", "Projeto")
                          })
                              .Reader(new JsonReader
                              {
                                  Root = "Data"
                              })
                              .ExtraParams(p => p.Add(new Parameter("apenasAtivos", "true")))
                          )
                      ),
                  Html.X().ComboBox(new ComboBox
                  {
                      FieldLabel = "Empresas",
                      ID = "cmbEmpresaPes",
                      LabelWidth = 50,
                      DisplayField = "Apelido",
                      ValueField = "Codigo",
                      Flex = 5,
                      StyleSpec = "margin-right:4px;",
                      QueryMode = DataLoadMode.Local,
                      QueryParam = "descricao"
                  })
                      .Store(Html.X().Store()
                          .AutoLoad(true)
                          //.Model(Html.X().Model()
                          //    .IDProperty("Codigo")
                          //    .Fields(Html.X().ModelField().Name("Codigo").Type(ModelFieldType.String),
                          //        Html.X().ModelField().Name("Apelido").Type(ModelFieldType.String)))
                          .Model(Html.X().Model()
                            .IDProperty("Codigo")
                            .Fields(
                                new ModelField("Codigo", ModelFieldType.String)
                                {
                                    Mapping = "Codigo"
                                },
                                new ModelField("Apelido", ModelFieldType.String)
                                {
                                    Mapping = "ApelidoCNPJ"
                                }
                            ))
                          .Proxy(Html.X().AjaxProxy(new AjaxProxy
                          {
                              Url = Url.Action("ObterTodos", "Empresa")
                          })
                              .Reader(new JsonReader
                              {
                                  Root = "Data"
                              })
                              .ExtraParams(p =>
                              {
                                  p.Add(new Parameter("apenasAtivos", "true"));
                                  p.Add(new Parameter("verificarDocumentacao", "true"));
                              })
                          )
                      )

                  ,

                  Html.X().TextField(new TextField
                  {
                      ID = "nbPO",
                      FieldLabel = "Nº PO",
                      LabelWidth = 40,
                      Flex = 2
                  }),

                  Html.X().Button()
                      .ID("btnPesquisar")
                      .Text("Pesquisar")
                      .Icon(Icon.ZoomIn)
                      .Handler("pesquisarClick()"),

                  Html.X().ToolbarSpacer().Width(25),

                  Html.X().Button()
                      .ID("btnNovoContrato")
                      .Text("Novo contrato")
                      .Hidden(true)
                      .Icon(Icon.PageWhiteAdd)
                      .Handler("showWndContrato()")
              )
          )
          .Html(@"<ul id='chart-source' style='display:none;'></ul>
            <div id='chart-container'></div>"
          )
      )
)


@(Html.X().Window(new Window
{
    Width = 650,
    ID = "wndContrato",
    Height = 500,
    MinHeight = 350,
    MinWidth = 600,
    AutoScroll = true,
    Resizable = false,
    BodyStyle = "background-color:#fff;",
    Icon = Icon.Add,
    Hidden = true,
    Modal = true,
    Title = "Pedido de Compra (PO)"
})
           .Listeners(l => l.Close.Handler = "limparCampos();")
           .BottomBar(Html.X().Toolbar().Items(Html.X().Button().Text("Salvar").Handler("salvarContrato()").Icon(Icon.DiskEdit)))
           .Items(Html.X().FormPanel(new FormPanel
           {
               Layout = LayoutType.VBox.ToString(),
               ID = "frmPedido",
               HideMode = Ext.Net.HideMode.Offsets,
               Border = false,
               BodyPadding = 10
           })
                          .LayoutConfig(new VBoxLayoutConfig
                          {
                              Align = VBoxAlign.Stretch,
                              Pack = BoxPack.Center
                          })
                          .Items(
                                 Html.X().Hidden().ID("hdCodigo").Name("Codigo"),

                                 Html.X().Hidden().ID("hdCodigoPai").Name("PedidoCompraPai"),

                                 Html.X().TextField()
                                         .ID("txtProjeto")
                                         .ReadOnly(true)
                                         .Flex(1)
                                         .LabelWidth(75)
                                         .AllowBlank(false)
                                         .FieldLabel("Projeto")
                                         .Name("Projeto"),

                                 Html.X().TextField()
                                         .Flex(1)
                                         .LabelWidth(75)
                                         //.AllowBlank(false)
                                         .MaxWidth(220)
                                         .ID("txtNumero")
                                         .FieldLabel("Número PO")
                                         .Name("Numero")
                                         .MaxLength(50)
                                         .EnforceMaxLength(true),

                                 Html.X().TextField()
                                         .Flex(1)
                                         .LabelWidth(75)
                                         .AllowBlank(false)
                                         .FieldLabel("Descrição")
                                         .Name("Nome")
                                         .MaxLength(50)
                                         .EnforceMaxLength(true),

                                 Html.X().ComboBox()
                                         .Flex(1)
                                         .LabelWidth(75)
                                         .AllowBlank(false)
                                         .ID("cmbEmpresa")
                                         .FieldLabel("Empresa")
                                         .Name("Empresa")
                                         .ValueField("Codigo")
                                         .QueryMode(DataLoadMode.Local)
                                         .QueryParam("descricao")
                                         .DisplayField("Apelido")
                                         .Store(Html.X().Store()
                                                        .AutoLoad(true)
                                                        .Model(Html.X().Model()
                                                                       .Fields(new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                                               new ModelField("Apelido", ModelFieldType.String) { Mapping = "ApelidoCNPJ" }
                                                                               ))
                                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodos", "Empresa") })
                                                                       .Reader(new JsonReader { Root = "Data" })
                                                                           .ExtraParams(p =>
                                                                           {
                                                                               p.Add(new Parameter("apenasAtivos", "true"));
                                                                               p.Add(new Parameter("verificarDocumentacao", "true"));
                                                                           })
                                                              )
                                                 ),

                                 Html.X().ComboBox()
                                         .Flex(1)
                                         .LabelWidth(75)
                                         .ID("cmbCNAE")
                                         .FieldLabel("CNAE")
                                         .Name("CNAE")
                                         .ValueField("Codigo")
                                         .DisplayField("Nome")
                                         .Store(Html.X().Store()
                                                        .AutoLoad(false)
                                                        .Model(Html.X().Model()
                                                                       .Fields(Html.X().ModelField().Name("Codigo"),
                                                                               Html.X().ModelField().Name("Nome")))
                                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterTodosCNAE", "Empresa") })
                                                                       .Reader(new JsonReader { Root = "Data" })
                                                                       .ExtraParams(p => p.Add(new Parameter("apenasAtivos", "true")))
                                                              )
                                                 ),

                                 Html.X().TextArea()
                                         .Flex(1)
                                         .LabelWidth(75)
                                         .FieldLabel("Observação")
                                         .Name("Observacao")
                                         .MaxLength(300)
                                         .EnforceMaxLength(true),

                                 Html.X().TabPanel(new TabPanel
                                 {
                                     Border = false
                                 })
                                         .Items(Html.X().GridPanel(new GridPanel
                                         {
                                             Title = "Prazos",
                                             HideMode = Ext.Net.HideMode.Offsets,
                                             Border = false
                                         })
                                                                .ID("grdPrazos")
                                                                .Store(Html.X().Store()
                                                                        .PageSize(5)
                                                                        .RemotePaging(false)
                                                                        .Model(Html.X().Model()
                                                                            .IDProperty("Codigo")
                                                                            .Fields(
                                                                                    Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                                    Html.X().ModelField().Name("DataInicio").Type(ModelFieldType.Date),
                                                                                    Html.X().ModelField().Name("DataFim").Type(ModelFieldType.Date),
                                                                                    Html.X().ModelField().Name("Aditivo").Type(ModelFieldType.Boolean),
                                                                                    Html.X().ModelField().Name("Observacao").Type(ModelFieldType.String)
                                                                            ))
                                                                 ).ColumnModel(
                                                                    Html.X().CommandColumn().Width(50).Commands(
                                                                        Html.X().GridCommand().CommandName("Selecionar").Icon(Icon.NoteEdit),
                                                                        Html.X().GridCommand().CommandName("Delete").Icon(Icon.Delete)).Listeners(a => a.Command.Handler = "commandPrazos(command,record);"),
                                                                    Html.X().DateColumn().Format("dd/MM/yyyy").Text("Data início").DataIndex("DataInicio").Flex(1),
                                                                    Html.X().DateColumn().Format("dd/MM/yyyy").Text("Data fim").DataIndex("DataFim").Flex(1),
                                                                    Html.X().BooleanColumn().Text("Aditivo").DataIndex("Aditivo").FalseText("Não").TrueText("Sim").Width(70)
                                                            ).TopBar(Html.X().Toolbar().Items(
                                                                Html.X().Button().Icon(Icon.Add).Text("Adicionar")
                                                                          .Handler("showWndPrazo()"))),

                                                  Html.X().GridPanel(new GridPanel
                                                  {
                                                      ID = "grdSetor",
                                                      HideMode = Ext.Net.HideMode.Offsets,
                                                      Title = "Setores de custo",
                                                      Border = false
                                                  })
                                                                .Store(Html.X().Store()
                                                                        .PageSize(5)
                                                                        .RemotePaging(false)
                                                                        .Model(Html.X().Model()
                                                                            .Fields(
                                                                                    Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                                    Html.X().ModelField().Name("Numero").Type(ModelFieldType.String),
                                                                                    Html.X().ModelField().Name("Nome").Type(ModelFieldType.String)
                                                                                   ))
                                                                 ).ColumnModel(
                                                                    Html.X().CommandColumn()
                                                                        .Width(30)
                                                                        .Commands(
                                                                            Html.X().GridCommand()
                                                                                .CommandName("Delete").Icon(Icon.Delete)).Listeners(a => a.Command.Handler = "commandGrid(command,record, App.grdSetor);"),
                                                                    Html.X().Column().Text("Número").DataIndex("Numero").Width(100),
                                                                    Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1)

                                                            ).TopBar(Html.X().Toolbar().Items(
                                                                Html.X().Button().Icon(Icon.Add).Text("Adicionar")
                                                                          .Handler("showWndSetor()"))),

                                                  Html.X().GridPanel(new GridPanel
                                                  {
                                                      ID = "grdResponsaveis",
                                                      HideMode = Ext.Net.HideMode.Offsets,
                                                      Title = "Responsáveis",
                                                      Border = false
                                                  })
                                                           .Store(Html.X().Store()
                                                                        .PageSize(5)
                                                                        .RemotePaging(false)
                                                                        .Model(Html.X().Model()
                                                                            .Fields(
                                                                                    Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                                    Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                                                                                    Html.X().ModelField().Name("Nome").Type(ModelFieldType.String)
                                                                                   ))
                                                                 ).ColumnModel(
                                                                    Html.X().CommandColumn()
                                                                        .Width(30)
                                                                        .Commands(Html.X().GridCommand()
                                                                                          .CommandName("Delete")
                                                                                          .Icon(Icon.Delete))
                                                                        .Listeners(a => a.Command.Handler = "commandGrid(command,record, App.grdResponsaveis);"),
                                                                    Html.X().Column().Text("CPF").DataIndex("CPF").Width(100),
                                                                    Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1)
                                                            ).TopBar(Html.X().Toolbar().Items(
                                                                Html.X().Button().Icon(Icon.Add).Text("Adicionar")
                                                                          .Handler("showWndColaborador()")))
                                                )
                                )
                )
)

@(Html.X().Window(new Window
{
    Width = 450,
    ID = "wndPrazo",
    BodyStyle = "background-color:#fff;",
    BodyPadding = 5,
    Height = 230,
    Icon = Icon.Add,
    Hidden = true,
    Modal = true,
    Title = "Prazo"
})
           .Items(
                    Html.X().FormPanel()
                            .Border(false)
                            .ID("frmPrazo")
                            .Items(Html.X().Hidden().ID("hdCodigoPrazo").Name("Codigo"),
                                   Html.X().DateField(new DateField
                                   {
                                       ID = "dtInicioPrazo",
                                       FieldLabel = "Data início",
                                       AllowBlank = false,
                                       Name = "DataInicio",
                                       Format = "dd/MM/yyyy",
                                       AltFormats = "ddMMyyyy"
                                   })
                                           .Listeners(a => a.Change.Fn = "chgDataInicio"),

                                   Html.X().DateField(new DateField
                                   {
                                       ID = "dtFimPrazo",
                                       AllowBlank = false,
                                       FieldLabel = "Data fim",
                                       Name = "DataFim",
                                       Format = "dd/MM/yyyy",
                                       AltFormats = "ddMMyyyy"
                                   }),

                                  Html.X().Checkbox(new Checkbox
                                  {
                                      ID = "chkAditivo",
                                      FieldLabel = "Aditivo?",
                                      BoxLabel = "(somente leitura)",
                                      LabelSeparator = "",
                                      ReadOnly = true
                                  }),

                                   Html.X().TextArea(new TextArea
                                   {
                                       FieldLabel = "Observação",
                                       Anchor = "100%",
                                       ID = "txtObservacao",
                                       Name = "Observacao"
                                   })
                                   )
           ).BottomBar(Html.X().Toolbar().Items(Html.X().Button(new Button
           {
               Text = "Salvar",
               Icon = Icon.DiskEdit
           })
                                                        .Handler("salvarPrazo()")))
            .Listeners(w => w.Close.Fn = "clsWndPrazo")
)

@(Html.X().Window(new Window
{
    Width = 450,
    ID = "wndSetor",
    BodyStyle = "background-color:#fff;",
    Height = 250,
    Icon = Icon.Add,
    Hidden = true,
    Modal = true,
    AutoScroll = true,
    Title = "Setores de custo"
})
           .Items(
                       Html.X().GridPanel(new GridPanel
                       {
                           ID = "grdWndSetor",
                           AutoScroll = true,
                           Border = false
                       })
                                                                .Store(Html.X().Store()
                                                                        .PageSize(5)
                                                                        .AutoLoad(false)
                                                                        .RemotePaging(false)
                                                                        .Model(Html.X().Model()
                                                                            .Fields(
                                                                                    Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                                    Html.X().ModelField().Name("Numero").Type(ModelFieldType.String),
                                                                                    Html.X().ModelField().Name("Nome").Type(ModelFieldType.String)
                                                                                   )).Listeners(sl => sl.BeforeLoad.Fn = "addPedidoSetor")
                                                                        .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterSetorPedido", "PedidoCompra") })
                                                                                       .Reader(new JsonReader { Root = "Data" })
                                                                                       //.ExtraParams(p => p.Add(new Parameter("setorPedidoPai", "true")))
                                                                                       )
                                                                 ).ColumnModel(
                                                                    Html.X().Column().Text("Número").DataIndex("Numero").Width(100),
                                                                    Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1)
                                                            )
                                                            .SelectionModel(
                                                                Html.X().CheckboxSelectionModel().Mode(SelectionMode.Simple)
                                                            )
                                                            .Plugins(
                                                                Html.X().FilterHeader()
                                                            )
                 ).BottomBar(Html.X().Toolbar().Items(Html.X().Button().Icon(Icon.Add).Text("Adicionar").Handler("addSetorCusto()")))
)

@(Html.X().Window(new Window
{
    Width = 600,
    ID = "wndColaborador",
    BodyStyle = "background-color:#fff;",
    StyleSpec = "z-index: 19990;",
    BodyPadding = 5,
    Height = 500,
    Icon = Icon.Add,
    Hidden = true,
    Modal = true,
    AutoScroll = true,
    Title = "Responsáveis"
})
           .Items(
                       Html.X().FormPanel(new FormPanel()
                       {
                           ID = "frmPesResponsavel",
                           Border = false

                       }).Items(
                                Html.X().Panel(new Panel
                                {
                                    BottomBar = {
                                        Html.X().Toolbar().Items(
                                        Html.X().Button().Text("Pesquisar").Icon(Icon.Zoom).Handler("pesquisarPesResponsavel();"),
                                        Html.X().Button().Text("Limpar").Icon(Icon.Paintbrush).Handler("limparPesResponsavel();")
                                            )}
                                }).Border(false).BodyPadding(5).Items(

                                    Html.X().TextField()
                                        .Plugins(Html.X().InputMask(new InputMask
                                        {
                                            InvalidMaskText = "Formato de CPF inválido",
                                            Mask = "999.999.999-99"

                                        }))
                                        .ID("txtCPFR")
                                        .Vtype("cpf")
                                        .FieldLabel("CPF")
                                        .BlankText("CPF"),
                                    Html.X().ComboBox(new ComboBox()
                                    {
                                        FieldLabel = "Empresa",
                                        Width = 350,
                                        ID = "cmbEmpresaR",
                                        Name = "Empresa",
                                        MatchFieldWidth = false

                                    }).QueryMode(DataLoadMode.Local)
                                            .Editable(false)
                                            .DisplayField("Nome")
                                            .ValueField("Codigo")
                                            .Store(Html.X().Store()
                                                    .Model(Html.X().Model()
                                                        .IDProperty("Codigo")
                                                        .Fields(
                                                            new ModelField("Codigo", ModelFieldType.String) { Mapping = "Codigo" },
                                                            new ModelField("Nome", ModelFieldType.String) { Mapping = "Nome" }
                                                        ))
                                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy
                                                    {
                                                        Url = Url.Action("ObterTodos", "Empresa"),
                                                        ExtraParams = { new Parameter("apenasAtivos", "true") }
                                                    }).Reader(new JsonReader { Root = "Data" }))),
                                    Html.X().TextField(new TextField()
                                    {
                                        Name = "Colaborador",
                                        ID = "txtColaboradorR",
                                        FieldLabel = "Colaborador",
                                        Width = 350
                                    }).MinLength(3)
                                   ),

                            Html.X().GridPanel()
                                .ID("grdColabResponsavel")
                                .Title("Colaborador")
                                .Store(Html.X().Store()
                                    .PageSize(5)
                                    .RemotePaging(false)
                                    .Model(Html.X().Model()
                                        .Fields(
                                                Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                                                Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                                Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String)
                                        )
                                    )
                                )
                                .ColumnModel(
                                    Html.X().Column().Text("CPF").DataIndex("CPF"),
                                    Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1),
                                    Html.X().Column().Text("Empresa").DataIndex("Empresa")
                                )
                                .SelectionModel(
                                        Html.X().CheckboxSelectionModel()
                                            .Mode(SelectionMode.Multi)
                                        )

                                )
                            ).BottomBar(
                                        Html.X().Toolbar().Items(
                                        Html.X().Button().Text("Adicionar").Icon(Icon.Add).Handler("adicionarPesResponsavel();"),
                                        Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("cancelarPesResponsavel();")
                                            ))
)

@(Html.X().Window(new Window
{
    Width = 850,
    ID = "wndAlocacao",
    BodyStyle = "background-color:#fff;",
    BodyPadding = 5,
    Height = 400,
    Icon = Icon.Add,
    Draggable = true,
    Hidden = true,
    Modal = true,
    AutoScroll = true,
    Title = "Colaboradores"
})
          .Listeners(a => a.Close.Handler = "clsWndAlocacao()")
          .Items(
              Html.X().Hidden().ID("hdCodigoPedido"),
              Html.X().Hidden().ID("hdCodigoEmpresa"),
              Html.X().Toolbar().Items(Html.X().Button().Text("Alocar").Icon(Icon.UserAdd).Handler("showWndAlocacaoAdd()")),
                ////********
                Html.X().Panel(new Panel()
                {
                    ID = "panLista",
                })
                .LayoutConfig(new VBoxLayoutConfig
                {
                    Align = VBoxAlign.Stretch,
                    Pack = BoxPack.Start
                })
                    .Items(Html.X().FormPanel(new FormPanel
                    {
                        Border = false,
                        Title = "FILTRAR",
                        Icon = Icon.ZoomIn,
                        ID = "frmPesquisar",
                        Collapsible = true
                        //AutoScroll = true
                    }).LayoutConfig(new VBoxLayoutConfig
                    {
                        Align = VBoxAlign.Stretch,
                        Pack = BoxPack.Start
                    })

                    .Items(Html.X().Panel()
                    .Border(false)
                    .Flex(1)
                    .BodyPadding(5)
                    .LayoutConfig(new HBoxLayoutConfig
                    {
                        Align = HBoxAlign.Stretch,
                        Pack = BoxPack.Start
                    })
                    .Items(Html.X().TextField(new TextField
                    {
                        FieldLabel = "CPF",
                        LabelWidth = 20,
                        StyleSpec = "margin-right:4px;",
                        Flex = 1,
                        ID = "txtCPFPesquisa"
                    }),
                    Html.X().TextField(new TextField
                    {
                        FieldLabel = "Passaporte",
                        LabelWidth = 60,
                        StyleSpec = "margin-right:4px;",
                        Flex = 1,
                        ID = "txtPassaportePesquisa"
                    }),
                    Html.X().TextField(new TextField
                    {
                        FieldLabel = "Nome",
                        LabelWidth = 35,
                        StyleSpec = "margin-right:4px;",
                        Flex = 1,
                        ID = "txtNomePesquisa"
                    }),
                    Html.X().TextField(new TextField
                    {
                        FieldLabel = "SetorCusto",
                        LabelWidth = 60,
                        StyleSpec = "margin-right:4px;",
                        Flex = 1,
                        ID = "txtSetorCustoPesquisa"
                    }),
                    Html.X().ComboBox(new ComboBox()
                    {
                        FieldLabel = "Status",
                        LabelWidth = 35,
                        StyleSpec = "margin-right:4px;",
                        Flex = 1,
                        ID = "cmbStatusPesquisa",
                        EmptyText = "Status",
                        TypeAhead = true,
                        ForceSelection = true,
                        Name = "Status"
                    }).QueryMode(DataLoadMode.Local)
                        .DisplayField("Descricao")
                        .ValueField("Codigo")
                        .Store(Html.X().Store()
                            .Model(Html.X().Model()
                                .IDProperty("Codigo")
                                .Fields(
                                    new ModelField("Codigo", ModelFieldType.String)
                                    {
                                        Mapping = "Codigo"
                                    },
                                    new ModelField("Descricao", ModelFieldType.String)
                                    {
                                        Mapping = "Descricao"
                                    }
                                ))
                            .Proxy(Html.X().AjaxProxy(new AjaxProxy
                            {
                                Url = Url.Action("ListaStatus", "Pessoa")
                            })
                                .Reader(new JsonReader
                                {
                                    Root = "Data"
                                })))
                    )
                    ),
              ////********
              Html.X().TabPanel()

                      .Items(Html.X().GridPanel(new GridPanel
                      {
                          ID = "grdColabAlocados",
                          AutoScroll = true,
                          Title = "Ativos"
                      })


                                     .TopBar(Html.X().Toolbar().Items(Html.X().Button().Text("Pesquisar").Icon(Icon.Zoom).Handler("pesquisarAlocadoClick()"),
                                                                      Html.X().Button().Text("Desalocar").Icon(Icon.UserCross).Handler("desalocarClick()")
                                     ))

                                     .Store(Html.X().Store()
                                                    .AutoLoad(false)
                                                    .Listeners(s => s.BeforeLoad.Fn = "bfrObterAlocados")
                                                    .Model(Html.X().Model()
                                                                   .IDProperty("Codigo")
                                                                   .Fields(Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                           Html.X().ModelField().Name("CPFPassaporte").Type(ModelFieldType.String),
                                                                           Html.X().ModelField().Name("SetorCusto").Type(ModelFieldType.String),
                                                                           //Html.X().ModelField().Name("GrupoTrabalho").Type(ModelFieldType.String),
                                                                           Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                                                           Html.X().ModelField().Name("Status").Type(ModelFieldType.String)))
                                                    .Parameters(p =>
                                                    {
                                                        p.Add(new StoreParameter("cpf", "App.txtCPFPesquisa.getValue()", ParameterMode.Raw));
                                                        p.Add(new StoreParameter("passaporte", "App.txtPassaportePesquisa.getValue()", ParameterMode.Raw));
                                                        p.Add(new StoreParameter("nome", "App.txtNomePesquisa.getValue()", ParameterMode.Raw));
                                                        p.Add(new StoreParameter("setorcusto", "App.txtSetorCustoPesquisa.getValue()", ParameterMode.Raw));
                                                        p.Add(new StoreParameter("status", "App.cmbStatusPesquisa.getValue()", ParameterMode.Raw));
                                                    })
                                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterColaboradores", "PedidoCompra") }).Timeout(6000000)
                                                                   .Reader(Html.X().JsonReader().Root("data"))
                                                                   .ExtraParams(p => p.Add(new Parameter("somenteAlocados", "true"))))
                                                                   .PageSize(8)
                                                                   )
                                     .ColumnModel(
                                            Html.X().Column().DataIndex("CPFPassaporte").Text("CPF/Passaporte").Flex(1),
                                            Html.X().Column().DataIndex("Nome").Text("Nome").Flex(1),
                                            Html.X().Column().DataIndex("SetorCusto").Text("Setor de custo").Flex(1),
                                            //Html.X().Column().DataIndex("GrupoTrabalho").Text("Grupo de trabalho").Flex(1),
                                            Html.X().Column().DataIndex("Status").Text("Status").Flex(1)
                                     )
                                     .BottomBar(Html.X().PagingToolbar().HideRefresh(true))
                                     .SelectionModel(Html.X().CheckboxSelectionModel().Mode(SelectionMode.Simple)),
                             Html.X().GridPanel(new GridPanel
                             {
                                 ID = "grdColabDesalocados",
                                 AutoScroll = true,
                                 Title = "Desalocados"
                             })

                                     .TopBar(Html.X().Toolbar().Items(Html.X().Button().Text("Pesquisar").Icon(Icon.Zoom).Handler("pesquisarDesAlocadoClick()")))

                                     .Store(Html.X().Store()
                                                    .AutoLoad(false)
                                                    .Listeners(s => s.BeforeLoad.Fn = "bfrObterDesalocados")
                                                    .Model(Html.X().Model()
                                                                   .IDProperty("Codigo")
                                                                   .Fields(Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                                           Html.X().ModelField().Name("CPFPassaporte").Type(ModelFieldType.String),
                                                                           Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                                                           Html.X().ModelField().Name("Status").Type(ModelFieldType.String)))
                                                                    .Parameters(p =>
                                                                    {
                                                                        p.Add(new StoreParameter("cpf", "App.txtCPFPesquisa.getValue()", ParameterMode.Raw));
                                                                        p.Add(new StoreParameter("passaporte", "App.txtPassaportePesquisa.getValue()", ParameterMode.Raw));
                                                                        p.Add(new StoreParameter("nome", "App.txtNomePesquisa.getValue()", ParameterMode.Raw));
                                                                        p.Add(new StoreParameter("setorcusto", "App.txtSetorCustoPesquisa.getValue()", ParameterMode.Raw));
                                                                        p.Add(new StoreParameter("status", "App.cmbStatusPesquisa.getValue()", ParameterMode.Raw));
                                                                    })
                                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterColaboradores", "PedidoCompra") }).Timeout(6000000)
                                                                   .Reader(Html.X().JsonReader().Root("data"))
                                                                   .ExtraParams(p => p.Add(new Parameter("somenteDesalocados", "true"))))
                                                                   .PageSize(8)
                                                                   )
                                     .ColumnModel(
                                            Html.X().Column().DataIndex("CPFPassaporte").Text("CPF/Passaporte").Flex(1),
                                            Html.X().Column().DataIndex("Nome").Text("Nome").Flex(1),
                                            Html.X().Column().DataIndex("Status").Text("Status").Flex(1)
                                     )
                                     .BottomBar(Html.X().PagingToolbar().HideRefresh(true))
          )
          )
)
)

@(Html.X().Window(new Window
{
    Width = 500,
    ID = "wndAlocacaoAdd",
    BodyStyle = "background-color:#fff;",
    BodyPadding = 5,
    Height = 400,
    Icon = Icon.Add,
    Draggable = true,
    Hidden = true,
    Modal = true,
    AutoScroll = true,
    Title = "Alocar/Desalocar colaborador"
})
          .BottomBar(Html.X().Toolbar().Items(Html.X().Button()
                                                      .Text("Adicionar")
                                                      .Icon(Icon.Add)
                                                      .Handler("showWndSetorCusto()")))
          .Items(
                Html.X().GridPanel()
                        .ID("grdColaboradoresAlocar")
                        .Store(Html.X().Store()
                                       .Listeners(s => s.BeforeLoad.Fn = "bfrObterListaColaborador")
                                       //.AutoLoad(false)
                                       .Model(Html.X().Model()
                                                      .IDProperty("Codigo")
                                                      .Fields(Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                                              Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                                                              Html.X().ModelField().Name("Passaporte").Type(ModelFieldType.String),
                                                              Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                                              Html.X().ModelField().Name("Status").Type(ModelFieldType.String)))
                                       .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterListaColaborador", "Colaborador"), Timeout = 3000000 })
                                                      .Reader(Html.X().JsonReader().Root("Data"))))
                        .ColumnModel(
                            Html.X().Column().DataIndex("CPF").Text("CPF").Flex(1),
                            Html.X().Column().DataIndex("Passaporte").Text("Passaporte").Flex(1),
                            Html.X().Column().DataIndex("Nome").Text("Nome").Flex(1),
                            Html.X().Column().DataIndex("Status").Text("Status").Flex(1)
                        )
                        .SelectionModel(
                            Html.X().CheckboxSelectionModel().Mode(SelectionMode.Simple)
                        )
                        .Plugins(
                            Html.X().FilterHeader()
                        )
          )
)

@(Html.X().Window(new Window
{
    Width = 400,
    ID = "wndSetorCusto",
    BodyStyle = "background-color:#fff;",
    BodyPadding = 5,
    Resizable = false,
    Icon = Icon.Add,
    Draggable = true,
    Hidden = true,
    Modal = true,
    AutoScroll = true,
    Title = "Alocar/Desalocar colaborador"
})
      .Listeners(w => w.Close.Handler = "clsWndSetorCusto")
      .BottomBar(Html.X().Toolbar().Items(Html.X().Button().Text("Salvar").Icon(Icon.DiskEdit).Handler("alocar()")))
      .Items(
          Html.X().FormPanel(new FormPanel()
          {
              ID = "frmSetorCusto",
              Border = false
          }).Items(
                Html.X().ComboBox(new ComboBox()
                {
                    ID = "cmbSetorCusto",
                    FieldLabel = "Setor de custo",
                    DisplayField = "Nome",
                    ValueField = "Codigo",
                    Anchor = "100%",
                    AllowBlank = false,
                    IndicatorText = "*",
                    StyleSpec = "color: red; font-weight: bold;",
                    IndicatorTip = "Campo requerido."
                }).Store(
                    Html.X().Store().AutoLoad(false).Model(
                        Html.X().Model().IDProperty("Codigo").Fields(
                            Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                            Html.X().ModelField().Name("Nome").Type(ModelFieldType.String)
                            )
                        ).Listeners(sl => sl.BeforeLoad.Fn = "setorPedido")
                        .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterSetorPedido", "PedidoCompra") })
                                .Reader(new JsonReader { Root = "Data" })
                                //.ExtraParams(a => a.Add(new Parameter("setorPedidoPai", "false")))
                                )
                        )
                    )
          //    ,
          //Html.X().ComboBox(new ComboBox()
          //{
          //    ID = "cmbGrupoTrabalho",
          //    FieldLabel = "Grupo de trabalho",
          //    DisplayField = "Nome",
          //    ValueField = "Codigo",
          //    Anchor = "100%",
          //    AllowBlank = false,
          //    IndicatorText = "*",
          //    StyleSpec = "color: red; font-weight: bold;",
          //    IndicatorTip = "Campo requerido.",
          //    QueryMode = DataLoadMode.Local
          //}).Store(
          //    Html.X().Store().Model(
          //        Html.X().Model().IDProperty("Codigo").Fields(
          //            Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
          //            Html.X().ModelField().Name("Nome").Type(ModelFieldType.String)
          //            )
          //        )
          //)
          )
)
