﻿@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src=@Url.Content("~/Scripts/Html2Canvas/canvas2image.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/Html2Canvas/html2canvas.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/print/jQuery.print.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/fontsmoothie/fontsmoothie.min.js") async></script>
@*<link type="text/css" href=@Url.Content("~/Content/css/cracha/cracha.css") rel="stylesheet" />*@
<style type="text/css">
    @@import url('/Content/css/cracha/cracha.css');
</style>

<script>


    function pesquisar() {

        App.grdModelo.store.removeAll();
        App.grdModelo.store.load();

        //if (!App.frmRelatorio.form.isDirty()) {
        //    Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Selecione pelo menos um filtro.', buttons: Ext.Msg.OK });
        //    return;
        //}

        //var empresa = App.cmbEmpresa.getRawValue();
        //var cpf = App.txtCPFPesquisa.getValue();
        //    cpf = cpf.replaceAll('.', '');
        //    cpf = cpf.replace('-', '');
        //
        //var cracha = App.txtCracha.getValue();
        //var passaporte = App.txtPassaportePesquisa.getValue();
        //var nome = App.txtNomePesquisa.getValue();
        //var dataCadastro = App.dtCadastro.getValue();

        //Globalsys.Util.request({
        //    url: '@Url.Action("ObterTodos", "EmitirCracha")',
        //    params: {
        //        //empresaPesquisa: empresa,
        //        cpf: cpf,
        //        cracha: cracha,
        //        passaporte: passaporte,
        //        nome: nome,
        //        dataCadastro: dataCadastro
        //
        //    },
        //    success: function (response, opts) {
        //
        //        App.grdModelo.store.loadData(response);
        //        App.grdModelo.store.commitChanges();
        //
        //    }
        //})
    }

    function limpar() {
        App.frmRelatorio.form.reset();
    }

    var aplicar = function () {
        var campo = App.cmbCampo.getValue();
        document.getElementById(campo).style.fontSize = App.txtTamanhoFonte.getValue() + "pt";
        document.getElementById(campo).style.fontFamily = App.cmbFonte.getRawValue();
    };


    var prepareStatus = function (v, metaData) {
        if (v) {
            metaData.style = 'background-color : Green; color: White;';
            return metaData.column.trueText;
        } else {
            metaData.style = 'background-color : Red; color: White;';
            return metaData.column.falseText;
        }
    };

    var salvar = function () {

        if (App.frmModelo.isValid()) {
            var modeloCracha = {
                TipoPapel: {
                    Codigo: App.cmbTipoPapel.getValue(),
                    Descricao: App.cmbTipoPapel.getRawValue()
                },

                Nome: App.txtNome.getValue(),
                Html: $("#mainRoom").html()

            };

            Globalsys.Util.request({
                url: '@Url.Action("Incluir", "ModeloCracha")',
                params: {
                    modeloCracha: modeloCracha
                },
                success: function (response, opts) {
                    cancelar();
                    Ext.Msg.show({ title: 'Confirmação', icon: Ext.MessageBox.INFO, msg: 'Registro incluído com sucesso.', buttons: Ext.Msg.OK });
                }
            });
        } else {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível salvar. O formulário possui campos não preenchidos.', buttons: Ext.Msg.OK });
        }
    };


    var dataAtual = function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        App.txtDataRegistro.setValue(today);
    };

    var commandModelo = function (command, record) {

        if (command == "EmitirCracha") {
            if (record.data.Ativo == false) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.INFO, msg: 'Não é possível imprimir crachá descartado.', buttons: Ext.Msg.OK });
                return;
            }

            var codigo = record.data.CodigoPapel;
            if (!(codigo > 0))
                return;
            App.btnSalvar.disable();
            if(record.data.HorizontalTemp != null && record.data.HorizontalTemp)
            {
                $("#preview-h").children().remove();
                adicionarPessoa(codigo);
                App.previewHorizontal.show();
                $("#preview-h").append($("#content")[0].children);
            }
            else
            {
                $("#preview-p").children().remove();
                adicionarPessoa(codigo);
                App.preview.show();
                $("#preview-p").append($("#content")[0].children);
            }
            App.btnSalvar.enable();
        }
        if (command == "DescartarCracha") {
            if (record.data.Ativo == false) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.INFO, msg: 'Operação não realizada. Este crachá já foi descartado.', buttons: Ext.Msg.OK });
                return;
            }
            App.btnSalvar.disable();
            Globalsys.Util.request({
                url: '@Url.Action("DescartarCracha", "EmitirCracha")',
                params: {
                    codigo: record.data.Codigo
                },
                success: function (response, opts) {
                    pesquisar();
                    //Globalsys.Util.updateModel(App.grdModelo, response);
                    Ext.Msg.show({ title: 'Descarte', icon: Ext.MessageBox.INFO, msg: 'Crachá descartado com sucesso.', buttons: Ext.Msg.OK });
                }
            });
            App.btnSalvar.enable();
        }
    };


    var selecionarModelo = function (value) {
        var codigo = value;
        Globalsys.Util.request({
            url: '@Url.Action("Selecionar", "ModeloCracha")',
            params: {
                codigo: codigo
            },
            success: function (response, opts) {
                $("#mainRoom").append(response.Html);
            }
        });
    };

    var showWinPesqPessoa = function () {
        App.winPessoa.show();
    };

    function adicionarPessoa(codigo) {
        cancelar();
        var record;
        if (!(codigo > 0)) {
            record = App.grdPessoa.getView().getSelectionModel().getSelection();
            if (record[0].data.Apelido.split(" ").length > 1) {
                record[0].data.ApelidoLast = record[0].data.Apelido.split(" ")[1];
                record[0].data.Apelido = record[0].data.Apelido.split(" ")[0];
            } 
            App.hdnCodigoPapel.setValue(record[0].data.CodigoPapel);
            App.frmPessoaInfo.form.setValues(record[0].data);
            codigo = record[0].data.CodigoPapel;
            App.frmPessoa.form.reset();
        }
        Globalsys.Util.request({
            url: '@Url.Action("SelecionarPessoa", "EmitirCracha")',
            params: {
                codigo: codigo
            },
            success: function (response, opts) {
                $("#mainRoomWin").append(response.html);
                if (response.fundo) {
                    var blob = Globalsys.Util.base64ToBlob(response.fundo, "image/png"),
                        url = window.URL.createObjectURL(blob);
                } else
                    url = "";

                //$("#mainRoomChild")[0].style = "position:absolute; z-index: 100;";
                $("#mainRoomChild")[0].style = "position:relative; z-index: 100;";

                document.getElementById("mainRoomChild").src = url;
                hvc(response.horizontal);
                App.winPessoa.close();
            }
        });
    }
    var hvc = function (valor) {
        //document.getElementById("content").innerText = document.getElementById("content").innerText.split(" ");
        var divC = document.getElementById("content");
        var divM = document.getElementById("mainRoomWin");
        App.hdnHorizontal.setValue(valor);
        
        if(valor) //Horizontal
        {
            divM.style.width = "451.27937007897px";
            divM.style.height = "284.21669291355px";
            divC.style.width = "451.27937007897px";
            divC.style.height = "284.21669291355px";
            $("#pDiv")[0].style = "right: auto; left: 500px; margin: 0px; top: 0px; width:451.27937007897px; height: 284.21669291355px;";
            $("#pDiv-body")[0].style = "left: 0px; top: 0px; width:451.27937007897px; height: 284.21669291355px;";

        }
        else //Vertical
        {
            divM.style.width = "284.21669291355px";
            divM.style.height = "451.27937007897px";
            divC.style.width = "284.21669291355px";
            divC.style.height = "451.27937007897px";
            $("#pDiv")[0].style = "right: auto; left: 500px; margin: 0px; top: 0px; width: 284.21669291355px; height: 451.27937007897px;";
            $("#pDiv-body")[0].style = "left: 0px; top: 0px; width: 284.21669291355px; height: 451.27937007897px;";
        }
    };
    function cancelarPessoa() {
        App.frmPessoa.form.reset();
        App.grdPessoa.getView().getSelectionModel().deselectAll();
        App.grdPessoa.store.removeAll();
        App.winPessoa.hide();
    }

    function pesquisarPessoa() {

        if (!App.frmPessoa.form.isDirty()) {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Selecione pelo menos um filtro.', buttons: Ext.Msg.OK });
            return;
        }

        if (App.frmPessoa.isValid()) {

            var cpf = App.txtCPF.getValue();
            var passaporte = App.txtPassaporte.getValue();
            var nome = App.txtPessoa.getValue();

            Globalsys.Util.request({
                url: '@Url.Action("ObterListaPapelPessoa", "Pessoa")',
                params: {
                    cpf: cpf,
                    passaporte: passaporte,
                    nome: nome,
                    verificaStatus: true,
                    buscarCracha: true
                },
                success: function (response, opts) {
                    App.grdPessoa.store.loadData(response);
                    App.grdPessoa.store.commitChanges();
                }
            });
        }
        else { Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível pesquisar. O formulário possui campos preenchidos incorretamente.', buttons: Ext.Msg.OK }); }
    }


    function limparPessoa() {
        App.frmPessoa.form.reset();
        App.grdPessoa.store.removeAll();
    }

    function gerarCracha() {

        if (!App.frmPessoaInfo.isValid()) {
            Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível emitir o crachá. O formulário possui campos não preenchidos.', buttons: Ext.Msg.OK });
            return;
        }

        if (App) {

        }

            Globalsys.Util.request({
                url: '@Url.Action("GerarCracha", "EmitirCracha")',
                params: {
                    codigoPapel: App.hdnCodigoPapel.getValue(),
                    rfid: App.txtRFID.getValue()
                },
                success: function (response, opts) {
                    //App.grdModelo.store.add(response);
                    //App.grdModelo.store.commitChanges();

                    cancelar();
                    Ext.Msg.show({ title: 'Confirmação', icon: Ext.MessageBox.INFO, msg: 'Crachá gerado com sucesso.', buttons: Ext.Msg.OK });
                }
            });
    }

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }

    var printPreview = function () {
        var bg = document.getElementById("mainRoomChild").src;
        if (bg.length > 0)
        {
            Globalsys.Util.obterBlob(bg, imprimirPreview);
        }
        else
        {
            if(App.hdnHorizontal.getValue() == "false" || App.hdnHorizontal.getValue() == false) //vertical
            {
                $("#preview-p").print();
                previewWinCancel(0);
            }
            else
            {
                $("#preview-h").print(); //horizontal
                previewWinCancel(1);
            }
        }
    };

    var printClick = function () {
        var codigoPapel = App.hdnCodigoPapel.getValue();
        if (!(codigoPapel > 0)) return;

        var bg = document.getElementById("mainRoomChild").src;
        if (bg.length > 0)
        {
            Globalsys.Util.obterBlob(bg, imprimir);
        }
        else {
            setTimeout(function () {
                $("#content").print();
                adicionarPessoa();
            });

        }
    };

    function imprimir(bg) {
        if (bg == undefined || !(bg.length > 0))
            return;
        document.getElementById("mainRoomChild").src = "data:image/jpeg;base64," + bg;
        var txtContent = $("#mainRoomWin").children(".txt");
        
        var main = $.extend(true, {}, $("#mainRoomWin"));
        main.children(".txt").remove();
        
        html2canvas(main, {
            imageTimeout: 2000,
            onrendered: function (canvas) {
                main.children(".campo").remove();
                $("#mainRoomChild")[0].src = canvas.toDataURL();
                $("#mainRoomWin").append(txtContent);

                setTimeout(function () {
                    if (App.hdnHorizontal.getValue() == "true" || App.hdnHorizontal.getValue() == true) $("#mainRoomWin")[0].style = "height:283.499px; width:451px;";
                    $("#empresa").css("margin", "10px");
                    $("#nomeGuerra").css("margin", "10px");
                    $("#nomeLast").css("margin", "10px");
                    $("#cargo").css("margin", "10px");
                    $("#nome").css("margin", "10px");
                    $("#codigoPessoa").css("margin", "10px");
                    $("#contratada").css("margin", "10px");
                    $("#empresacontratada").css("margin", "10px");
                    $("#rfid").css("margin", "10px");
                    $("#tipoSanguineo").css("margin", "10px");
                    $("#8id").css("margin", "10px");
                    $("#codigoPapel").css("margin", "10px");
                    $("#nomeFantasiaFornecedor").css("margin", "10px");

                    $("#mainRoomWin").parent().print();
                    adicionarPessoa();
                });
            }
        });
    }

    function imprimirPreview(bg) {
        if (bg == undefined || !(bg.length > 0))
            return;
        
        if(App.hdnHorizontal.getValue() == false || App.hdnHorizontal.getValue() == "false") //vertical
            var elMainRoonWin = $("#preview-p").children("#mainRoomWin");
        else
            var elMainRoonWin = $("#preview-h").children("#mainRoomWin");
        elMainRoonWin.children("#mainRoomChild")[0].src = "data:image/jpeg;base64," + bg;
        var txtContent = elMainRoonWin.children(".txt");
        var main = $.extend(true, {}, elMainRoonWin);
        main.children(".txt").remove();

        html2canvas(main, {
            imageTimeout: 2000,
            onrendered: function (canvas) {
                main.children(".campo").remove();
                elMainRoonWin.children("#mainRoomChild")[0].src = canvas.toDataURL();
                elMainRoonWin.append(txtContent);

                setTimeout(function () {
                    if (App.hdnHorizontal.getValue() == "false" || App.hdnHorizontal.getValue() == false) //vertical
                    {
                        $("#empresa").css("margin", "10px");
                        $("#nomeGuerra").css("margin", "10px");
                        $("#nomeLast").css("margin", "10px");
                        $("#cargo").css("margin", "10px");
                        $("#nome").css("margin", "10px");
                        $("#codigoPessoa").css("margin", "10px");
                        $("#contratada").css("margin", "10px");
                        $("#empresacontratada").css("margin", "10px");
                        $("#rfid").css("margin", "10px");
                        $("#tipoSanguineo").css("margin", "10px");
                        $("#8id").css("margin", "10px");
                        $("#codigoPapel").css("margin", "10px");
                        $("#nomeFantasiaFornecedor").css("margin", "10px");
                        $("#preview-p").print();
                        previewWinCancel(0);
                    }
                    else {
                        $("#mainRoomWin")[0].style = "height:283.499px; width:451px;";
                        $("#preview-h").print(); //horizontal
                        previewWinCancel(1);
                    }
                });
            }
        });
    }

    function gerarPDF() {

        var codigo = App.hdnCodigoPapel.getValue();

        var descList = [];
        var descElements = $("#mainRoomWin").children(".txt");
        
        for (var i = 0; i < descElements.length; i++) {
            descList.push({
                Descricao: descElements[i].innerText,
                FontSize: parseFloat(descElements[i].style.fontSize == "" ? "0" : (descElements[i].style.fontSize).replace("pt", '')),
                FontFamily: descElements[i].style.fontFamily == "" ? "default" : (descElements[i].style.fontFamily).replaceAll("'", ""),
                PosTop: parseFloat((descElements[i].style.top).replace("px", '')),
                PosLeft: parseFloat((descElements[i].style.left).replace("px", '')),
                Height: descElements[i].clientHeight,
                Width: descElements[i].clientWidth + 2
            });
        }

        var imgContent = $("#mainRoomWin").children().not(".txt");
        $("#mainRoomWin").children().remove();
        var mainContent = $("#mainRoomWin").append(imgContent);
        html2canvas(mainContent, {
            onrendered: function (canvas) {
                var img = canvas.toDataURL();
                var blob = dataURItoBlob(img);
                var params = {
                    descs: (Ext.encode(descList)).replaceAll("\"", "'"),
                    img: img.replace(/^data:image\/(png|jpg);base64,/, "")
                };
                adicionarPessoa();
                Globalsys.Util.showFileOnWindow({
                    url: '@Url.Action("GerarCrachaPDF", "EmitirCracha")',
                    params: params,
                    contentType: "application/pdf",
                    width: 500,
                    height: 500
                });
            }
        });
    }

    function previewWinCancel(op) {
       if(op == 0) App.preview.close(); else App.previewHorizontal.close();
    }

    function previewWinClose() {
        cancelar();
    }

    function cancelar() {;
        App.hdnCodigoPapel.setValue(null);
        App.frmModelo.form.reset();
        $("#content").children().remove();
        $("#content").append("<div id='mainRoomWin' style='text-align: left;'><img id='mainRoomChild'></div>");
        //$("#content").append("<div id='mainRoomWin' style='text-align: left;'><img id='mainRoomChild'></div>" +
        //    "<div style='width: 100%; height: 100%; position: absolute;'></div>");
    }

</script>

@(Html.X()
    .Viewport()
    .AutoScroll(true)
    .Layout(LayoutType.Fit)
    .Items(Html.X()
        .Panel(new Panel
        {
            Border = true,
            AutoScroll = true
        })
        .LayoutConfig(new VBoxLayoutConfig
        {
            Align = VBoxAlign.Stretch,
            Pack = BoxPack.Start
        })
        .Items(Html.X()
            .FormPanel(new FormPanel
            {
                ID = "frmModelo",
                Border = false,
                AutoScroll = true,
                //Layout = LayoutType.Fit.ToString()
            })
            .LayoutConfig(new VBoxLayoutConfig
            {
                Align = VBoxAlign.Stretch,
                Pack = BoxPack.Start
            })
            .Items(
                Html.X()
                .Panel(new Panel()
                {
                    AutoScroll = true,
                    Border = false,
                    Layout = LayoutType.Fit.ToString()
                })
                .Items(
                    Html.X()
                    .TabPanel(new TabPanel
                    {
                        ActiveIndex = 0,
                        Border = true,
                        AutoScroll = true,
                        ID = "tabPagina"

                    })
                    .Layout(LayoutType.HBox)
                    .Items(

                        Html.X()
                        .FormPanel(new FormPanel()
                        {
                            HideMode = HideMode.Offsets,
                            AutoScroll = true,
                            ID = "pnlCadastro",
                            Border = true,
                            Title = "CADASTRO",
                            Icon = Icon.Add
                        })
                        .LayoutConfig(new HBoxLayoutConfig
                        {
                            Align = HBoxAlign.Stretch,
                            Pack = BoxPack.Start
                        })
                        .Items(
                            ////                            Html.X()
                            ////                            .Panel()
                            ////                            .Region(Region.North)
                            ////                            .TitleAlign(TitleAlign.Center)
                            ////                            .Html(@"<div id='content'>
                            ////                                <div id='mainRoomWin' style='text-align: left;'>
                            ////                                <img id='mainRoomChild'>
                            ////                                </div></div>"
                            ////                            ),//Fim

                            Html.X()
                            .FormPanel()
                            .ID("frmPessoaInfo")
                            .BodyPadding(15)
                            .Region(Region.East)
                            .Width(500)
                            .Items(
                                    Html.X()
    .FieldContainer()
    //.Width(800)
    .Layout(LayoutType.HBox)
    .Items(Html.X()
        .Hidden(new Hidden()
        {
            ID = "hdnCodigoPapel"
        }),
        Html.X().Hidden(new Hidden()
        {
            ID = "hdnHorizontal"
        }),
        /*Html.X().Hidden(new Hidden()
		{
			ID = "hdnCodigoPessoa",
		}), */
        Html.X()
        .TextField(new TextField()
        {
            ID = "txtCodigo",
            FieldLabel = "Código",
            Width = 300,
            ReadOnly = true,
            EmptyText = "Código",
            Name = "Codigo",
            AllowBlank = false
        }),
        Html.X()
        .Button(new Button()
        {
            ID = "btnPessoa",
            Text = "Selecionar Pessoa",
            Width = 120,
            Icon = Icon.User,
            StyleSpec = "color: red; font-style : bold; margin-left: 10px;"
        })
        .Handler("showWinPesqPessoa()")
    ),
                                 Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtNome",
                                    FieldLabel = "Nome",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Nome",
                                    Name = "Nome"
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtNomeFirst",
                                    FieldLabel = "Primeiro Nome",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Primeiro Nome",
                                    Name = "Apelido",
                                }),
                                  Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtNomeLast",
                                    FieldLabel = "Último Nome",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Último Nome",
                                    Name = "ApelidoLast",
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtEmpresa",
                                    FieldLabel = "Empresa",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Empresa",
                                    Name = "Empresa"
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtContratada",
                                    FieldLabel = "Contratada",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Contratada",
                                    Name = "Contratada"
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtTipoSanguineo",
                                    FieldLabel = "Tipo Sanguíneo",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Tipo Sanguíneo",
                                    Name = "TipoSanguineo"
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtCargo",
                                    FieldLabel = "Cargo",
                                    Width = 300,
                                    ReadOnly = true,
                                    EmptyText = "Cargo",
                                    Name = "Cargo"
                                }),
                                Html.X()
                                .TextField(new TextField()
                                {
                                    ID = "txtRFID",
                                    FieldLabel = "RFID",
                                    Width = 300,
                                    EnforceMaxLength = true,
                                    MinLength = 7,
                                    MaxLength = 7,
                                    MaskRe = "[0-9-A-Z]",
                                    //Vtype = "number",
                                    AllowBlank = false,
                                    StyleSpec = "color: red; font-style : bold;",
                                    IndicatorTip = "Campo requerido.",
                                    IndicatorText = "*",
                                    EmptyText = "RFID",
                                    Name = "RFID"
                                })
                            //,Html.X().Panel().Html(@"<input type='color' name='favcolor' value='#ff0000'")
                            //(new ImageButton()
                            //{

                            //    //Weight = 600,
                            //    //Width = 440,
                            //    ID="colorSelector",
                            //})
                            //,
                            // Html.Kendo().ColorPicker()
                            //.Name("picker")
                            //.Value("#ffffff")
                            //.Events(events => events.Select("preview"))

                            //Html.X().Panel().Border(false).Html(@"<canvas id='myCanvas'/>"),
                            //Html.X()
                            //.Image(new Image()
                            //{
                            //    Hidden = true,
                            //    ID = "imgA"
                            //})

                            )
                            .BottomBar(Html.X()
                                .Toolbar()
                                .Items(
                                    Html.X()
                                    .Toolbar()
                                    .Items(
                                        Html.X()
                                        .Button(new Button()
                                        {
                                            Text = "Emitir Crachá",
                                            Icon = Icon.VcardAdd,
                                            Width = 100,
                                            ID = "btnSalvar"
                                        })
                                        .Listeners(p => p.Click.Handler = "gerarCracha()"),
                                        Html.X()
                                        .Button(new Button()
                                        {
                                            Text = "Imprimir",
                                            Icon = Icon.PrinterGo,
                                            Width = 100
                                        }).Listeners(p => p.Click.Handler = "printClick()"),
                                        Html.X()
                                        .Button(new Button()
                                        {
                                            Text = "Cancelar",
                                            Icon = Icon.Cancel,
                                            Width = 100
                                        })
                                        .Listeners(p => p.Click.Handler = "cancelar()")
                                    )

                                )),//Fim
                                Html.X()
                                .Panel()
                                .ID("pDiv")
                                .Region(Region.North)
                                .TitleAlign(TitleAlign.Center)
                                .Html(@"<div id='content'>
                                    <div id='mainRoomWin' style='text-align: left;'>
                                    <img id='mainRoomChild' style='position:relative; z-index: 100;'>
                                    </div></div>"
                                )//Fim
                        ),
        Html.X().Panel(new Panel()
        {
            Border = false,
            Title = "LISTA",
            Icon = Icon.Table
        })
        .LayoutConfig(new VBoxLayoutConfig
        {
            Align = VBoxAlign.Stretch,
            Pack = BoxPack.Start
        })
        .Items(
        Html.X().FormPanel(new FormPanel
        {
            Border = false,
            ID = "frmRelatorio",
            Title = "FILTRAR",
            Icon = Icon.ZoomIn,
            Collapsible = true
        })
            .LayoutConfig(new VBoxLayoutConfig
            {
                Align = VBoxAlign.Stretch,
                Pack = BoxPack.Start
            })
            .Items(Html.X().Panel()
                .Border(false)
                .AutoScroll(true)
                .BodyPadding(5)
                .Layout(LayoutType.HBox)
                //.LayoutConfig(new HBoxLayoutConfig
                //{
                //    Align = HBoxAlign.Stretch,
                //    Pack = BoxPack.Start
                //})
                .Items(
                    Html.X().TextField(new TextField
                    {
                        ID = "txtNomePesquisa",
                        LabelWidth = 40,
                        FieldLabel = "Nome",
                        StyleSpec = "margin-right:4px;",
                        Flex = 1
                    })
                ),
                Html.X().Panel()
                .Border(false)
                .BodyPadding(5)
                .AutoScroll(true)
                .LayoutConfig(new HBoxLayoutConfig
                {
                    Align = HBoxAlign.Stretch,
                    Pack = BoxPack.Start
                })
                .Items(Html.X().TextField(new TextField
                {
                    ID = "txtCracha",
                    LabelWidth = 45,
                    StyleSpec = "margin-right:4px;",
                    FieldLabel = "Crachá",
                    Flex = 1
                }),
                    Html.X().TextField(new TextField
                    {
                        ID = "txtCPFPesquisa",
                        LabelWidth = 30,
                        FieldLabel = "CPF",
                        StyleSpec = "margin-right:4px;",
                        Name = "CPF",
                        Plugins = { Html.X().InputMask().Mask("999.999.999-99") },
                        Vtype = "cpf",
                        Flex = 1
                    }),
                    Html.X().TextField(new TextField
                    {
                        ID = "txtPassaportePesquisa",
                        LabelWidth = 65,
                        StyleSpec = "margin-right:4px;",
                        FieldLabel = "Passaporte",
                        Name = "Passaporte",
                        Flex = 1
                    })
                    , Html.X().DateField(new DateField
                    {
                        ID = "dtCadastro",
                        LabelWidth = 80,
                        StyleSpec = "margin-right:4px;",
                        AllowBlank = false,
                        FieldLabel = "Data Cadastro",
                        Name = "Data Cadastro",
                        Format = "dd/MM/yyyy",
                        AltFormats = "ddMMyyyy",
                        Flex = 1
                    })
                )
            )
            .BottomBar(Html.X().Toolbar()
                .Items(Html.X().Button(new Button
                {
                    Text = "Pesquisar",
                    Icon = Icon.Zoom
                }).Listeners(p => p.Click.Handler = "pesquisar()"),
                Html.X().Button(new Button
                {
                    Text = "Limpar",
                    Icon = Icon.Paintbrush
                }).Listeners(p => p.Click.Handler = "limpar()"))),

                    Html.X().GridPanel().AutoScroll(true)
                            .ID("grdModelo")
                            .Store(Html.X().Store()
                                .AutoLoad(false)
                                .Model(Html.X().Model()
                                    //.IDProperty("Codigo")
                                    .Fields(
                                        Html.X().ModelField().Name("Codigo"),
                                        Html.X().ModelField().Name("CodigoPapel"),
                                        Html.X().ModelField().Name("CodigoPessoa"),
                                        Html.X().ModelField().Name("Cpf"),
                                        Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("RFID").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("TipoPapel").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("StatusPapel").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("DataDescarte").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("DataImpressao").Type(ModelFieldType.String),
                                        Html.X().ModelField().Name("DataRegistro").Type(ModelFieldType.Date),
                                        Html.X().ModelField().Name("Ativo").Type(ModelFieldType.Boolean),
                                        Html.X().ModelField().Name("HorizontalTemp").Type(ModelFieldType.Boolean)
                                    )
                                )
                                .Parameters(p =>
                                {
                                    //p.Add(new StoreParameter("empresa", "App.cmbEmpresa.getRawValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("cpf", "App.txtCPFPesquisa.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("cracha", "App.txtCracha.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("passaporte", "App.txtPassaportePesquisa.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("nome", "App.txtNomePesquisa.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("dataCadastro", "App.dtCadastro.getValue()", ParameterMode.Raw));
                                    p.Add(new StoreParameter("ignoreParameters", "false", ParameterMode.Raw));

                                })
                                .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("ObterTodos", "EmitirCracha"))
                                    .Reader(Html.X().JsonReader().Root("data"))
                                )
                                .PageSize(25)
                            )
                            .ColumnModel(
                                Html.X().CommandColumn().Width(50)
                                .Commands(
                                    Html.X().GridCommand().CommandName("EmitirCracha").Icon(Icon.Vcard).ToolTip(n => n.Text = "Imprimir Crachá"),
                                    Html.X().GridCommand().CommandName("DescartarCracha").Icon(Icon.VcardDelete).ToolTip(n => n.Text = "Descartar Crachá")
                                )
                                .Listeners(a => a.Command.Handler = "commandModelo(command,record);"),
                                Html.X().Column().Text("Código Pessoa").DataIndex("CodigoPessoa"),
                                Html.X().Column().Text("Nome").DataIndex("Nome").Flex(1),
                                Html.X().Column().Text("CPF").DataIndex("Cpf"),
                                Html.X().Column().Text("RFID").DataIndex("RFID"),
                                Html.X().Column().Text("Papel").DataIndex("TipoPapel"),
                                Html.X().Column().Text("Empresa").DataIndex("Empresa"),
                                Html.X().Column().Text("Status Papel").DataIndex("StatusPapel"),
                                Html.X().DateColumn().Text("Data Impressão").DataIndex("DataImpressao").Format("dd/MM/yyyy"),
                                Html.X().DateColumn().Text("Data Descarte").DataIndex("DataDescarte").Format("dd/MM/yyyy HH:mm:ss"),
                                Html.X().DateColumn().Text("Data Registro").DataIndex("DataRegistro").Format("dd/MM/yyyy"),
                                Html.X().BooleanColumn().FalseText("INATIVO").TrueText("ATIVO").Text("Status").DataIndex("Ativo")
                                .Renderer("prepareStatus")
                                .HeaderItems(Html.X()
                                    .TextField()
                                    .ID("StatusFilter")
                                    .Listeners(l =>
                                    {
                                        l.Change.Handler = "applyFilter(this);";
                                    })
                                )
                            )
                            .Plugins(
                                Html.X()
                                .FilterHeader()
                            )
                            .BottomBar(
                                Html.X().PagingToolbar()
                                .Items(
                                    Html.X().Label("Registros por página:"),
                                    Html.X().ToolbarSpacer(5),
                                    Html.X().ComboBox()
                                        .Editable(false)
                                        .Width(80)
                                        .Items("25", "100", "500", "1000")
                                        .SelectedItems("25")
                                        .Listeners(l =>
                                        {
                                            l.Select.Fn = "onComboBoxSelect";
                                        })
                                )
                                .HideRefresh(true)
                            )
                        )
                    )
                )
                )
            )
        )
)


@(Html.X()
    .Window()
    .Layout(LayoutType.Fit)
    .Border(false)
    .ID("winPessoa")
    .Icon(Icon.Building)
    .Title("Pessoa")
    .Hidden(true)
    .Height(550)
    .Width(700)
    .Modal(true)
    .Items(
        Html.X()
        .FormPanel(new FormPanel()
        {
            ID = "frmPessoa",
            AutoScroll = true,
            BottomBar = {
                    Html.X()
                        .Toolbar()
                        .Items(
                            Html.X().Button().Text("Adicionar").Icon(Icon.Add).Handler("adicionarPessoa();"),
                            Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("cancelarPessoa();")
                        )
                }
        })
        .Items(
            Html.X()
            .Panel(new Panel
            {
                BottomBar = {
                    Html.X()
                        .Toolbar()
                        .Items(
                            Html.X().Button().Text("Pesquisar").Icon(Icon.Zoom).Handler("pesquisarPessoa();"),
                            Html.X().Button().Text("Limpar").Icon(Icon.Paintbrush).Handler("limparPessoa();")
                        )
                }
            })
            .Border(false)
            .BodyPadding(5)
            .Items(
                Html.X()
                .TextField()
                .Plugins(Html.X()
                    .InputMask(new InputMask
                    {
                        InvalidMaskText = "Formato de CPF inválido",
                        Mask = "999.999.999-99"

                    }))
                .ID("txtCPF")
                .Vtype("cpf")
                .FieldLabel("CPF")
                .BlankText("CPF"),
                Html.X()
                .TextField(new TextField()
                {
                    ID = "txtPassaporte",
                    Name = "Passaporte",
                    FieldLabel = "Passaporte",
                    Width = 300
                }),
                Html.X()
                .TextField(new TextField()
                {
                    Name = "Pessoa",
                    ID = "txtPessoa",
                    FieldLabel = "Pessoa",
                    Width = 350
                })
                .MinLength(3)
            ),

            Html.X()
            .GridPanel()
            .ID("grdPessoa")
            .AutoScroll(true)
            .Title("Pessoa")
            .Store(Html.X()
                .Store()
                .PageSize(5)
                .RemotePaging(false)
                .Model(Html.X()
                    .Model()
                    .Fields(
                        Html.X().ModelField().Name("Codigo").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("CodigoPapel").Type(ModelFieldType.Int),
                        Html.X().ModelField().Name("CPF").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Passaporte").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("TipoSanguineo").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Cargo").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Empresa").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Apelido").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("ApelidoLast").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("TipoPapel").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Contratada").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("Status").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("RFID").Type(ModelFieldType.String),
                        Html.X().ModelField().Name("NumeroCracha").Type(ModelFieldType.String)
                    )
                )
            )
            .ColumnModel(
                Html.X().Column().Text("CPF").DataIndex("CPF"),
                Html.X().Column().Text("Passaporte").DataIndex("Passaporte"),
                Html.X().Column().Text("Nome").DataIndex("Nome"),
                Html.X().Column().Text("Tipo Sanguíneo").DataIndex("TipoSanguineo"),
                Html.X().Column().Text("Empresa").DataIndex("Empresa"),
                Html.X().Column().Text("Papel").DataIndex("TipoPapel"),
                Html.X().Column().Text("Status").DataIndex("Status")
            //,
            //Html.X().Column().Text("Cargo").DataIndex("Cargo"),
            //Html.X().Column().Text("Empresa").DataIndex("Empresa")
            )
            .SelectionModel(
                Html.X()
                .CheckboxSelectionModel()
                .Mode(SelectionMode.Single)
            )
        )
    )
)

@(Html.X()
    .Window()
    .Border(false)
    .Resizable(false)
    .ID("preview")
    .Height(510)
    .Width(296)
    .Modal(true)
    .Icon(Icon.Printer)
    .Layout(LayoutType.Fit)
    .AutoRender(true)
    .AutoScroll(false)
    .AutoDestroy(true)
    .Title("Imprimir Crachá")
    .Hidden(true)
    .Items(
        Html.X()
        .Panel(new Panel()
        {
            AutoScroll = false,
            BottomBar = {
                Html.X()
                .Toolbar()
                .Items(
                    Html.X().Button().Text("Imprimir").Icon(Icon.PrinterGo).Handler("printPreview();"),
                    Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("previewWinCancel(0);")
                )
            }
        }).Items(
            Html.X()
            .Panel()
            .Height(451)
            .Width(284)
            .Region(Region.North)
            .TitleAlign(TitleAlign.Center)
            .Html(
            @"<div id='preview-p' width='100%' height='100%'></div>"
            )
        )

    )
    .Listeners(l => l.Close.Handler = "previewWinClose(0);")
)
@(Html.X()
    .Window()
    .Border(false)
    .Resizable(false)
    .ID("previewHorizontal")
    .Height(365)
    .Width(510)
    .Modal(true)
    .Icon(Icon.Printer)
    .Layout(LayoutType.Fit)
    .AutoRender(true)
    .AutoScroll(false)
    .AutoDestroy(true)
    .Title("Imprimir Crachá")
    .Hidden(true)
    .Items(
        Html.X()
        .Panel(new Panel()
        {
            AutoScroll = false,
            BottomBar = {
                Html.X()
                .Toolbar()
                .Items(
                    Html.X().Button().Text("Imprimir").Icon(Icon.PrinterGo).Handler("printPreview();"),
                    Html.X().Button().Text("Cancelar").Icon(Icon.Cancel).Handler("previewWinCancel(1);")
                )
            }
        }).Items(
            Html.X()
            .Panel()
            .Height(284)
            .Width(451)
            .Region(Region.North)
            .TitleAlign(TitleAlign.Center)
            .Html(
            @"<div id='preview-h' width='100%' height='100%'></div>"
            )
        )

    )
    .Listeners(l => l.Close.Handler = "previewWinClose(1);")
)