﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href=@Url.Content("/Content/css/cracha/cracha.css") rel="stylesheet" />

<script>
    $(document).ready(function () {
        launchDD();

    });

    $(document).on("change", "#colorChoice", function () {
        //$(document).getElementById("#txtNome").style.color = $(this).val();
        $("#txtNome").css("color", $(this).val());
        App.colorChoice = $(this).val();
    });
    function launchDD() {
        Ext.application({
            name: 'DND',

            launch: function () {

                var mainRoom = Ext.get('mainRoom').select('div');
                Ext.each(mainRoom.elements, function (el) {
                    var dd = Ext.create('Ext.dd.DD', el, 'mainRoomDDGroup', {
                        isTarget: false
                    });
                    Ext.apply(dd, overridesOut);
                });
                var tables = Ext.get('tables').select('div');
                Ext.each(tables.elements, function (el) {
                    var dd = Ext.create('Ext.dd.DD', el, 'tablesDDGroup', {
                        isTarget: false
                    });
                    /*step 4*/
                    Ext.apply(dd, overrides);
                });

                var mainTargetOut = Ext.create('Ext.dd.DDTarget', 'tables', 'mainRoomDDGroup', {
                    ignoreSelf: false
                });

                var mainTarget = Ext.create('Ext.dd.DDTarget', 'mainRoom', 'tablesDDGroup', {
                    ignoreSelf: false
                });

            }
        });
    }

    var hvc = function(obj){
        var divC = document.getElementById("mainRoom");
        if(obj.checked)
        {
            divC.style.width = "451.27937007897px";
            divC.style.height = "284.21669291355px";
        }
        else
        {
            divC.style.width = "284.21669291355px";
            divC.style.height = "451.27937007897px";
        }
    };
    var fRedonda = function(obj){
        if(obj.checked)
            $("#fotoCol")[0].style = "width: 177px; height: 230px; position:absolute; z-index:10;";
        else
            $("#fotoCol")[0].style = "width: 128px; height: 170px; position:absolute; z-index:101;"
    };
    var fLiberar = function(obj){
        if(obj.checked)
        {
            $("#fotoCol")[0].remove();
            $("#tables").append("<div class='campo edt imagem'><img id='fotoCol' src='/Content/avatar.png' style='width: 128px; height: 170px; position:absolute; z-index:101;' /></div>");
            launchDD();
        }
    };
    var overrides = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }
            launchDD();

            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            $("#mainRoom").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            $("#mainRoom").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elMainRoom = Ext.get('mainRoom');
            if (this.lastTarget.id != id) {
                elMainRoom.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDD();
        }
    };

    var overridesOut = {
        startDrag: function (e) {
            if (!this.el) {
                this.el = Ext.get(this.getEl());
            }

            launchDD();
            this.lastTarget = this.el.parent();

            this.el.addCls('selected');
            this.initialPosition = this.el.getXY();
        },

        onDrag: function (e) {
            //$("#mainRoom").css("overflow", "inherit");
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
        },

        onDragEnter: function (e, id) {
            launchDD();
            Ext.fly(id).addCls('valid-zone');
        },

        onDragOver: function (e, id) {
            //$("#mainRoom").css("overflow", "hidden");
            console.log('onDragOver');
        },

        onDragOut: function (e, id) {
            Ext.fly(id).removeCls('valid-zone');
        },

        onDragDrop: function (e, id) {
            this.el.dom.style.position = 'absolute';
            this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            Ext.fly(id).removeCls('valid-zone');

            var elTables = Ext.get('tables');
            if (this.lastTarget.id != id) {
                elTables.appendChild(this.el);
                this.el.moveTo(e.getPageX() - 5, e.getPageY() - 5);
            }
        },

        onInvalidDrop: function () {
            this.el.removeCls('valid-zone');
            this.el.moveTo(this.initialPosition[0], this.initialPosition[1]);
        },

        endDrag: function (e, id) {
            this.el.removeCls('selected');
            this.el.highlight();
            launchDD();
        }
    };

    var aplicar = function () {
        var campo = App.cmbCampo.getValue();
        document.getElementById(campo).style.fontSize = App.txtTamanhoFonte.getValue() + "pt";
        document.getElementById(campo).style.fontFamily = App.cmbFonte.getRawValue();
        document.getElementById(campo).style.color = App.colorChoice;
        document.getElementById(campo).style.fontWeight = (App.chkNegrito.checked == true ? 'bold' : 'normal');
        document.getElementById(campo).style.textDecoration = (App.chkSublinhado.checked == true ? 'underline' : 'none');
        document.getElementById(campo).style.fontStyle = (App.chkItalico.checked == true ? 'italic' : 'normal');
    };

    var alteraIcon = function (grid, toolbar, rowIndex, record) {
        var statusButton = toolbar.items.get(1);
        if (record.data.Ativo) {
            statusButton.setIconCls("#Delete");
        } else {
            statusButton.setIconCls("#Accept");
        }
    };

    var prepareStatus = function (v, metaData) {
        if (v) {
            metaData.style = 'background-color : Green; color: White;';
            return metaData.column.trueText;
        } else {
            metaData.style = 'background-color : Red; color: White;';
            return metaData.column.falseText;
        }
    };

    var setarDisable = function (boleano) {
        if (boleano) {
            App.cmbTipoPapel.disable(boleano);
        } else
            App.cmbTipoPapel.enable(!boleano);
    };

    var salvarClick = function () {
        var bg = document.getElementById("mainRoomChild").src;
        if (bg.length > 0)
            Globalsys.Util.obterBlob(bg, salvar);
        else
            salvar();
    };

    var salvar = function (bg) {

        if (!App.frmModelo.isValid()) {
            Ext.Msg.show({
                title: 'Atenção',
                icon: Ext.MessageBox.WARNING,
                msg: 'Não é possível salvar. O formulário possui campos não preenchidos.',
                buttons: Ext.Msg.OK
            });
            return;
        }

        var modelo = App.frmModelo.form.getFieldValues();

        $("#mainRoomChild").remove();
        var modeloCracha = {
            TipoPapel: App.cmbTipoPapel.getValue(),
            Nome: App.txtNome.getValue(),
            Html: $("#mainRoom").html(),
            Horizontal: App.chkHorizontal.getValue() ? 1 : null
        };
        if (!modelo.Codigo) {
            Globalsys.Util.request({
                url: '@Url.Action("Incluir", "ModeloCracha")',
                params: {
                    modeloCracha: modeloCracha,
                    fundo: bg
                },
                success: function (response, opts) {
                    App.grdModelo.store.add(response);
                    App.grdModelo.store.commitChanges();
                    cancelar();
                    Ext.Msg.show({
                        title: 'Confirmação',
                        icon: Ext.MessageBox.INFO,
                        msg: 'Registro incluído com sucesso.',
                        buttons: Ext.Msg.OK
                    });
                },
                failure: function (response, opts) {
                    cancelar();
                    document.getElementById("mainRoomChild").src = bg;
                    $("#mainRoomChild")[0].style = 'position:absolute; z-index: 100; height: 100%;width: 100%;';
                }
            });

        } else {

            modeloCracha.Codigo = modelo.Codigo;

            Globalsys.Util.request({
                url: '@Url.Action("Alterar", "ModeloCracha")',
                params: {
                    modeloCracha: modeloCracha,
                    fundo: bg
                },
                success: function (response, opts) {
                    Globalsys.Util.updateModel(App.grdModelo, response);
                    App.frmModelo.form.reset();
                    setarDisable(false);
                    cancelar();
                    Ext.Msg.show({
                        title: 'Confirmação',
                        icon: Ext.MessageBox.INFO,
                        msg: 'Registro alterado com sucesso.',
                        buttons: Ext.Msg.OK
                    });
                },
                failure: function (response, opts) {
                    cancelar();
                    document.getElementById("mainRoomChild").src = bg;
                    $("#mainRoomChild")[0].style = 'position:absolute; z-index: 100; height: 100%;width: 100%;';
                }
            });
            }
    };

        var dataAtual = function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;
            App.txtDataRegistro.setValue(today);
        };


        var commandModelo = function (command, record) {

            var codigo = record.data.Codigo;

            if (command == "AlterarStatus") {

                Globalsys.Util.request({
                    url: '@Url.Action("AtivarInativar", "ModeloCracha")',
                    params: {
                        codigo: codigo
                    },
                    success: function (response, opts) {
                        Globalsys.Util.updateModel(App.grdModelo, response);
                    }
                });
            }
            if (command == "Selecionar") {
                Globalsys.Util.request({
                    url: '@Url.Action("Selecionar", "ModeloCracha")',
                params: {
                    codigo: codigo
                },
                success: function (response, opts) {
                    cancelar(true);
                    if (response.Fundo)
                    {
                        var blob = Globalsys.Util.base64ToBlob(response.Fundo, "image/jpeg"),
                            url = window.URL.createObjectURL(blob);
                    } else
                        url = "";

                    document.getElementById("mainRoomChild").src = url;
                    $("#mainRoomChild")[0].style = 'position:absolute; z-index: 100; height: 100%;width: 100%;';
                    App.frmModelo.form.setValues(response);
                    
                    App.chkHorizontal.setValue(response.Horizontal != null ? true : false);
                    App.tabPagina.setActiveTab("pnlCadastro");
                    setarDisable(true);
                    $("#mainRoom").append(response.Html);

                    var tables = Ext.get('tables').select('div');
                    var main = Ext.get('mainRoom').select('div');
                    Ext.each(main.elements, function (el) {
                        for (var i = 0; i < tables.elements.length; i++) {
                            if ((el.id == tables.elements[i].id) || (el.className == tables.elements[i].className)) {
                                $(tables.elements[i]).remove();
                                break;
                            }
                        }
                    });

                    launchDD();
                }
            });
        }
        };

    function cancelar(semRecriar) {
        App.frmModelo.form.reset();
        $("#mainRoom").children().remove();
        $("#mainRoom").append("<img id='mainRoomChild' style='position:absolute; z-index: 100; height: 100%;width: 100%;' src=''>");

        dataAtual();
        setarDisable(false);

        if (semRecriar == true)
            return;

        RestaurarCampos();
        //$("#mainRoom").append("<div id='mainRoomChild'></div>");
        $("#mainRoomChild").attr('src', "");
        launchDD();
    }

    function RestaurarCampos() {
        $("#tables").children().remove();
        $("#tables").append(
            "<div class='campo edt txt codigoPessoa' style='z-index: 100;' id='codigoPessoa'>CÓDIGO PESSOA</div>",
            "<div class='campo edt txt nome' style='z-index: 100;' id='nome'>NOME</div>",
            "<div class='campo edt txt apelido' style='z-index: 100;' id='nomeGuerra'>PRIMEIROAPELIDO</div>",
            "<div class='campo edt txt apelidolast' style='z-index: 100;' id='nomeLast'>SEGUNDOAPELIDO</div>",
            "<div class='campo edt txt empresa' style='z-index: 100;' id='empresa'>EMPRESA</div>",
            "<div class='campo edt txt contratada' style='z-index: 100;' id='contratada'>CONTRATADA</div>",
            "<div class='campo edt txt empresacontratada' style='z-index: 100;' id='empresacontratada'>CONTRATADA / EMPRESA</div>",
            "<div class='campo edt txt rfid' style='z-index: 100;' id='rfid'>RFID</div>",
            "<div class='campo edt txt tipoSanguineo' style='z-index: 100;' id='tipoSanguineo'>TIPO SANGUÍNEO</div>",
            "<div class='campo edt txt cargo' style='z-index: 100;' id='cargo'>CARGO</div>",
            "<div class='campo edt txt 8id' style='z-index: 100;' id='8id'>8ID</div>",
            "<div class='campo edt txt codigoPapel' style='z-index: 100;' id='codigoPapel'>CÓDIGO PAPEL</div>",
            "<div class='campo edt txt nomeFantasiaFornecedor' style='z-index: 100;' id='nomeFantasiaFornecedor'>NOME FANTASIA FORNECEDOR</div>",
            "<div class='campo edt imagem'><img id='fotoCol' src='/Content/avatar.png' style='width: 128px; height: 170px; position:absolute; z-index:101;' /></div>",
            "<div class='campo edt logo'><img src='/Content/img/bg/logotk.fw.png' height='63px' width='203px' /></div>"
        );
    }

    function abrirwinCrop(fileUp, value, eOpts) {
        if (jcrop_api)
            $("#cropbox").attr('src', "");
        App.winCrop.show();
    }
    var applyFilter = function (field) {
        var store = App.grdModelo.getStore();
        store.filterBy(getRecordFilter());
    };

    var filterStatus = function (value, dataIndex, record) {
        var val = record.get(dataIndex);

        if ((val == true) && (value.toUpperCase() == "ATIVO")) {
            return true;
        }
        if ((val == false) && (value.toUpperCase() == "INATIVO")) {
            return true;
        }
        if (value == "") { return true; }
        return false;

    };

    var getRecordFilter = function () {
        var f = [];

        f.push({
            filter: function (record) {
                return filterStatus(App.StatusFilter.getValue() || "", "Ativo", record);
            }
        });

        var len = f.length;
        return function (record) {
            for (var i = 0; i < len; i++) {
                if (!f[i].filter(record)) {
                    return false;
                }
            }
            return true;
        };
    };

</script>

@(Html.X().Viewport()
    .Border(false)
    .Layout(LayoutType.Fit)
    .Items(Html.X()
        .FormPanel(new FormPanel
        {
            ID = "frmModelo",
            Border = false
        })
        .LayoutConfig(new VBoxLayoutConfig
        {
            Align = VBoxAlign.Stretch,
            Pack = BoxPack.Start
        })
        .Items(
            Html.X()
            .TabPanel(new TabPanel
            {
                ActiveIndex = 0,
                Border = true,
                ID = "tabPagina",
                Flex = 1
            })
            .Items(
                Html.X()
                .FormPanel(new FormPanel()
                {
                    HideMode = HideMode.Offsets,
                    Flex = 1,
                    ID = "pnlCadastro",
                    Border = true,
                    Title = "CADASTRO",
                    Icon = Icon.Add,
                    BottomBar = {
                            Html.X()
                                .Toolbar()
                                .Items(
                                    Html.X()
                                    .Button()
                                    .Text("Salvar")
                                    .Icon(Icon.Disk)
                                    .Handler("salvarClick()"),
                                    Html.X()
                                    .Button()
                                    .Text("Cancelar")
                                    .Icon(Icon.Cancel)
                                    .Handler("cancelar()"))
                        }
                })
                .LayoutConfig(new HBoxLayoutConfig
                {
                    Align = HBoxAlign.Stretch,
                    Pack = BoxPack.Start
                })
                .Items(
                    Html.X()
                    .FormPanel()
                    .BodyPadding(5)
                    .Flex(1)
                    .Title("DADOS DE CRACHÁ")
                    .TitleAlign(TitleAlign.Center)
                    .Items(Html.X()
                        .Hidden()
                        .ID("hdnModelo")
                        .Name("Codigo"),
                        Html.X()
                        .TextField()
                        .FieldLabel("Nome Modelo").MaxLength(25).EnforceMaxLength(true)
                        .Name("Nome")
                        .ID("txtNome")
                        .Anchor("100%")
                        .IndicatorText("*")
                        .StyleSpec("color: red; font-weight: bold;")
                        .IndicatorTip("Campo requerido."),
                        Html.X()
                        .ComboBox(new ComboBox()
                        {
                            ID = "cmbTipoPapel",
                            FieldLabel = "Tipo",
                            Anchor = "100%",
                            EmptyText = "Tipo",
                            AllowBlank = false,
                            Name = "TipoPapel",
                            IndicatorText = "*",
                            StyleSpec = "color: red; font-weight: bold;",
                            IndicatorTip = "Campo requerido.",
                            Editable = true,
                            DisplayField = "Descricao",
                            ValueField = "Codigo"
                        })
                        .QueryMode(DataLoadMode.Local)
                        .Listeners(l => l.Change.Handler = "if(this.getValue() === null) this.reset();")
                        .TypeAhead(true)
                        .ForceSelection(true)
                        .MinChars(0)
                        .Store(Html.X().Store()
                            .AutoLoad(true)
                            .Model(Html.X().Model()
                                .IDProperty("Codigo")
                                .Fields(
                                    new ModelField("Codigo", ModelFieldType.Int) { Mapping = "Codigo" },
                                    new ModelField("Descricao", ModelFieldType.String) { Mapping = "Descricao" }
                                ))
                            .Proxy(Html.X()
                                .AjaxProxy(new AjaxProxy { Url = Url.Action("ListaTipoPapel", "ModeloCracha") })
                                .Reader(new JsonReader { Root = "Data" }))),
                        Html.X().DateField().FieldLabel("Data Registro").Format("dd/MM/yyyy").ID("txtDataRegistro").ReadOnly(true).Listeners(p => p.BeforeRender.Handler = "dataAtual()"),
                        Html.X().Checkbox().FieldLabel("Horizontal").ID("chkHorizontal").Handler("hvc(this)"),
                        Html.X().Checkbox().FieldLabel("Foto Horizontal").ID("chkFotoRedonda").Handler("fRedonda(this)"),
                        Html.X().Checkbox().FieldLabel("Voltar Foto Inicial").ID("chkLiberarFoto").Handler("fLiberar(this)"),
                        Html.X().FieldSet().Padding(5).Title("Editar Campos")
                        .Items(
                            Html.X().ComboBox().ID("cmbCampo").EmptyText("NOME").Width(200).DisplayField("Nome").ValueField("Codigo")
                                .Store(Html.X()
                                    .Store()
                                    .AutoLoad(false)
                                    .Model(Html.X()
                                        .Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterCampos", "ModeloCracha") })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))), //Fim
                            Html.X().ComboBox().ID("cmbFonte").EmptyText("Arial Black").Width(200).DisplayField("Nome").ValueField("Codigo")
                                .Store(Html.X()
                                    .Store()
                                    .AutoLoad(false)
                                    .Model(Html.X()
                                        .Model()
                                        .IDProperty("Codigo")
                                        .Fields(
                                            new ModelField("Codigo", ModelFieldType.String)
                                            {
                                                Mapping = "Codigo"
                                            },
                                            new ModelField("Nome", ModelFieldType.String)
                                            {
                                                Mapping = "Nome"
                                            }
                                        ))
                                    .Proxy(Html.X().AjaxProxy(new AjaxProxy { Url = Url.Action("ObterFontes", "ModeloCracha") })
                                        .Reader(new JsonReader
                                        {
                                            Root = "Data"
                                        }))), //Fim
                                        Html.X().NumberField().ID("txtTamanhoFonte").EmptyText("10").Width(70),
                                         Html.X().FieldSet().Padding(3).Title("Layout")
                                        .Items(
                                        Html.X().Panel().Border(false).Html(@"<input id='colorChoice' type='color' name='favcolor' value='#ff0000'"),
                                        Html.X().Checkbox().FieldLabel("Negrito").ID("chkNegrito"),
                                        Html.X().Checkbox().FieldLabel("Itálico").ID("chkItalico"),
                                        Html.X().Checkbox().FieldLabel("Sublinhado").ID("chkSublinhado")),
                                        Html.X().Button().Text("Aplicar").Icon(Icon.Pencil).Listeners(p => p.Click.Handler = "aplicar()"),
                                        Html.X().Button().Text("Plano de Fundo").Icon(Icon.Zoom).Handler("abrirwinCrop()")
                        )//Fim fildset
                        ),

                    Html.X()
                    .FormPanel()
                    .BodyPadding(5)
                    .Title("MODELO DE CRACHÁ")
                    .Flex(2)
                    .TitleAlign(TitleAlign.Center)
                    .Items(
                        Html.X()
                        .Panel()
                        .Border(false)
                        .Html(
                            @"<div id='content' style='-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;'>
                            <div id='mainRoom'><img id='mainRoomChild' style='position:absolute; z-index: 100; height: 100%;width: 100%;'></div>
                                <div id='tables'>
                                    <div class='campo edt txt codigoPessoa' style='z-index: 100;' id='codigoPessoa'>CÓDIGO PESSOA</div>
                                    <div class='campo edt txt nome' style='z-index: 100;' id='nome'>NOME</div>
                                    <div class='campo edt txt apelido' style='z-index: 100;' id='nomeGuerra'>PRIMEIROAPELIDO</div>
                                    <div class='campo edt txt apelidolast' style='z-index: 100;' id='nomeLast'>SEGUNDOAPELIDO</div>
                                    <div class='campo edt txt empresa' style='z-index: 100;' id='empresa'>EMPRESA</div>
                                    <div class='campo edt txt contratada' style='z-index: 100;' id='contratada'>CONTRATADA</div>
                                    <div class='campo edt txt empresacontratada' style='z-index: 100;' id='empresacontratada'>CONTRATADA / EMPRESA</div>
                                    <div class='campo edt txt rfid' style='z-index: 100;' id='rfid'>RFID</div>
                                    <div class='campo edt txt tipoSanguineo' style='z-index: 100;' id='tipoSanguineo'>TIPO SANGUÍNEO</div>
                                    <div class='campo edt txt cargo' style='z-index: 100;' id='cargo'>CARGO</div>
                                    <div class='campo edt txt 8id' style='z-index: 100;' id='8id'>8ID</div>
                                    <div class='campo edt txt codigoPapel' style='z-index: 100;' id='codigoPapel'>CÓDIGO PAPEL</div>
                                    <div class='campo edt txt nomeFantasiaFornecedor' style='z-index: 100;' id='nomeFantasiaFornecedor'>NOME FANTASIA FORNECEDOR</div>
                                    <div class='campo edt imagem' ><img id='fotoCol' src='/Content/avatar.png' style='width: 128px; height: 170px; position:absolute; z-index:101;'/></div>
                                    <div class='campo edt logo' style='z-index: 100;' ><img src='/Content/img/bg/logotk.fw.png' style='z-index: 100;' height='63px' width='203px' /></div>
                                </div>
                            </div>"
                        )
                    )
                ),

                Html.X().Panel(new Panel()
                {
                    Border = false,
                    Title = "LISTA",
                    Icon = Icon.Table,
                    AutoScroll = true,
                    Layout = LayoutType.Fit.ToString()
                })
                .HideMode(Ext.Net.HideMode.Offsets)
                .Items(Html.X().GridPanel()
                    .ID("grdModelo")
                    .Store(Html.X().Store()
                        .AutoLoad(true)
                        .Proxy(Html.X()
                            .AjaxProxy(new AjaxProxy
                            {
                                Url = Url.Action("ObterTodos", "ModeloCracha")
                            })
                            .Reader(new JsonReader
                            {
                                Root = "Data"
                            }))
                        .ID("strModelo")
                        .PageSize(15)
                        .RemotePaging(false)
                        .Model(Html.X()
                            .Model()
                            .IDProperty("Codigo")
                            .Fields(
                                Html.X().ModelField().Name("Codigo").Type(ModelFieldType.Int),
                                Html.X().ModelField().Name("Nome").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("TipoPapel").Type(ModelFieldType.String),
                                Html.X().ModelField().Name("DataRegistro").Type(ModelFieldType.Date),
                                Html.X().ModelField().Name("Ativo").Type(ModelFieldType.Boolean)
                            )
                        )
                    )
                    .ColumnModel(
                        Html.X().CommandColumn()
                        .Width(50)
                        .Commands(
                            Html.X().GridCommand().CommandName("Selecionar").Icon(Icon.NoteEdit),
                            Html.X().GridCommand().CommandName("AlterarStatus").Icon(Icon.Accept))
                        .Listeners(a => a.Command.Handler = "commandModelo(command,record);"),
                        Html.X().Column().Text("Código").DataIndex("Codigo"),
                        Html.X().Column().Text("Modelo").DataIndex("Nome").Flex(1),
                        Html.X().Column().Text("Tipo").DataIndex("TipoPapel"),
                        Html.X().DateColumn().Text("Data Registro").DataIndex("DataRegistro").Format("dd/MM/yyyy"),
                        Html.X().BooleanColumn().FalseText("INATIVO").TrueText("ATIVO").Text("Status")
                        .DataIndex("Ativo")
                        .Renderer("prepareStatus")
                        .HeaderItems(Html.X()
                            .TextField()
                            .ID("StatusFilter")
                            .Listeners(l =>
                            {
                                l.Change.Handler = "applyFilter(this);";
                            })
                        )
                    )
                    .Plugins(
                        Html.X().FilterHeader()
                    //.Listeners(l =>
                    //{
                    //    l.BeforeFilter.Handler = "applyFilter(this);";
                    //})
                    )
                    .BottomBar(
                        Html.X()
                        .PagingToolbar()
                        .HideRefresh(true)
                    )
                )
            )
        )
    )
)

@(Html.X()
    .Window()
    .Border(false)
    .Resizable(true)
    .ID("winCrop")
    .Height(500)
    .Width(700)
    .Icon(Icon.Cut)
    .Layout(LayoutType.Fit)
    .AutoRender(true)
    .AutoScroll(true)
    .Reload()
    .AutoDestroy(true)
    .UpdateLayout()
    //.Padding(5)
    .Title("Plano de Fundo")
    .Hidden(true)
        .Items(
            Html.X()
            .Panel()
            .AutoScroll(true)
            .Layout(LayoutType.Fit)
            .Border(false)
            .Items(
                Html.X()
                .Container()
                .ItemsFromPartial("CropHorizontal", "modeloCracha")
            )
        )
    .Listeners(l => l.Show.Handler = "updateCoords()")
)