﻿@*@model string*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcessoNegado</title>
    
    <script>
        //Ext.onReady(function() {
        //    var a = '@Model';
        //    //App.lblMessage.setValue(a);
        //});

        function redirect() {
            document.location.href = "/";
        }
    </script>
</head>
<body>
    <div class="login">
        <div>
            @(Html.X().ResourceManager())

            @Html.X().Viewport().Layout(LayoutType.Fit).Items(
                Html.X().Window(new Window()
                {
                    Closable = false,
                    Resizable = false,
                    Icon = Icon.LockBreak,
                    Draggable = false,
                    MinHeight = 170,
                    MinWidth = 350,
                })
                    .Items(
                        Html.X().Panel(new Panel()
                        {
                            Border = false,
                            Padding = 30,
                            BodyStyle = "background-color:transparent;"
                        })
                            .Layout(LayoutType.Form)
                            .Items(
                                Html.X().Label(new Label()
                                {
                                    Html = "<center><font size='5px' color ='FF0000'>Acesso negado</font></center>"
                                }),
                                Html.X().Label(new Label()
                                {
                                    ID = "lblMessage",
                                    Text = "Você não tem permissão para acessar esta página.",
                                    MarginSpec = "10 0 0 0"
                                }),
                                Html.X().Button(new Button()
                                {
                                    Text = "Voltar",
                                    Icon = Icon.PageBack,
                                    MarginSpec = "10 0 0 0",
                                    Handler = "redirect();",
                                    //Handler = "window.history.go(-1);",
                                    TextAlign = ButtonTextAlign.Center,
                                    Margin = 0
                                })
                            )
                    //.Html(@"
                    //    <table style='margin:30px auto;' cellspacing='0'>   
                    //        <tr><td align='center'><font size= '5px' color ='FF0000'>Acesso negado</font></td></tr>
                    //        <tr><td style='height:10px;'></td></tr>
                    //        <tr><td align='center'>
                    //            <font size='2px' color='#000000'>" + Html.X().Label().ID("lblMessage").Text("Você não tem permissão para acessar esta página 1.") + @"</font>
                    //        </td></tr>
                    //        <tr><td style='height:35px;'></td></tr>
                    //    </table>
                    //")
                    ))
        </div>
    </div>
</body>
</html>
