﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Senha Login</title>

    <style>
    </style>

    <script src="@Url.Content("~/Scripts/Globalsys.Util.js")"></script>
    <script>

    

        function login() {
            if (!App.frmAlterarSenha.isValid()) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'Não é possível salvar. O formulário possui campos não preenchidos.', buttons: Ext.Msg.OK });
                return;
            }
            var senhaNova = App.txtNova.getValue();
            var senhaNovaConf = App.txtConfNova.getValue();
            var captcha = App.txtCaptcha.getValue();
            if (senhaNova != senhaNovaConf) {
                Ext.Msg.show({ title: 'Atenção', icon: Ext.MessageBox.WARNING, msg: 'As senhas novas não correspondem. Tente novamente.', buttons: Ext.Msg.OK });
                return;
            }

            Globalsys.Util.request({
                url: '@Url.Action("AlterarSenhaLogin", "EsqueciSenha")',
                params: {
                    senhaNova: senhaNova,
                    senhaNovaConf: senhaNovaConf,
                    login: App.hdnLogin.getValue(),
                    captcha: captcha

                },
                success: function (response, opts) {
                    App.frmAlterarSenha.form.reset();
                    Ext.Msg.show({
                        title: 'Confirmação',
                        icon: Ext.MessageBox.INFO,
                        msg: 'Senha alterada com sucesso.',
                        buttons: Ext.Msg.OK,
                        fn: function(btn) {
                            if (btn == 'ok') {
                                window.location = '@Url.Action("Index", "Login")';

                            }
                        }
                    });
                }
            });
        }

        function geraCaptcha() {

            Globalsys.Util.request({
                url: '@Url.Action("GeraCaptcha", "EsqueciSenha")',
                params: {

                },
                success: function(response, opts) {
                    App.txtCaptcha.setFieldLabel(response);
                }
            });
        }

    </script>

</head>
<body>
    <div class="login">
        <div>
            @(Html.X().ResourceManager())

            @Html.X().Viewport().Listeners(l => l.AfterRender.Fn = "geraCaptcha").Layout(LayoutType.Fit).StyleSpec("background-image: url('/Content/img/bg/login.fw201708.png'); background-repeat: no-repeat;").Items(

                Html.X().Window()
                .ID("wndAlterarSenha")
                .Closable(false)
                .Resizable(false)
                .Icon(Icon.Lock)
                .Title("Recuperar Acesso")
                .Draggable(true)
                .Height(180)
                .Width(350)
                .Modal(true)
                .BodyPadding(5)
                .Layout(LayoutType.Fit)
                .Items(Html.X().FormPanel(new FormPanel()
                            {
                                ID = "frmAlterarSenha",
                                BodyPadding = 5,
                                BodyStyle = "background-color:transparent;",
                            }).Layout(LayoutType.Form).Items(Html.X().TextField(new TextField()
                                            {
                                                ID = "txtNova",
                                                FieldLabel = "Nova senha",
                                                Width = 300,
                                                Name = "SenhaNova",
                                                InputType = Ext.Net.InputType.Password,
                                                EmptyText = "Nova senha",
                                                AllowBlank = false,
                                                IndicatorText = "*",
                                                StyleSpec = "color: red; font-weight: bold;",
                                                IndicatorTip = "Campo requerido."

                                            }), Html.X().TextField(new TextField()
                                            {
                                                ID = "txtConfNova",
                                                FieldLabel = "Confirmar nova senha",
                                                Width = 300,
                                                Name = "ConfimarSenhaNova",
                                                InputType = Ext.Net.InputType.Password,
                                                EmptyText = "Nova senha",
                                                AllowBlank = false,
                                                IndicatorText = "*",
                                                StyleSpec = "color: red; font-weight: bold;",
                                                IndicatorTip = "Campo requerido."

                                            }),Html.X().TextField(new TextField()
                                            {
                                                ID = "txtCaptcha",
                                                FieldLabel = "Captcha",
                                                Width = 300,
                                                MaskRe = "/[0-9]/",
                                                AllowBlank = false,
                                                IndicatorText = "*",
                                                StyleSpec = "color: red; font-weight: bold;",
                                                IndicatorTip = "Campo requerido."
                                            })
                                        ), Html.X().Hidden(new Hidden()
                                        {
                                            ID = "hdnLogin"
                                        })
                                    )
                .Buttons(
                    Html.X().Button()
                       .Text("Recuperar acesso").Icon(Icon.Accept).Handler("login();")

                     )
                ))
        </div>
    </div>
</body>
</html>


