﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcessoNegado</title>

    <script>
        function redirect() {
            document.location.href = "/";
        }
    </script>
</head>
<body>
    <div class="login">
        <div>
            @(Html.X().ResourceManager())

            @Html.X().Viewport().Layout(LayoutType.Fit).Items(
                Html.X().Window(new Window()
                {
                    Closable = false,
                    Resizable = false,
                    Icon = Icon.LockBreak,
                    Draggable = false,
                    MinHeight = 170,
                    MinWidth = 350,
                    Title = "ACESSO NEGADO"
                })
                    .Items(
                        Html.X().Panel(new Panel()
                        {
                            Border = false,
                            Padding = 30,
                            BodyStyle = "background-color:transparent;"
                        })
                            .Layout(LayoutType.Form)
                            .Items(
                                Html.X().Label(new Label()
                                {
                                    Html = "<font size='5px' color ='FF0000'>Acesso negado</font>"
                                }),
                                Html.X().Label(new Label()
                                {
                                    Text = "Favor realizar nova solicitação de recuperação de senha.",
                                    MarginSpec = "10px 0px 0px 0px"
                                }),
                                Html.X().Button(new Button()
                                {
                                    Text = "Ir para página inicial",
                                    Icon = Icon.WorldGo,
                                    MarginSpec = "10 0 0 0",
                                    Handler = "redirect();",
                                    StyleSpec = "text-align:center;margin-left: auto;margin-right: auto;"
                                })
                            )
                    )
                )
        </div>
    </div>
</body>
</html>
