﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width" />
    <title>Esqueci Senha</title>

    <style>
    </style>

    <script src="@Url.Content("~/Scripts/Globalsys.Util.js")"></script>
    <script>

        var selecionaDoc = function() {

            var doc = App.CmbDocumento.getValue();

            if (doc == "1") {
                App.txtPassaporte.hide();
                App.txtPassaporte.reset();
                App.txtCPF.show();
            }
            if (doc == "2") {
                App.txtCPF.hide();
                App.txtCPF.reset();
                App.txtPassaporte.show();
            }
        };

        function recuperarAcesso() {

            if (!App.frmEsqueci.isValid()) return;

            var email = App.txtEmail.getValue();
            var cpf = App.txtCPF.getValue();
            var passaporte = App.txtPassaporte.getValue();
            var captcha = App.txtCaptcha.getValue();

            Globalsys.Util.request({
                url: '@Url.Action("RecuperarAcesso", "EsqueciSenha")',
                params: {
                    email: email,
                    cpf: cpf,
                    passaporte: passaporte,
                    captcha: captcha
                },
                success: function(response, opts) {
                    App.frmEsqueci.form.reset();
                    Ext.Msg.show({ title: 'Confirmação', icon: Ext.MessageBox.INFO, msg: ' Enviado por e-mail com sucesso.', buttons: Ext.Msg.OK });
                }
            });
        }

        function geraCaptcha() {

            Globalsys.Util.request({
                url: '@Url.Action("GeraCaptcha", "EsqueciSenha")',
                params: {

                },
                success: function(response, opts) {
                    App.txtCaptcha.setFieldLabel(response);
                }
            });
        }
    </script>

</head>
<body>
    <div class="login">
        <div>
            @(Html.X().ResourceManager())

            @Html.X().Viewport().Listeners(l => l.AfterRender.Fn = "geraCaptcha").Layout(LayoutType.Fit).StyleSpec("background-image: url('/Content/img/bg/login.fw201708.png'); background-repeat: no-repeat;").Items(

                Html.X().Window()
                .Closable(false)
                .CloseAction(CloseAction.Destroy)
                .Resizable(false)
                .Height(180)
                .Icon(Icon.Lock)
                .Title("Recuperar Acesso")
                .Draggable(true)
                .Width(350)
                .Modal(true)
                .BodyPadding(5)
                .Layout(LayoutType.Fit)
                .Items(
                    Html.X().FormPanel()
                        .ID("frmEsqueci")
                        .Layout(LayoutType.Form)
                        .Border(false)
                        .BodyStyle("background-color:transparent;")
                        .Items(
                            Html.X().ComboBox(new ComboBox()
                            {
                                ID = "CmbDocumento",
                                FieldLabel = "Documento",
                                Editable = false,
                                EmptyText = "Selecione Documento"
                            }).Listeners(ls => ls.Select.Handler = "selecionaDoc();")
                            .Items(new ListItem("CPF", "1"), new ListItem("Passaporte", "2")),
                             Html.X().TextField(new TextField()
                                {
                                    ID = "txtCPF",
                                    FieldLabel = "CPF",
                                    Width = 300,
                                    EmptyText = "CPF",
                                    Hidden = true
                                }).Plugins(Html.X().InputMask(new InputMask
                                                                {
                                                                    InvalidMaskText = "Formato de CPF inválido",
                                                                    Mask = "999.999.999-99"
                                                                })
                                            ),
                            Html.X().TextField()
                                .ID("txtPassaporte")
                                .Hidden(true)
                                .FieldLabel("Passaporte")
                                .BlankText("Passaporte"),
                            Html.X().TextField(new TextField()
                            {
                                Vtype = "email",
                                VtypeText = "O formato do e-mail deve ser usuario@dominio.com.br",

                            }).ID("txtEmail")
                                .FieldLabel("Email cadastrado")
                                .AllowBlank(false),
                            Html.X().TextField(new TextField()
                            {
                                MaskRe = "/[0-9]/"

                            }).ID("txtCaptcha")
                              .FieldLabel("Captcha")
                              .AllowBlank(false)
                        )
                )
                .Buttons(
                    Html.X().Button()
                       .Text("Recuperar acesso").Icon(Icon.Accept).Handler("recuperarAcesso();")

                     )   
                )


        </div>
    </div>
</body>
</html>
